
{% extends "layout-4.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}



   <!-- <div class="clear-bar">
	   		<h2 class="govuk-heading-l">Ashley Chamberlain<span>ZZ 41 54 60 Z</span></h2>
	   		<p>What you owe:
	   				<span>&pound;120.00</span></p>

	   </div> -->


	   <div class="govuk-grid-row">

        <div class="govuk-grid-column-full">


		<span class="back-link"><a href="javascript: history.go(-1)" class="govuk-back-link">Back</a></span>
		


		<h1 class="govuk-heading-xl">
			<span class="govuk-caption-xl">Make an additional payment</span>
			Payment summary</h1>
		
		
		<div class="govuk-inset-text mb10">
 Payment today: <span class="total-amount">&pound;200.00</span>
 </div>
		


																						
											
		
		
		<table class="govuk-table mb40">
									 
									 <caption class="visually-hidden">How this payment will affect your plan</caption>
									 
									 
									 <thead>
									 	<tr>
									 	
									 		 <th scope="row" class="govuk-table__header">&nbsp;</th>
									 		  <th scope="row" class="govuk-table__header">Before payment</th>
									 		   <th scope="row" class="govuk-table__header updatedPlanHeading">After payment</th>
									 	</tr>
									 </thead>
									 		 
										
								
										  <tbody class="govuk-table__body">
										  
										
											
											 <tr class="govuk-table__row">
										      <th scope="row" class="govuk-table__header">Total amount left to pay</th>
										       {% if data['paymentChoices']=='12Month'%}
										    
										    <td class="govuk-table__cell">&pound;1980.00</td>
										    <td class="govuk-table__cell updatedPlanStatus">&pound;1780.00</td>
							
								
											{% elif data['paymentChoices']=='24Month'%}
											
											<td class="govuk-table__cell">&pound;2070.00</td>
										    <td class="govuk-table__cell updatedPlanStatus">&pound;1870.00</td>
											
											
											
											{% elif data['paymentChoices']=='36Month'%}
											
											
											<td class="govuk-table__cell">&pound;1458.00</td>
										    <td class="govuk-table__cell updatedPlanStatus">&pound;1258.00</td>

											
											{% elif data['paymentChoices']=='48Month'%}
											
											<td class="govuk-table__cell">&pound;2100.00</td>
										    <td class="govuk-table__cell updatedPlanStatus">&pound;1900.00</td>

											
											{% elif data['paymentChoices']=='72Month'%}
											
											<td class="govuk-table__cell">&pound;2115.00</td>
										    <td class="govuk-table__cell updatedPlanStatus">&pound;1915.00</td>
											
				
											{% else %}
											
																
											
											
											{% endif %}
											 </tr>

											 
											 
											 
											 <tr class="govuk-table__row">
										      <th scope="row" class="govuk-table__header">Payments remaining</th>
										      
										       {% if data['paymentChoices']=='12Month'%}
										    
											    <td class="govuk-table__cell">11</td>
												<td class="govuk-table__cell updatedPlanStatus">10</td>
									
												{% elif data['paymentChoices']=='24Month'%}
												
												<td class="govuk-table__cell">23</td>
												<td class="govuk-table__cell updatedPlanStatus">21</td>										
												
												{% elif data['paymentChoices']=='36Month'%}
												
												<td class="govuk-table__cell">35</td>
												<td class="govuk-table__cell updatedPlanStatus">30</td>
								
												
												{% elif data['paymentChoices']=='48Month'%}
												
												<td class="govuk-table__cell">47</td>
												<td class="govuk-table__cell updatedPlanStatus">41</td>
							
												
												{% elif data['paymentChoices']=='72Month'%}
												
												<td class="govuk-table__cell">71</td>
												<td class="govuk-table__cell updatedPlanStatus">62</td>
												
												
												{% elif data['paymentChoices']=='25Month'%}
												
												<td class="govuk-table__cell">99</td>
												<td class="govuk-table__cell updatedPlanStatus">86</td>
	
	
												{% endif %}
										      
										      
										      
										      
										      
											 </tr>
											 
											 
											 <tr class="govuk-table__row">
										      <th scope="row" class="govuk-table__header">Expected final payment</th>
										      
										      
										      {% if data['paymentChoices']=='12Month'%}
										       
										      <td class="govuk-table__cell">{{ data['paymentDay'] }} October 2021</td>
										      <td class="govuk-table__cell updatedPlanStatus">{{ data['paymentDay'] }} September 2022</td>
										      
										      {% elif data['paymentChoices']=='24Month'%}
										      <td class="govuk-table__cell">{{ data['paymentDay'] }} October 2023</td>
										      <td class="govuk-table__cell updatedPlanStatus">{{ data['paymentDay'] }} August 2023</td>
										      
										      {% elif data['paymentChoices']=='36Month'%}
										      <td class="govuk-table__cell">{{ data['paymentDay'] }} October 2024</td>
										      <td class="govuk-table__cell updatedPlanStatus">{{ data['paymentDay'] }} July 2024</td>
										      
										      {% elif data['paymentChoices']=='48Month'%}
										      <td class="govuk-table__cell">{{ data['paymentDay'] }} October 2025</td>
										      <td class="govuk-table__cell updatedPlanStatus">{{ data['paymentDay'] }} June 2025</td>
										      
										      {% elif data['paymentChoices']=='72Month'%}
										      <td class="govuk-table__cell">{{ data['paymentDay'] }} October 2027</td>
										      <td class="govuk-table__cell updatedPlanStatus">{{ data['paymentDay'] }} May 2027</td>
										      
										      
										      {% endif %}
										      
											 </tr>
											 
											 <tr class="govuk-table__row">
										      <th scope="row" class="govuk-table__header">Final payment amount</th>
										      
										      
										      {% if data['paymentChoices']=='12Month'%}
										      
										      <td class="govuk-table__cell">&pound;125.00</td>
										      <td class="govuk-table__cell updatedPlanStatus">&pound;95.00</td>
										      
										      {% elif data['paymentChoices']=='24Month'%}
										      
										      <td class="govuk-table__cell">&pound;51.00</td>
										      <td class="govuk-table__cell updatedPlanStatus">&pound;42.00</td>
										      
										      {% elif data['paymentChoices']=='36Month'%}
										      
										      <td class="govuk-table__cell">&pound;30.00</td>
										      <td class="govuk-table__cell updatedPlanStatus">&pound;20.00</td>
										      
										      {% elif data['paymentChoices']=='48Month'%}
										      
										      <td class="govuk-table__cell">&pound;19.50</td>
										      <td class="govuk-table__cell updatedPlanStatus">&pound;16.00</td>
										      
										      {% elif data['paymentChoices']=='72Month'%}
										      
										      <td class="govuk-table__cell">&pound;9.00</td>
										      <td class="govuk-table__cell updatedPlanStatus">&pound;8.00</td>
										      
										      {% elif data['paymentChoices']=='25Month'%}
										      
										      <td class="govuk-table__cell">&pound;15.00</td>
										      <td class="govuk-table__cell updatedPlanStatus">&pound;15.00</td>
										      
										      
										      {% endif %}
											 </tr>
											 
											 
										  </tbody>
										  
		</table>
		
											
										
										<p><a href="additionalFinish" class="govuk-button">Continue to pay</a></p>		
						


    </div>
</div>

{% endblock %}
