
{% extends "layout-4.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}



   <!-- <div class="clear-bar">
	   		<h2 class="govuk-heading-l">Ashley Chamberlain<span>ZZ 41 54 60 Z</span></h2>
	   		<p>What you owe:
	   				<span>&pound;120.00</span></p>

	   </div> -->


	   <div class="govuk-grid-row">

        <div class="govuk-grid-column-three-quarters">
        
        
        <span class="back-link"><a href="javascript: history.go(-1)" class="govuk-back-link">Back</a></span>


									<span class="govuk-caption-xl">Ashley Chamberlain</span>
									<h1 class="govuk-heading-xl mb30">
										Your account is now covered <br>by Breathing Space</h1>
				

		
		<p>During this period, the recovery of any outstanding amounts owed to DWP will be paused. We will contact you again when recovery resumes.</p>





<p class="mt20"><a href="../index" class="govuk-button mb0">Sign out</a></p>
											


    </div>
</div>

{% endblock %}
