
{% extends "layout-4.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}



   <!-- <div class="clear-bar">
	   		<h2 class="govuk-heading-l">Ashley Chamberlain<span>ZZ 41 54 60 Z</span></h2>
	   		<p>What you owe:
	   				<span>&pound;120.00</span></p>

	   </div> -->


	   <div class="govuk-grid-row">

        <div class="govuk-grid-column-three-quarters">


		<span class="back-link"><a href="javascript: history.go(-1)" class="govuk-back-link">Back</a></span>



									
									<h1 class="govuk-heading-xl">
	   	<span class="govuk-caption-xl">Payment notifications</span>Summary</h1>
		   
		   
		   
		   
		   
		   
		   <div class="flexibleBanner">
			   
			   
			   <ul class="govuk-list">
			   
						   
						   
							  
							  
							  <li>
									 <h3>Email</h3>
									<b>
										
								  {{ data['commsEmailAddress'] }}
									
									</b>
									</li>
									
									
									<li>
										   <h3>Text message</h3>
										  <b>
											  
										{{ data['commsTextNumber'] }}
										  
										  </b>
										  </li>
						   
						   
					
			   </ul>
			   
		   
			   
			   </div> 
			   
			   
			   <p>You will only receive updates about unsuccessful payments.</p>
			   

			<form class="form" action="XLddPlan#past-week" method="post">
  <fieldset class="visually-hidden">
	<legend>Hidden field</legend>

	<div>
		<input id="commsYes" name="commsSign" type="radio" value="commsYes" checked="checked">
		<label for="commsYes">Yes</label>
	  </div>
	  
	  <div>
		<input id="commsNo" name="commsSign" type="radio" value="commsNo">
		<label for="commsNo">No</label>
	  </div>
	  
	  </fieldset>
	  
	  <button class="govuk-button mt20 mb20" data-module="govuk-button">Confirm</button>
   
	  
	  
	 </form>			

							




    </div>
</div>

{% endblock %}
