
{% extends "layout-3a.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}



   <!-- <div class="clear-bar">
	   		<h2 class="govuk-heading-l">Ashley Chamberlain<span>ZZ 41 54 60 Z</span></h2>
	   		<p>What you owe:
	   				<span>&pound;120.00</span></p>

	   </div> -->


	   <div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">


<span class="back-link"><a href="javascript: history.go(-1)" class="govuk-back-link">Back</a></span>


	   <h1 class="govuk-heading-xl">Make an additional payment</h1>

	   <p>Making an additional payment means you will clear your debt quicker – your monthly payments will stay the same but it may affect your final payment amount.</p>
	   
	   
	  <div class="govuk-inset-text">
		   <p>This does not cover any unsuccessful payments &ndash; you should make sure you have enough money in your account cover your next payment.</p>
	   </div>	
	   
		
		<p><a href="additionalPayment.html" class="govuk-button">Continue</a></p>
		


    </div>
</div>

{% endblock %}
