
{% extends "layout-4.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}




  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">



   <!-- <div class="clear-bar">
	   		<h2 class="govuk-heading-l">Ashley Chamberlain<span>ZZ 41 54 60 Z</span></h2>
	   		<p>What you owe:
	   				<span>&pound;120.00</span></p>

	   </div> -->

	   <span class="back-link"><a href="javascript: history.go(-1)" class="govuk-back-link">Back</a></span>


									<h1 class="govuk-heading-xl mb30">
										<span class="govuk-caption-xl">Ashley Chamberlain</span>
										Details of what you owe</h1>
									
						


		   <h2 class="govuk-heading-m mb0">
			 
			   Universal Credit

		   </h2>
	   <p>Budgeting advance</p>
										 
													  <div class="flexibleBanner">
													  
														  <ul class="govuk-list">
															  <li>
																  <h3>Amount owed</h3>
																  <b>&pound;320.00</b>
															  </li>
															  <li>
																  <h3>Loan received:</h3>
																  <b>19 July 2021</b>
															  </li>
												
														  </ul>
													 <!--<p>Amount owed: &pound;1000.00</p>
													 <p>Date period: 26 June 2020</p>-->
													  </div>
		 
		 <p><a href="choice" class="govuk-button">Pay the full amount</a></p>
		 
		 
			
		   <p>If you have any questions, contact Universal Credit directly:</p>
	 
	 
													 <ul class="govuk-list">
													   <li>Telephone: 0800 012 1331</li>
														<!-- <li>Textphone: 0800 328 1344</li>-->
														 <li>Monday to Friday, 10am to 4pm (excluding public holidays)</li>
													 </ul>
	 
												 <p class="govuk-body">
												   <a class="govuk-link" href="https://www.nidirect.gov.uk/articles/contacting-08-and-03-numbers">Find out about call charges</a>
												 </p>
	 

 
<!--<p><b>
The total amount you owe does not include any Discretionary Support loans as you cannot repay them through this service.</b>
</p>-->
 

	


										<!--<p><a href="index" class="govuk-button">Finish</a></p>-->

									<!--// view what you owe end -->
									
									
									
									





    </div>
</div>

{% endblock %}
