
{% extends "layout-4.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}



   <!-- <div class="clear-bar">
	   		<h2 class="govuk-heading-l">Ashley Chamberlain<span>ZZ 41 54 60 Z</span></h2>
	   		<p>What you owe:
	   				<span>&pound;120.00</span></p>

	   </div> -->


	   <div class="govuk-grid-row">

        <div class="govuk-grid-column-three-quarters">


									<span class="govuk-caption-xl">Ashley Chamberlain</span>
									<h1 class="govuk-heading-xl mb30">
										The total amount you owe<br>has changed</h1>




										<div class="flexibleBanner">


											<ul class="govuk-list">
	
												<li>
													<h3>New debt incurred</h3>


														<b>&pound;2400.00</b>



												</li>
												<li>
													<h3>You now owe</h3>


														<b>&pound;5950.00</b>



												</li>
											</ul>
											
											
											
											</div>
											
											
											
										<p>Your current payments do not need to change. However, if you do not increase your payments, it will take longer to clear your debt and may require a review.</p>
											


<p><a href="debtBreakdownNew" class="secondary-invert">View details of new debt incurred</a></p>

											



										<p class="mt30"><a href="dashboardDebit" class="govuk-button mb0">Continue to account home</a></p> 



										<!--// Struggling to pay end -->







    </div>
</div>

{% endblock %}
