
{% extends "layout-4.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}



   <!-- <div class="clear-bar">
	   		<h2 class="govuk-heading-l">Ashley Chamberlain<span>ZZ 41 54 60 Z</span></h2>
	   		<p>What you owe:
	   				<span>&pound;120.00</span></p>

	   </div> -->


	   <div class="govuk-grid-row">

        <div class="govuk-grid-column-three-quarters">


		<span class="back-link"><a href="javascript: history.go(-1)" class="govuk-back-link">Back</a></span>
		
		
		
		
<h1 class="govuk-heading-xl">
		<span class="govuk-caption-xl">Change Direct Debit amount</span>
	Bank or building society 
<br>account details</h1>
		
		
		
		
		
		
		<div class="flexibleBanner">
											
											
											<ul class="govuk-list">
											
											
											
								<!--			<li>
													<h3>Total amount owed</h3>
													<b>&pound;5980.00</b>
												</li>
							 -->
												
												
													

																										    
													    <li>
													     <h3>Name on the account</h3>
													    <b>A. Chamberlain
													    													    
													    </b>
													    </li>
													    
													    
													    <li>
													    	<h3>Sort code</h3>
													    	<b>12 - 23 - **
													    	  </b>
													    </li>
													    
													    <li>
													    	<h3>Account number</h3>
													    	<b>1234****
													    	  </b>
													    </li>
													    
											
				
									
											</ul>
											
										
											
											</div>
		

		
		

			 <form class="form" action="directDebitDayChange" method="post">
			
			
			
			<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h2 class="govuk-fieldset__heading">
      
        Do you want to change your current bank details?
      </h2>
    </legend>

   <div class="govuk-radios govuk-radios--inline">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="bankchange-yes" name="bankchange" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="bankchange-yes">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="bankchange-no" name="bankchange" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="bankchange-no">
          No
        </label>
      </div>
    </div>


  </fieldset>
</div>
			
			
			
			 <button class="govuk-button" data-module="govuk-button">Continue</button>

			
			
			
			 </form>
			
		
		


									
									
									


    </div>
</div>

{% endblock %}
