
{% extends "layout-3a.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}



   <!-- <div class="clear-bar">
	   		<h2 class="govuk-heading-l">Ashley Chamberlain<span>ZZ 41 54 60 Z</span></h2>
	   		<p>What you owe:
	   				<span>&pound;120.00</span></p>

	   </div> -->


	   <div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">


	    <h1 class="govuk-heading-xl">Register</h1>
	    
	    
	    
	   	    

            <p>You will need to create an account if you have not used the service before.</p>
            
            
            
            
            
            <p>To create an account you will need:</p>

            <ul class="govuk-list govuk-list--bullet">
                <li>an email address</li>
                <li>a mobile phone</li>
            </ul>
            
            

           

          
<details class="govuk-details mt20" data-module="govuk-details">
		  <summary class="govuk-details__summary">
		    <span class="govuk-details__summary-text">I do not have an email address or mobile phone</span>
		  </summary>
		  <div class="govuk-details__text">
		   <p>If you are unable to register for this service, you need to contact Debt Management to discuss the options available to you.</p>


        <ul class="govuk-list">
		  <li>Telephone: 0800 169 0236</li>
		  <li>Monday to Friday, 10am to 4pm (except public holidays)</li>
		</ul>
		<p class="govuk-body">
		  <a class="govuk-link" href="https://www.gov.uk/call-charges">Find out about call charges</a>
		</p>



		  </div>
		</details>



<div class="govuk-inset-text">
<h3 class="govuk-heading-m mb10">Already registered?</h3>
<a href="#">Sign in to your account</a>
</div>



<p><a href="#" class="govuk-button">Continue</a></p>

    </div>
</div>

{% endblock %}
