
{% extends "layout-4.html" %}



{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}




{% block content %}






  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    
      <div class="clear-bar stripped-border">
	   		<div class="identifier">
	   			
	   			<h3 class="govuk-heading-l">
	   			<span class="govuk-caption-l">Account home</span>
	   			Ashley Chamberlain</h3>
	   		
	   		</div>
	   		<div class="govuk-inset-text">
			 Total amount owed: <span class="total-amount">&pound;550.00</span>
			</div>
	   		
	   	
	   </div> 
	   
	   
<!--<div class="warning-message complete-alert">
							 <h5 class="govuk-heading-s">Payment status</h5>
							 	<p>A payment has been made. It will take up to 24 hours to update your account.</p>
							 </div> -->
							 
							 
							 
							<!--<div class="warning-message">
								 <h5 class="govuk-heading-s">You didn't make a payment last month</h5>
								 	<p>If you do not keep up with your payments, we may ask your employer to make deductions from your pay or ask a debt collection agency to collect this money for us.</p>
								 </div>-->


      <div class="govuk-grid-row">
      
      
      
      
      
       <div class="govuk-grid-column-one-half">
    
		    <div class="scenario-panel">
					 <h2 class="govuk-heading-s">Active payment plan</h2>
					 
					 <div class="scenario-inner-panel">
					 
						 	<table class="govuk-table">

							  <tbody class="govuk-table__body">
							    <tr class="govuk-table__row">
							      <th scope="row" class="govuk-table__header">Monthly payment</th>
							      <td class="govuk-table__cell">&pound;50 </td>
							    </tr>
							    <tr class="govuk-table__row">
							      <th scope="row" class="govuk-table__header">Remaining payments</th>
							      <td class="govuk-table__cell">11</td>
							    </tr>
							    <tr class="govuk-table__row">
							      <th scope="row" class="govuk-table__header">Next payment date</th>
							      <td class="govuk-table__cell">5 October 2020</td>
							    </tr>
							  </tbody>
							</table>	
							
							<p class="statement">Make sure you have enough money in your account to cover this payment.</p>					   					 
							   					 
	
					<span><a href="#" class="secondary-invert">Manage your payment plan</a></span>
					
		           		             
					 </div>
				 </div>	 
				 
        </div>
        
        
      <div class="govuk-grid-column-one-half">
    
		    <div class="scenario-panel">
					 <h2 class="govuk-heading-s">Payment history</h2>
					
					 
					 <div class="scenario-inner-panel">

					 
					 <div class="warning-message complete-alert">
								
								 	<p>A payment of &pound;50 was taken from your account on 5 September 2020</p>
								 </div>
					 	
					 			
					 		<table class="govuk-table">

							  <tbody class="govuk-table__body">

							    <tr class="govuk-table__row">
							      <th scope="row" class="govuk-table__header">Total payments made</th>
							      <td class="govuk-table__cell">1</td>
							    </tr>
							   <tr class="govuk-table__row">
							      <th scope="row" class="govuk-table__header">Total amount repaid</th>
							      <td class="govuk-table__cell">&pound;50.00</td>
							    </tr>

							   
							  </tbody>
							</table>
							
																
	
		             <span><a href="paymentHistoryDD" class="secondary-invert dash-history">View your full payment history</a></span>
	
				 
        </div>
		    </div>

        
      </div>

        
      </div>

        
        
        
        <div class="govuk-grid-row">
        
         <!--<div class="govuk-grid-column-one-half">
    
		    <div class="scenario-panel">
					 <h2 class="govuk-heading-s">Total amount remaining</h2>
					 
					 <div class="scenario-inner-panel">
					 	
					 		 <div class="govuk-grid-row">
      
						 		 <div class="govuk-grid-column-one-half">
						 		 	
						 		 	 <h3 class="govuk-heading-m">&pound;120.00</h3>
						 		 	 
						 		 </div>
						 		 
						 		 <div class="govuk-grid-column-one-half">
						 		 	
						 		 	 <h3 class="govuk-heading-s right-align"><span>Debt end date:</span>21 March 2021</h3>
						 		 	 
						 		 </div>
						 		 
					 		 </div>
					 
	
		             <span><a href="#" class="secondary-invert">Make an additional payment</a></span>	        	 	          
					 </div>
				 </div>	 
				 
        </div> -->
        
        
        
        
        
        <div class="govuk-grid-column-one-half">
    
		    <div class="scenario-panel">
					 <h2 class="govuk-heading-s">Help and support</h2>
					 
					 <div class="scenario-inner-panel">
					  <p>Get help if you're struggling to pay and find<br>out what to do next.</p>
					 
		             <span><a href="helpSupport2" class="secondary-invert">Get help and support</a></span> 
					 </div>
				 </div>	 
				 
				 
				
				 
        </div>

        
        
      </div>
      
     
      
            
    </div>
</div>

{% endblock %}
