
{% extends "layout-4.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}



   <!-- <div class="clear-bar">
	   		<h2 class="govuk-heading-l">Ashley Chamberlain<span>ZZ 41 54 60 Z</span></h2>
	   		<p>What you owe:
	   				<span>&pound;120.00</span></p>

	   </div> -->


	   <div class="govuk-grid-row">

        <div class="govuk-grid-column-three-quarters">


		<span class="back-link"><a href="javascript: history.go(-1)" class="govuk-back-link">Back</a></span>



		
	<!--	<div class="flexibleBanner">


											<ul class="govuk-list">
												<li>
													<h3>Total amount owed</h3>
													<b>&pound;600.00</b>
												</li>
												<li>
													<h3>Direct Debit amount</h3>


														<b>&pound;25.00</b>



												</li>
												
												<li><h3>Number of payments</h3>
													<b>24</b>
												</li>
												
											</ul>

											</div> -->
		
		
		
		
		 <form class="form" action="directDebitMain" method="post">

		    
		     <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
				    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
				      <h1 class="govuk-fieldset__heading">
				       <span class="govuk-caption-xl">Set up a Direct Debit</span>
					   Which day do you want the Direct Debit to be taken each month?
				      </h1>
				    </legend>
				    <span id="passport-issued-hint" class="govuk-hint">
				      For example, enter 02 for the second day of the month
				    </span>
				        <div class="govuk-form-group">
				          <label class="visually-hidden" for="paymentDay">
				            Payment day
				          </label>
				          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="paymentDay" name="paymentDay" type="text" pattern="[0-9]*" inputmode="numeric">
				        </div>

				  </fieldset>
		    

		    
		    
		    
		    <button class="govuk-button" data-module="govuk-button">Continue</button>

		    
		 </form>

								
									
									
								


									
									
									


    </div>
</div>

{% endblock %}
