
{% extends "layout-4.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}


    
   <!-- <div class="clear-bar">
	   		<h2 class="govuk-heading-l">Ashley Chamberlain<span>ZZ 41 54 60 Z</span></h2>
	   		<p>What you owe:
	   				<span>&pound;120.00</span></p>

	   </div> -->
	   
	   
	   <div class="govuk-grid-row">
      
        <div class="govuk-grid-column-two-thirds">
	   
	   
		<span class="back-link"><a href="javascript: history.go(-1)" class="govuk-back-link">Back</a></span>
		
		
		

									

									<h1 class="govuk-heading-xl">Make a flexible payment</h1>
	   
									    {% include "includes/amountOwed.html" %}
   
   	
											<form class="form" action="paymentReminders" method="post">
								
											
											<div class="govuk-form-group">
												  <fieldset class="govuk-fieldset">
												    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
												      <h1 class="govuk-fieldset__heading">
												        How much do you want to pay?
												      </h1>
												    </legend>
												    
												   <!-- <span id="changed-name-hint" class="govuk-hint">
								     Make sure you have enough money in your account to cover this payment
								    </span> -->

												    
												     <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
												    <div class="govuk-radios">

												      <div class="govuk-radios__item">
												        <input class="govuk-radios__input" id="fiftypound" name="how-much" type="radio" value="fifty">
												        <label class="govuk-label govuk-radios__label govuk-label--s" for="fiftypound">
												          &pound;50.00
												        </label>
												        <span id="full-amount-hint" class="govuk-hint govuk-radios__hint">
				          This suggested amount is based on clearing your debt<br>over a 12 month period
				        </span>
												      </div>
									
												      
												      
												     
								      <div class="govuk-radios__item">
								        <input class="govuk-radios__input" id="otherAmount" name="how-much" type="radio" value="other-amount" data-aria-controls="conditional-how-much">
								        <label class="govuk-label govuk-radios__label govuk-label--s" for="otherAmount">
								          Pay a different amount
								        </label>
										<!-- This can be higher or lower than the suggested amount based on what you can afford -->
								      </div>
								      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-how-much">
								       
								       
								       
								       
								       
								       <fieldset class="govuk-fieldset">
											          <legend class="govuk-fieldset__legend govuk-fieldset__legend">
												      <h1 class="govuk-fieldset__heading">
												        Enter the amount
												      </h1>
												    </legend>
													
													
											          <div id="example-question" class="form-group inline">
											            <span class="c-form-input-denote govuk-body">£</span>
											            <input class="form-control c-form-input-denote__input govuk-input form-control-1-4 govuk-input--width-10" type="number" name="payment-amount">
											          </div>
										
										          </fieldset>
								       
								       
								       
								       
								       								
								      </div>
									</div>												      
												      
												      
												      
												    </div>
												  </fieldset>
												</div>
											
											
											<button class="govuk-button" data-module="govuk-button">
											  Continue
											</button>
											</form>
									
									<!--// Flexible amount end -->
									
									
									
									
									
									
									
									
									
									
									
									

                  
    </div>
</div>

{% endblock %}



