
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}




{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    
     <span class="back-link"><a href="javascript: history.go(-1)" class="govuk-back-link">Back</a></span>
    
     <div class="clear-bar">
	   		<h2 class="govuk-heading-l">Harvey Chamberlain<span>ZZ 41 54 60 Z</span></h2>
	   		<p>What you owe:
	   				<span>&pound;630.00</span></p>

	   </div>    
	   
	 <!--  <div class="warning-message">
							 <h5 class="govuk-heading-s">Your last payment was declined</h5>
							 	<p>Call our debt management team on 0800 916 0614 to make a payment and bring your plan up to date.</p>
							 </div> -->

      <div class="govuk-grid-row">
      
      
      
      
      
        <div class="govuk-grid-column-one-half">
    
		    <div class="scenario-panel">
					 <h2 class="govuk-heading-s">Payment plan</h2>
					 
					 <div class="scenario-inner-panel">

					 		
					 		
					 		<table class="govuk-table">

							  <tbody class="govuk-table__body">
							    <tr class="govuk-table__row">
							      <th scope="row" class="govuk-table__header">Current payment</th>
							      <td class="govuk-table__cell">£45 per month</td>
							    </tr>
							    <tr class="govuk-table__row">
							      <th scope="row" class="govuk-table__header">Remaining payments</th>
							      <td class="govuk-table__cell">18</td>
							    </tr>
							    <tr class="govuk-table__row">
							      <th scope="row" class="govuk-table__header">Next payment due</th>
							      <td class="govuk-table__cell">21 March 2020</td>
							    </tr>
							  </tbody>
							</table>
					 		
					 		
					 		
					 		<button class="govuk-button govuk-button--secondary" data-module="govuk-button">Manage your payment plan</button>

		             
					 </div>
				 </div>	 
				 
        </div>
        
        
        
        <div class="govuk-grid-column-one-half">
    
		    <div class="scenario-panel">
					 <h2 class="govuk-heading-s">Payment history</h2>
					 
					 <div class="scenario-inner-panel">
					 	
					 			
					 		<table class="govuk-table">

							  <tbody class="govuk-table__body">
							    <tr class="govuk-table__row">
							      <th scope="row" class="govuk-table__header">Last payment</th>
							      <td class="govuk-table__cell">21 January 2020</td>
							    </tr>
							    <tr class="govuk-table__row">
							      <th scope="row" class="govuk-table__header">Total payments made</th>
							      <td class="govuk-table__cell">6</td>
							    </tr>
							    <tr class="govuk-table__row">
							      <th scope="row" class="govuk-table__header">Last payment status</th>
							      <td class="govuk-table__cell">Payment taken</td>
							    </tr>
							   
							  </tbody>
							</table>
							
									
							<button class="govuk-button govuk-button--secondary" data-module="govuk-button">View your full payment history</button>
		             
					 </div>
				 </div>	 
				 
        </div>

        
      </div>
      
      
      
            
 
        
        
        
        <div class="govuk-grid-row">
        
         <div class="govuk-grid-column-one-half">
    
		    <div class="scenario-panel">
					 <h2 class="govuk-heading-s">Total amount remaining</h2>
					 
					 <div class="scenario-inner-panel">
					 	
					 		 <div class="govuk-grid-row">
      
						 		 <div class="govuk-grid-column-one-half">
						 		 	
						 		 	 <h3 class="govuk-heading-m">&pound;630.00</h3>
						 		 	 
						 		 </div>
						 		 
						 		 <div class="govuk-grid-column-one-half">
						 		 	
						 		 	 <h3 class="govuk-heading-s right-align"><span>Debt end date:</span>21 March 2021</h3>
						 		 	 
						 		 </div>
						 		 
					 		 </div>
					 		 
					 		 <!-- <div class="info-message">
					 		 	<p>Paying an additional amount reduces the amount you owe and will clear your debt sooner.</p>
					 		 	</div> -->
	
	
		             <button class="govuk-button govuk-button--secondary" data-module="govuk-button">Make an additional payment</button>
		             
		                     	 	          
					 </div>
				 </div>	 
				 
        </div>
        
        
        
        
        
        <div class="govuk-grid-column-one-half">
    
		    <div class="scenario-panel">
					 <h2 class="govuk-heading-s">Help and support</h2>
					 
					 <div class="scenario-inner-panel">
					 <p>Get contact details of free, independent sources of advice</p>

		       
		               <button class="govuk-button govuk-button--secondary" data-module="govuk-button">View details</button>
		             
					 </div>
				 </div>	 
				 
        </div>

        
        
      </div>
      
     
      
            
    </div>
</div>

{% endblock %}
