
{% extends "layout-3.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}



   <!-- <div class="clear-bar">
	   		<h2 class="govuk-heading-l">Ashley Chamberlain<span>ZZ 41 54 60 Z</span></h2>
	   		<p>What you owe:
	   				<span>&pound;120.00</span></p>

	   </div> -->


	   <div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">


		<span class="back-link"><a href="javascript: history.go(-1)" class="govuk-back-link">Back</a></span>




									{% if data['help-choice']=='help-struggling'%}


								<form class="form" action="helpStruggle" method="post">



						        <div class="govuk-form-group">
										  <fieldset class="govuk-fieldset">
										    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">

										      <h1 class="govuk-fieldset__heading">
										       How are you struggling to pay your debt?
										      </h1>
										    </legend>


										    <div class="govuk-radios">
										      <div class="govuk-radios__item">
										        <input class="govuk-radios__input" id="help-unable" name="help-struggle" type="radio" value="help-unable">
										        <label class="govuk-label govuk-radios__label" for="help-unable">
										          I am unable to pay
										        </label>
										      </div>
										      <div class="govuk-radios__item">
										        <input class="govuk-radios__input" id="help-payments" name="help-struggle" type="radio" value="help-payments">
										        <label class="govuk-label govuk-radios__label" for="help-payments">
										          Due to my financial situation I need a flexible way to pay
										        </label>
										      </div>


										    </div>
										  </fieldset>
										</div>






						<button class="govuk-button" data-module="govuk-button">
						  Continue
						</button>

						</form>



										<!--// Struggling to pay end -->




									{% elif data['help-choice']=='help-understanding'%}

									<h1 class="govuk-heading-xl mb30">I do not understand my debt</h1>



					   					<div class="list-display">



									        	<h2 class="govuk-heading-m">Universal credit</h2>


									        	<table class="govuk-table">
												  <caption class="govuk-table__caption"><span class="visually-hidden">Details of debt</span></caption>
												  <thead class="govuk-table__head">

												  <tbody class="govuk-table__body">
												    <tr class="govuk-table__row">
												      <th scope="row" class="govuk-table__header">Amount owed</th>
												      <td class="govuk-table__cell">&pound;120.00</td>
												    </tr>
												    <tr class="govuk-table__row">
												      <th scope="row" class="govuk-table__header">Reason</th>
												      <td class="govuk-table__cell">Advance payment</td>
												    </tr>
												   <tr class="govuk-table__row">
												      <th scope="row" class="govuk-table__header">Date debt started</th>
												      <td class="govuk-table__cell">26 June 2019</td>
												    </tr>
												  </tbody>
												</table>

												<p>If any of these details are wrong you should contact Universal Credit directly:</p>


												<ul class="govuk-list">
												  <li>Telephone: 0800 328 5644</li>
												    <li>Textphone: 0800 328 1344</li>
												    <li>Monday to Friday, 8am to 6pm (closed on bank holidays)</li>
												</ul>


											</div>


										<p><a href="index" class="govuk-button">Finish</a></p>

									<!--// Flexible amount end -->





									{% elif data['help-choice']=='help-advice'%}

									  <h1 class="govuk-heading-xl mb30">I need further advice</h1>

					   				<p>You still need to contact us to settle your debt, but in the meantime get:</p>


									  <ul class="govuk-list govuk-list--bullet">
									          <li>help dealing with money problems from <a href="https://www.citizensadvice.org.uk/">Citizens Advice (opens in new tab)</a> </li>
									          <li>expert debt advice from <a href="https://www.stepchange.org/">StepChange Debt Charity (opens in new tab)</a></li>
									          <li>advice to improve your finances from <a href="https://www.moneyadviceservice.org.uk">Money Advice Service (opens in new tab)</a></li>
									  </ul>



										<p><a href="index" class="govuk-button">Finish</a></p>

									<!--// Fixed amount end -->


									{% else %}

									<h1 class="govuk-heading-l">Oops! you didn't select a help option</h1>

									<p>Don't worry, you can go back and try again.</p>


									{% endif %}




    </div>
</div>

{% endblock %}
