
{% extends "layout-3.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}



   <!-- <div class="clear-bar">
	   		<h2 class="govuk-heading-l">Ashley Chamberlain<span>ZZ 41 54 60 Z</span></h2>
	   		<p>What you owe:
	   				<span>&pound;120.00</span></p>

	   </div> -->


	   <div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">
			
			
			<!--<div class="govuk-inset-text">
				<p>You can <a href="#">sign in with your security code and date of birth</a>.</p>
			<p>The security code is on the letter we sent you, it contains only numbers and it can be up to 11 digits.</p>
			</div>-->
			
			
			



									<h1 class="govuk-heading-xl mb30">We have been unable to verify your identity</h1>

									<p>You cannot register an account but you can sign in with your security code and date of birth.</p>
										<p>The security code is on the letter we sent you, it contains only numbers and it can be up to 11 digits.</p>
										
										
										<p><a href="#" class="govuk-button">Continue</a></p>
									
									
								<!--	<details class="govuk-details mt20" data-module="govuk-details">
										  <summary class="govuk-details__summary">
											<span class="govuk-details__summary-text">
											 I have problems with my code
											</span>
										  </summary>
										  <div class="govuk-details__text">
											<p>If you're struggling to enter your code, or you've lost or forgotten it, contact us.</p>
											
											<h2 class="govuk-heading-s">If you live in Great Britain:</h2>
										<ul class="govuk-list">
											  <li>Telephone: 0800 5871322</li>
											  <li>Monday to Friday, 9am to 5pm</li>
											</ul>
											<p class="govuk-body">
											  <a class="govuk-link" href="#">Find out about call charges</a>
											</p>
											
											<h2 class="govuk-heading-s">If you live in Northern Ireland:</h2>
											<ul class="govuk-list">
												  <li>Telephone: 0800 5871322</li>
												  <li>Monday to Friday, 9am to 5pm</li>
												</ul>
												<p class="govuk-body">
												  <a class="govuk-link" href="https://www.nidirect.gov.uk/articles/contacting-08-and-03-numbers">Find out about call charges</a>
												</p>
										  </div>
										</details>


										



										<!--// Struggling to pay end -->







    </div>
</div>

{% endblock %}
