
{% extends "layout-4.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}



   <!-- <div class="clear-bar">
	   		<h2 class="govuk-heading-l">Ashley Chamberlain<span>ZZ 41 54 60 Z</span></h2>
	   		<p>What you owe:
	   				<span>&pound;120.00</span></p>

	   </div> -->


	   <div class="govuk-grid-row">

        <div class="govuk-grid-column-three-quarters">


		<span class="back-link"><a href="javascript: history.go(-1)" class="govuk-back-link">Back</a></span>
		
		
		

									
										<h1 class="govuk-heading-xl">
											
											<span class="govuk-caption-xl">
											
											{% if data['paymentChoices']=='lowPayments'%}
											 
											 Step 4 of 5
											 
											 {% else %}
											 
											 Step 3 of 4
											 
											 {% endif %}
											
											</span> Make a payment today <br>to start your plan</h1>





										
											<div class="flexibleBanner">
											
											
											<ul class="govuk-list">
												<li>
													<h3>Total amount owed</h3>
													<b>&pound;4320.00</b>
												</li>
												
												
												<li>
													<h3>Monthly target</h3>
													<b>
														
													{% if data['paymentChoices']=='12Month'%}
				
													&pound;320.00
		
													
													{% elif data['paymentChoices']=='24Month'%}
													
													&pound;180.00
		
													
													{% elif data['paymentChoices']=='36Month'%}

													&pound;120.00
													
													
													{% elif data['paymentChoices']=='48Month'%}
		
													&pound;90.00
													
													{% elif data['paymentChoices']=='72Month'%}
		
													&pound;60.00
													
													
													
													{% else %}
													
														{% if data['paymentChoices']=='lowPayments'%}
														
														&pound;{{ data['affordable-amount'] }}
														
														{% else %}
														
														&pound;100.00
														
														{% endif %}
													
													{% endif %}	
														
													</b>
												</li>
										
												<li>
													<h3>Paid this month</h3>
													<b>&pound;0.00</b>
												</li>
											</ul>
											
											</div>
											
											
											
											

										<form class="form" action="lowContactChoice" method="post">


											<div class="govuk-form-group">
										          <fieldset class="govuk-fieldset" aria-describedby="pay-hint">
											          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
												      <h1 class="govuk-fieldset__heading">
												        How much of your monthly target do you want to pay?
												      </h1>
												    </legend>
												    
										
									
												  <!-- <div id="pay-hint" class="govuk-hint mb20">
												  You do not need to meet your chosen amount in full with one payment &ndash; you can make multiple payments in a month to meet your payment amount.</div> -->
											


											         <div id="example-question" class="form-group inline">
											            <span class="c-form-input-denote govuk-body">£</span>
											            <input class="form-control c-form-input-denote__input govuk-input form-control-1-4 govuk-input--width-10" type="number" name="payment-amount">
											          </div>

										          </fieldset>
									        </div>




			<button class="govuk-button" data-module="govuk-button">
			  Continue
			</button>
			</form>
			
			

    </div>
</div>

{% endblock %}
