
{% extends "layout-4.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}


    
   <!-- <div class="clear-bar">
	   		<h2 class="govuk-heading-l">Ashley Chamberlain<span>ZZ 41 54 60 Z</span></h2>
	   		<p>What you owe:
	   				<span>&pound;120.00</span></p>

	   </div> -->
	   
	   
	   <div class="govuk-grid-row">
      
        <div class="govuk-grid-column-two-thirds">
	   
	   
		<span class="back-link"><a href="javascript: history.go(-1)" class="govuk-back-link">Back</a></span>
		
		
		
		
									{% if data['payment-options']=='full-amount'%}
									<h1 class="govuk-heading-xl">Pay the full amount</h1>
								    <div class="govuk-inset-text">
									 Total amount owed: <span class="total-amount">&pound;120.00</span>
									 </div>
										<form class="form" action="#" method="post">
							
										<p>You will need your card details. Make sure you have enough money in your bank account to cover this payment.</p>
										
										<a href="fullFinish" class="govuk-button">
										  Continue
										</a>
										</form>
										
										<!--// Full amount end -->
									
									
									
									
									
									
									{% elif data['payment-options']=='flexible-amount'%}
									<h1 class="govuk-heading-xl">Pay a flexible amount</h1>
	   
									    <div class="govuk-inset-text">
										 Total amount owed: <span class="total-amount">&pound;120.00</span>
										 </div>
   
									   <p class="govuk-body">
										 You can pay whatever amount you want, but you will need to make a minimum of one payment each month.
										 </p>
	
											<form class="form" action="/scenario-8/paymentDetail" method="post">
								
											
											<div class="govuk-form-group">
										          <fieldset class="govuk-fieldset">
											          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
												      <h1 class="govuk-fieldset__heading">
												        How much do you want to pay?
												      </h1>
												    </legend>
													
													<span id="changed-name-hint" class="govuk-hint">
								      You will need your card details. Make sure you have enough money in your bank account to cover this payment.
								    </span>
											
											
											          <div id="example-question" class="form-group inline">
											            <span class="c-form-input-denote govuk-body">£</span>
											            <input class="form-control c-form-input-denote__input govuk-input form-control-1-4 govuk-input--width-10" type="text" name="payment-amount">
											          </div>
										
										          </fieldset>
									        </div>
											
											
											<button class="govuk-button" data-module="govuk-button">
											  Continue
											</button>
											</form>
									
									<!--// Flexible amount end -->
									
									
									
									
									
									{% elif data['payment-options']=='fixed-plan'%}
									 <h1 class="govuk-heading-xl">Set up a fixed payment plan</h1>
	   
								    <div class="govuk-inset-text">
									 Total amount owed: <span class="total-amount">&pound;120.00</span>
									 </div>
								   
										<p>To set up a Direct Debit payment, contact Debt Management. You will need your bank account details.</p>
										
										
										<h2 class="govuk-heading-m">Debt management</h2>
										<ul class="govuk-list">
												    <li>Telephone: 020 7946 0101</li>
												    <li>Textphone: 020 7946 0102</li>
												    <li>Monday to Friday, 9am to 5pm (except public holidays)</li>
												  </ul>
												  
									<!--// Fixed amount end -->	
									
									
									{% else %}
									
									<h1 class="govuk-heading-l">Oops! you didn't select a payment option</h1>	
									
									<p>Don't worry, you can go back and try again.</p>	  
       
		
									{% endif %}



                  
    </div>
</div>

{% endblock %}



