
{% extends "layout-3a.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}



   <!-- <div class="clear-bar">
	   		<h2 class="govuk-heading-l">Ashley Chamberlain<span>ZZ 41 54 60 Z</span></h2>
	   		<p>What you owe:
	   				<span>&pound;120.00</span></p>

	   </div> -->


	   <div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">
        
        <span class="back-link"> <a href="javascript: history.go(-1)" class="govuk-back-link">Back</a></span>

	   <h1 class="govuk-heading-xl">Scenario still in ideation</h1>

	   <p>This scenario is in ideation so currently isn't ready for prototyping.</p>



	
    </div>
</div>

{% endblock %}
