
{% extends "layout-4.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}



   <!-- <div class="clear-bar">
	   		<h2 class="govuk-heading-l">Ashley Chamberlain<span>ZZ 41 54 60 Z</span></h2>
	   		<p>What you owe:
	   				<span>&pound;120.00</span></p>

	   </div> -->


	   <div class="govuk-grid-row">

        <div class="govuk-grid-column-full">


		<span class="back-link"><a href="javascript: history.go(-1)" class="govuk-back-link">Back</a></span>
		
		
		
		<!--<h1 class="govuk-heading-xl mb30">Set up a flexible payment plan</h1>
			
			<div class="govuk-inset-text">This is not a Direct Debit &ndash; you must sign in each month and make at least one payment.</div>





		<div class="attention-card-target">
			
			<h2 class="govuk-heading-m">How a flexible payment plan works</h2>
		
		

			<ul class="govuk-list">
			
			<li>Set a target amount to aim for each month</li>	
				<li class="two">You will need to make a payment today &ndash; this will start your plan</li>

				<li class="three">Sign up for helpful payment reminders</li>
			</ul>

			
		</div> 
		
		
		
				<p class="mt30"><a href="targets2" class="govuk-button">Continue</a></p>
		
		-->
		
		
		<div class="attention-card">

			<h1 class="govuk-heading-l mb30">How a flexible payment plan works</h1>
			
			<p class="title">This is not a Direct Debit &ndash; you must sign in each month and make at least one payment.</p>
			


			<ul class="govuk-list">
			
			<li>Set a target amount to aim for each month</li>	
				<li class="two">You will need to make a payment today &ndash; this will start your plan</li>

				<li class="three">Sign up for helpful payment reminders</li>
			</ul>
			
			
			
			
			

			<p><a href="targets2" class="attention-invert mt30">Continue</a></p>

		</div>
									
									
									
									
									
									
									
		

	






    </div>
</div>

{% endblock %}
