
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    
     <span class="back-link"><a href="javascript: history.go(-1)" class="govuk-back-link">Back</a></span>
    
     <div class="clear-bar">
	   		<h2 class="govuk-heading-l">Harvey Chamberlain</h2>
	   		<p>What you owe:
	   				<span>&pound;630.00</span></p>

	   </div>    
      <div class="govuk-grid-row">
      
        <div class="govuk-grid-column-one-half">
    
		    <div class="scenario-panel">
					 <h2 class="govuk-heading-s">Payment plan</h2>
					 
					 <div class="scenario-inner-panel">
					 	
					 		 <div class="govuk-grid-row">
      
						 		 <div class="govuk-grid-column-one-half">
						 		 	
						 		 	 <h3 class="govuk-heading-l"><span>Current payment:</span>&pound;45.00</h3>
						 		 	 
						 		 </div>
						 		 
						 		 <div class="govuk-grid-column-one-half">
						 		 	 
						 		 	 <h3 class="govuk-heading-s right-align"><span>Payments remaining:</span>14</h3>
						 		 	
						 		 	 
						 		 </div>
						 		 
					 		 </div>
	
		             <span><a href="#" class="secondary-invert">Manage your payment plan</a></span>
		             
					 </div>
				 </div>	 
				 
        </div>
        
        
        
        <div class="govuk-grid-column-one-half">
    
		    <div class="scenario-panel">
					 <h2 class="govuk-heading-s">Payment history</h2>
					 
					 <div class="scenario-inner-panel">
					 	
					 		 <div class="govuk-grid-row">
      
						 		 <div class="govuk-grid-column-one-half">
						 		 	
						 		 	 <h3 class="govuk-heading-m"><span>Last payment:</span>January 2020</h3>
						 		 	 
						 		 </div>
						 		 
						 		 <div class="govuk-grid-column-one-half">
						 		 	
						 		 	 <h3 class="govuk-heading-s status-paid"><span>Status:</span>Paid</h3>
						 		 	 
						 		 </div>
						 		 
					 		 </div>
	
		             <span><a href="#" class="secondary-invert">View your full payment history</a></span>
		             
					 </div>
				 </div>	 
				 
        </div>

        
      </div>
      
      
      
            
 
        
        
        
        <div class="govuk-grid-row">
        
         <div class="govuk-grid-column-one-half">
    
		    <div class="scenario-panel">
					 <h2 class="govuk-heading-s">Total amount remaining</h2>
					 
					 <div class="scenario-inner-panel">
					 	
					 		 <div class="govuk-grid-row">
      
						 		 <div class="govuk-grid-column-one-half">
						 		 	
						 		 	 <h3 class="govuk-heading-m">&pound;630.00</h3>
						 		 	 
						 		 </div>
						 		 
						 		 <div class="govuk-grid-column-one-half">
						 		 	
						 		 	 <h3 class="govuk-heading-s right-align"><span>Debt repaid:</span>21 March 2021</h3>
						 		 	 
						 		 </div>
						 		 
					 		 </div>
	
		             <span><a href="#" class="secondary-invert">Make an additional payment</a></span>	        	 	          
					 </div>
				 </div>	 
				 
        </div>
        
        
        
        
        
        <div class="govuk-grid-column-one-half">
    
		    <div class="scenario-panel">
					 <h2 class="govuk-heading-s">Help and support</h2>
					 
					 <div class="scenario-inner-panel">
					 <p>Get contact details of free, independent sources of advice</p>
					 
		             <span><a href="scenario-2/index" class="secondary-invert">View details</a></span> 
					 </div>
				 </div>	 
				 
        </div>

        
        
      </div>
      
     
      
            
    </div>
</div>

{% endblock %}
