
{% extends "layout-4.html" %}



{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}




{% block content %}






  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    
      <div class="clear-bar stripped-border">
	   		<div class="identifier">
	   			
	   			<h1 class="govuk-heading-l">
	   			<span class="govuk-caption-l">Account home</span>
	   			Ashley Chamberlain</h1>
	   		
	   		</div>
	   		<div class="govuk-inset-text">
			 Total amount owed: <span class="total-amount">&pound;550.00</span>
			</div>
	   		
	   	
	   </div> 
	   
	   
<!--<div class="warning-message complete-alert">
							 <h5 class="govuk-heading-s">Payment status</h5>
							 	<p>A payment has been made. It will take up to 24 hours to update your account.</p>
							 </div> -->
							 
							 
							 
							<!--<div class="warning-message">
								 <h5 class="govuk-heading-s">You didn't make a payment last month</h5>
								 	<p>If you do not keep up with your payments, we may ask your employer to make deductions from your pay or ask a debt collection agency to collect this money for us.</p>
								 </div>-->


      <div class="govuk-grid-row">
      
      
      
      
      
       <div class="govuk-grid-column-one-half">
    
		    <div class="scenario-panel">
					 <h2 class="govuk-heading-s">Direct Debit payment plan</h2>
					 
					 <div class="scenario-inner-panel">
					 
						 	<table class="govuk-table">

							  <tbody class="govuk-table__body">
							    <tr class="govuk-table__row">
							      <th scope="row" class="govuk-table__header">Monthly payment</th>
							      <td class="govuk-table__cell">
								      
								      {% if data['how-much2']=='oneHundredPound'%}
										    
										    &pound;100
								
											{% elif data['how-much2']=='fiftyPound'%}
											
											&pound;50
											
											{% elif data['how-much2']=='thirtyThree'%}
											
											&pound;33.50
											
											
											{% elif data['how-much2']=='twentyFivePound'%}
											
											&pound;25

											
											{% else %}
											
											No amount entered
											
											{% endif %}
								      
							      </td>
							    </tr>
							    <tr class="govuk-table__row">
							      <th scope="row" class="govuk-table__header">Remaining payments</th>
							      <td class="govuk-table__cell">11</td>
							    </tr>
							    <tr class="govuk-table__row">
							      <th scope="row" class="govuk-table__header">Next payment date</th>
							      <td class="govuk-table__cell">{{ data['paymentDay'] }} February 2021</td>
							    </tr>
							  </tbody>
							</table>	
							
							<p class="statement">Make sure you have enough money in your account to cover this payment.</p>					   					 
							   					 
	
					<span><a href="#" class="secondary-invert">Manage your payment plan</a></span>
					
		           		             
					 </div>
				 </div>	 
				 
        </div>
        
        
      <div class="govuk-grid-column-one-half">
    
		    <div class="scenario-panel">
					 <h2 class="govuk-heading-s">Payment history</h2>
					
					 
					 <div class="scenario-inner-panel">

					 
					 <div class="warning-message complete-alert">
								
								 	<p>A payment of {% if data['how-much2']=='oneHundredPound'%}
										    
										    &pound;100
								
											{% elif data['how-much2']=='fiftyPound'%}
											
											&pound;50
											
											{% elif data['how-much2']=='thirtyThree'%}
											
											&pound;33.50
											
											
											{% elif data['how-much2']=='twentyFivePound'%}
											
											&pound;25

											
											{% else %}
											
											No amount entered
											
											{% endif %} was taken from your account on {{ data['paymentDay'] }} January 2021</p>
								 </div>
					 	
					 			
					 		<table class="govuk-table">

							  <tbody class="govuk-table__body">

							    <tr class="govuk-table__row">
							      <th scope="row" class="govuk-table__header">Total payments made</th>
							      <td class="govuk-table__cell">1</td>
							    </tr>
							   <tr class="govuk-table__row">
							      <th scope="row" class="govuk-table__header">Total amount repaid</th>
							      <td class="govuk-table__cell">
								      
								      
								       
							    {% if data['how-much2']=='oneHundredPound'%}
										    
										    &pound;100
								
											{% elif data['how-much2']=='fiftyPound'%}
											
											&pound;50
											
											{% elif data['how-much2']=='thirtyThree'%}
											
											&pound;33.50
											
											
											{% elif data['how-much2']=='twentyFivePound'%}
											
											&pound;25

											
											{% else %}
											
											No amount entered
											
											{% endif %}
								      
								      
							      </td>
							    </tr>
							    
							   

							    
							    

							   
							  </tbody>
							</table>
							
																
	
		             <span><a href="paymentHistoryDDfull" class="secondary-invert mt20">View your full payment history</a></span>
	
				 
        </div>
		    </div>

        
      </div>

        
      </div>

        
        
        
        <div class="govuk-grid-row">
        
			
			
			<div class="govuk-grid-column-one-half">

		    <div class="scenario-panel">
					 <h2 class="govuk-heading-s">What you owe</h2>

					 <div class="scenario-inner-panel">
					  <p>Details of the debts you owe to DWP.</p>


		             <span><a href="debtBreakdown" class="secondary-invert dash-spacer">View details of what I owe</a></span>
					 </div>
				 </div>




        </div>







        <div class="govuk-grid-column-one-half">

		    <div class="scenario-panel">
					 <h2 class="govuk-heading-s">Help and support</h2>

					 <div class="scenario-inner-panel">
					  <p>Get help if you're struggling to pay and find<br>out what to do next.</p>

		             <span><a href="helpSupport3" class="secondary-invert">Get help and support</a></span> 
					 </div>
				 </div>




        </div>

        
        
      </div>
      
     
      
            
    </div>
</div>

{% endblock %}
