
{% extends "layout.html" %}



{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}




{% block content %}






  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    
      <div class="clear-bar stripped-border">
	   		<div class="identifier">
	   			<h3 class="govuk-heading-l">Harvey Chamberlain<span>JW 41 ZZ ZZ Z</span></h3>
	   		</div>
	   		<div class="govuk-inset-text">
			 Total amount owed: <span class="total-amount">&pound;630.00</span>
			</div>
	   		
	   	
	   </div> 


      <div class="govuk-grid-row">
      
      
      
      
      
        <div class="govuk-grid-column-one-half">
    
		    <div class="scenario-panel">
					 <h2 class="govuk-heading-s">Monthly payment plan</h2>
					 
					 <div class="scenario-inner-panel">

					 		
					 		
					 		<table class="govuk-table">

							  <tbody class="govuk-table__body">
							    <tr class="govuk-table__row">
							      <th scope="row" class="govuk-table__header">Current payment</th>
							      <td class="govuk-table__cell">£45</td>
							    </tr>
							    <tr class="govuk-table__row">
							      <th scope="row" class="govuk-table__header">Remaining payments</th>
							      <td class="govuk-table__cell">18</td>
							    </tr>
							    <tr class="govuk-table__row">
							      <th scope="row" class="govuk-table__header">Next payment due</th>
							      <td class="govuk-table__cell">21 March 2020</td>
							    </tr>
							  </tbody>
							</table>
					 		
					 		
					 		
					 		
					 		
					 		 
					 		
	
		             <span><a href="#" class="secondary-invert">Manage your payment plan</a></span>
		             
					 </div>
				 </div>	 
				 
        </div>
        
        
        
        <div class="govuk-grid-column-one-half">
    
		    <div class="scenario-panel">
					 <h2 class="govuk-heading-s">Payment history</h2>
					 
					 <div class="scenario-inner-panel">
					 	
					 			
					 		<table class="govuk-table">

							  <tbody class="govuk-table__body">
							    <tr class="govuk-table__row">
							      <th scope="row" class="govuk-table__header">Last payment</th>
							      <td class="govuk-table__cell">21 January 2020</td>
							    </tr>
							    <tr class="govuk-table__row">
							      <th scope="row" class="govuk-table__header">Total payments made</th>
							      <td class="govuk-table__cell">6</td>
							    </tr>
							    <tr class="govuk-table__row">
							      <th scope="row" class="govuk-table__header">Last payment status</th>
							      <td class="govuk-table__cell">Successful</td>
							    </tr>
							   
							  </tbody>
							</table>
							
									
	
		             <span><a href="#" class="secondary-invert">View your full payment history</a></span>
		             
					 </div>
				 </div>	 
				 
        </div>

        
      </div>
      
      
      
            
 
        
        
        
        <div class="govuk-grid-row">
        
         <div class="govuk-grid-column-one-half">
    
		    <div class="scenario-panel">
					 <h2 class="govuk-heading-s">Total amount remaining</h2>
					 
					 <div class="scenario-inner-panel">
					 	
					 		 <div class="govuk-grid-row">
      
						 		 <div class="govuk-grid-column-one-half">
						 		 	
						 		 	 <h3 class="govuk-heading-m">&pound;630.00</h3>
						 		 	 
						 		 </div>
						 		 
						 		 <div class="govuk-grid-column-one-half">
						 		 	
						 		 	 <h3 class="govuk-heading-s right-align"><span>Debt end date:</span>21 March 2021</h3>
						 		 	 
						 		 </div>
						 		 
					 		 </div>
					 		 
					 		 <!-- <div class="info-message">
					 		 	<p>Paying an additional amount reduces the amount you owe and will clear your debt sooner.</p>
					 		 	</div> -->
	
		             <span><a href="#" class="secondary-invert">Make an additional payment</a></span>	        	 	          
					 </div>
				 </div>	 
				 
        </div>
        
        
        
        
        
        <div class="govuk-grid-column-one-half">
    
		    <div class="scenario-panel">
					 <h2 class="govuk-heading-s">Help and support</h2>
					 
					 <div class="scenario-inner-panel">
					 <p>Get contact details of free, independent sources of advice</p>
					 
		             <span><a href="scenario-2/index" class="secondary-invert">View details</a></span> 
					 </div>
				 </div>	 
				 
        </div>

        
        
      </div>
      
     
      
            
    </div>
</div>

{% endblock %}
