
{% extends "layout-2.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}


    
   <!-- <div class="clear-bar">
	   		<h2 class="govuk-heading-l">Ashley Chamberlain<span>ZZ 41 54 60 Z</span></h2>
	   		<p>What you owe:
	   				<span>&pound;120.00</span></p>

	   </div> -->
	   
	   
	   <div class="govuk-grid-row">
      
        <div class="govuk-grid-column-two-thirds">
	   
	   
		<span class="back-link"><a href="javascript: history.go(-1)" class="govuk-back-link">Back</a></span>
		
	   <h1 class="govuk-heading-xl mb30">Help and support</h1>
	   					
	   					<div class="govuk-inset-text">You need to contact Universal Credit</div>
	   					
	   					
	   					
	   					
	   					<h2 class="govuk-heading-m">Universal Credit</h2>
					  <ul class="govuk-list">
					    <li>Telephone: 020 7946 0101</li>
					    <li>Textphone: 020 7946 0102</li>
					    <li>Monday to Friday, 9am to 5pm (except public holidays)</li>
					  </ul>
      
      
								
						
						<a href="index" class="govuk-button">
						  Finish
						</a>


                  
    </div>
</div>

{% endblock %}



