
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    
     <span class="back-link"><a href="javascript: history.go(-1)" class="govuk-back-link">Back</a></span>
    
     <div class="clear-bar">
	   		<h2 class="govuk-heading-l">Harvey Chamberlain</h2>
	   		<p>What you owe:
	   				<span>&pound;14,000.00</span></p>

	   </div>    
      <div class="govuk-grid-row">
      
        <div class="govuk-grid-column-one-half">
    
		    <div class="scenario-panel">
					 <h2 class="govuk-heading-s">Understand what you owe</h2>
					 
					 <div class="scenario-inner-panel">
					 <ul class="govuk-list govuk-list--bullet">
					 	<li>Who you owe money</li>
					 	<li>Why you owe money</li>
					 	<li>What you owe</li>
					 </ul>
					 
		             <span><a href="#" class="secondary-invert">View what you owe</a></span>
		             
					 </div>
				 </div>	 
				 
        </div>
        
        <div class="govuk-grid-column-one-half">
    
		    <div class="scenario-panel">
					 <h2 class="govuk-heading-s">Your payment options</h2>
					 
					 <div class="scenario-inner-panel">
					 <ul class="govuk-list govuk-list--bullet">
					 	<li>Pay the full amount</li>
					 	<li>Set up a payment plan</li>
					 	<li>Help and advice</li>
					 </ul>
					 
		             <!--<span><a href="#" class="secondary-invert">Choose a payment option</a></span> -->
		             <button class="govuk-button" data-module="govuk-button">Choose a payment option</button>
					 </div>
				 </div>	 
				 
        </div>
        
      </div>
      
      
      
            
      
      <div class="govuk-grid-row">
      
        <div class="govuk-grid-column-one-half">
    
		    <div class="scenario-panel">
					 <h2 class="govuk-heading-s">Help and support</h2>
					 
					 <div class="scenario-inner-panel">
					 <p>Get contact details of free, independent sources of advice</p>
					 
		             <span><a href="scenario-2/index" class="secondary-invert">View details</a></span> 
					 </div>
				 </div>	 
				 
        </div>
        
        <div class="govuk-grid-column-one-half">

        </div>
        
      </div>
      
     
      
            
    </div>
</div>

{% endblock %}
