
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    

	   
	   <span class="back-link"><a href="javascript: history.go(-1)" class="govuk-back-link">Back</a></span>
	   
	   <h1 class="govuk-heading-l">OOPS! We're not testing this functionality today</h1>
	   

	   
	   <p>Don't worry, just use the back button above and we'll carry on with the test.</p>          
     
      
            
    </div>
</div>

{% endblock %}
