
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    
     
    
   <!-- <div class="clear-bar">
	   		<h2 class="govuk-heading-l">Harvey Chamberlain<span>ZZ 41 54 60 Z</span></h2>
	   		<p>What you owe:
	   				<span>&pound;630.00</span></p>

	   </div> -->
	   
	   <span class="back-link"><a href="javascript: history.go(-1)" class="govuk-back-link">Back</a></span>
	   
	   <h1 class="govuk-heading-l">Understand what you owe</h1>
	   

	   
	   <div class="govuk-inset-text">
		 Total amount owed: <span class="total-amount">&pound;630.00</span>
		 </div>
	   
	   
	      
      <div class="govuk-grid-row">
      
        <div class="govuk-grid-column-full">
    
			<table class="govuk-table">
			  <!--<caption class="govuk-table__caption">Dates and amounts</caption>-->
			  <thead class="govuk-table__head">
			    <tr class="govuk-table__row">
			      <th scope="col" class="govuk-table__header">Who you owe</th>
			      <th scope="col" class="govuk-table__header">Amount owed</th>
			      <th scope="col" class="govuk-table__header">Reason you owe</th>
			      <th scope="col" class="govuk-table__header">Date of debt</th>
			    </tr>
			  </thead>
			  <tbody class="govuk-table__body">
			    <tr class="govuk-table__row">
			      <td class="govuk-table__cell">Universal credit</td>
			      <td class="govuk-table__cell">&pound;230.00</td>
			      <td class="govuk-table__cell">Advance payment</td>
			      <td class="govuk-table__cell">21 June 2018</td>
			    </tr>
			    <tr class="govuk-table__row">
			      <td class="govuk-table__cell">Universal credit</td>
			      <td class="govuk-table__cell">&pound;300.00</td>
			      <td class="govuk-table__cell">Advance payment</td>
			      <td class="govuk-table__cell">21 July 2018</td>
			    </tr>
			    <tr class="govuk-table__row">
			      <td class="govuk-table__cell">Universal credit</td>
			      <td class="govuk-table__cell">&pound;100.00</td>
			      <td class="govuk-table__cell">Advance payment</td>
			      <td class="govuk-table__cell">21 August 2018</td>
			    </tr>
			    
			  </tbody>
			</table>
			
				 
        </div>
     
      </div>
      
      <hr class="govuk-section-break govuk-section-break--l">
      
      
      <div class="govuk-grid-row">
      
        <div class="govuk-grid-column-two-thirds">
      
      <h2 class="govuk-heading-m">Help and support</h2>
			
		<p class="govuk-body">For further information about what you owe, you will need to contact the relevant organisation directly.</p>

        <h3 class="govuk-heading-s">Universal Credit advance</h3>
        <p>North Manchester Universal Credit Service Centre<br>
        Telephone: 0800 328 5644<br>
        Textphone: 0800 328 1344<br>
        Monday to Friday 8am to 6pm (closed on bank holidays)</p>

        <hr class="govuk-section-break govuk-section-break--l">

       <!-- <h3 class="govuk-heading-s">Recoverable Hardship Payment</h3>
        <p>North Manchester Universal Credit Service Centre<br>
        Telephone: 0800 328 5644<br>
        Textphone: 0800 328 1344<br>
        Monday to Friday 8am to 6pm (closed on bank holidays)</p>

        <hr class="govuk-section-break govuk-section-break--l">

        <h3 class="govuk-heading-s">Housing Benefit</h3>
        <p>Manchester City Council<br>
        Telephone: 0161 234 5003<br>
        Textphone: 0161 953 8301<br>
        Monday to Friday 9am to 6pm</p>

        <hr class="govuk-section-break govuk-section-break--l">

        <h3 class="govuk-heading-s">Tax credit</h3>
        <p>HMRC<br>
        Telephone: 0345 300 3900<br>
        Textphone: 0345 300 3909 <br>
        Monday to Friday 8am-8pm<br>
        Saturday 8am-4pm<br>
        Sunday 9am -5pm (closed Christmas Day, Boxing Day and New Year's Day)</p> -->
			
        </div>
      </div>
      
      
            
          
     
      
            
    </div>
</div>

{% endblock %}
