
{% extends "layout-4.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}




  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">



   <!-- <div class="clear-bar">
	   		<h2 class="govuk-heading-l">Ashley Chamberlain<span>ZZ 41 54 60 Z</span></h2>
	   		<p>What you owe:
	   				<span>&pound;120.00</span></p>

	   </div> -->

	   <span class="back-link"><a href="javascript: history.go(-1)" class="govuk-back-link">Back</a></span>


									{% if data['choose-what']=='want-pay'%}
									 <h1 class="govuk-heading-xl">Payment options </h1>

	    {% include "includes/amountOwed.html" %}


      <div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">


			<form class="form" action="fullPayment" method="post">
			<div class="govuk-form-group">
			  <fieldset class="govuk-fieldset">
				    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
				      <h2 class="govuk-heading-s mb0">
				        Choose a payment option:
				      </h2>
				    </legend>



			      <div class="govuk-radios">
			      <div class="govuk-radios__item">
				        <input class="govuk-radios__input" id="full-amount" name="payment-options" type="radio" value="full-amount" aria-describedby="full-amount-hint">
				        <label class="govuk-label govuk-radios__label govuk-label" for="full-amount">
				         Pay the full amount
				        </label>
				        
				      </div>
				      <div class="govuk-radios__item">
				        <input class="govuk-radios__input" id="fixed-plan" name="payment-options" type="radio" value="fixed-plan" aria-describedby="fixed-plan-hint">
				        <label class="govuk-label govuk-radios__label" for="fixed-plan">
				          Set up a Direct Debit
				        </label>
				      </div>
				      <div class="govuk-radios__item">
				        <input class="govuk-radios__input" id="flexible-amount" name="payment-options" type="radio" value="flexible-amount" aria-describedby="flexible-amount-item-hint">
				        <label class="govuk-label govuk-radios__label govuk-label" for="flexible-amount">
				         Set up a flexible payment plan
				        </label>
				      </div>
				     
				    </div>


			  </fieldset>
			</div>

			<button class="govuk-button" data-module="govuk-button">
			  Continue
			</button>
			</form>

										<!--// choose payment end -->
										
										
										
										
										
										
									





									{% elif data['choose-what']=='want-help'%}

					<form class="form" action="helpSupport" method="post">



						        <div class="govuk-form-group">
										  <fieldset class="govuk-fieldset">
										    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">

										      <h1 class="govuk-fieldset__heading">
										      How would you describe your financial situation?
										      </h1>
										    </legend>


										    <div class="govuk-radios">
										      <div class="govuk-radios__item">
										        <input class="govuk-radios__input" id="help-struggling" name="help-choice" type="radio" value="help-struggling">
										        <label class="govuk-label govuk-radios__label" for="help-struggling">
										          I do not have much money so I'm unsure how much I can pay
										        </label>
										      </div>
										      <!--<div class="govuk-radios__item">
										        <input class="govuk-radios__input" id="help-understanding" name="help-choice" type="radio" value="help-understanding">
										        <label class="govuk-label govuk-radios__label" for="help-understanding">
										          I do not understand my debt
										        </label>
										      </div>-->
										      <div class="govuk-radios__item">
										        <input class="govuk-radios__input" id="help-advice" name="help-choice" type="radio" value="help-advice">
										        <label class="govuk-label govuk-radios__label" for="help-advice">
										          I have no money and need further advice
										        </label>
										      </div>


										    </div>
										  </fieldset>
										</div>






						<button class="govuk-button" data-module="govuk-button">
						  Continue
						</button>

						</form>

									<!--// Help and support end -->
									
									
									
									
									
									
									{% elif data['choose-what']=='want-breakdown'%}
									
									
									
									
									<h1 class="govuk-heading-xl mb30">Details of what I owe</h1>
									
									
									{% include "includes/amountOwed.html" %}



					   					<div class="list-display mb50">



									        	<h2 class="govuk-heading-m">Universal Credit</h2>


									        	<table class="govuk-table">
												  <caption class="govuk-table__caption"><span class="visually-hidden">Details of debt</span></caption>
												  <thead class="govuk-table__head">

												  <tbody class="govuk-table__body">

												  <tr class="govuk-table__row">
												      <th scope="row" class="govuk-table__header">Amount owed</th>
												      <td class="govuk-table__cell">&pound;600.00</td>
												    </tr>

												     <tr class="govuk-table__row">
												      <th scope="row" class="govuk-table__header">Debt type</th>
												      <td class="govuk-table__cell">Advance payment</td>
												    </tr>

												  <tr class="govuk-table__row">
												      <th scope="row" class="govuk-table__header">Date period</th>
												      <td class="govuk-table__cell">10 October 2019</td>
												    </tr>


												  </tbody>
												</table>

												<p>If you have any questions, contact Universal Credit directly:</p>


												<ul class="govuk-list">
												  <li>Telephone: 0800 328 5644</li>
												    <li>Textphone: 0800 328 1344</li>
												    <li>Monday to Friday, 8am to 6pm (closed on bank holidays)</li>
												</ul>

											<p class="govuk-body">
											  <a class="govuk-link" href="https://www.gov.uk/call-charges">Find out about call charges</a>
											</p>


											</div>


										<!--<p><a href="index" class="govuk-button">Finish</a></p>-->

									<!--// view what you owe end -->
									
									
									
									



									{% else %}

									<h1 class="govuk-heading-l">Oops! you didn't select an option</h1>

									<p>Don't worry, you can go back and try again.</p>


									{% endif %}


        </div>

      </div>


    </div>
</div>

{% endblock %}
