
{% extends "layout-4.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}



   <!-- <div class="clear-bar">
	   		<h2 class="govuk-heading-l">Ashley Chamberlain<span>ZZ 41 54 60 Z</span></h2>
	   		<p>What you owe:
	   				<span>&pound;120.00</span></p>

	   </div> -->


	   <div class="govuk-grid-row">

      <div class="govuk-grid-column-three-quarters">


					<span class="back-link"><a href="javascript: history.go(-1)" class="govuk-back-link">Back</a></span>


									<h1 class="govuk-heading-xl mb30">Details of what I owe</h1>
										
										
									<div class="govuk-inset-text">
 Total amount owed: <span class="total-amount">&pound;580.00</span>
 </div>
										
							<div class="list-display mb50">



									        	<h2 class="govuk-heading-m">Universal Credit</h2>


									        	<table class="govuk-table">
												  <caption class="govuk-table__caption"><span class="visually-hidden">Details of debt</span></caption>
												  <thead class="govuk-table__head">

												  <tbody class="govuk-table__body">

											<!--	  <tr class="govuk-table__row">
												      <th scope="row" class="govuk-table__header">Amount owed</th>
												      <td class="govuk-table__cell">&pound;600.00</td>
												    </tr> -->

												     <tr class="govuk-table__row">
												      <th scope="row" class="govuk-table__header">Debt type</th>
												      <td class="govuk-table__cell">Advance payment</td>
												    </tr>

												  <tr class="govuk-table__row">
												      <th scope="row" class="govuk-table__header">Date debt started</th>
												      <td class="govuk-table__cell">10 October 2019</td>
												    </tr>


												  </tbody>
												</table>

												<p>If you have any questions, contact Universal Credit directly:</p>


												<ul class="govuk-list">
												  <li>Telephone: 0800 328 5644</li>
												    <li>Textphone: 0800 328 1344</li>
												    <li>Monday to Friday, 8am to 6pm (closed on bank holidays)</li>
												</ul>

											<p class="govuk-body">
											  <a class="govuk-link" href="https://www.gov.uk/call-charges">Find out about call charges</a>
											</p>


											</div>
										
										
										
										


					   			<!--	<div class="list-display">



									        	<h2 class="govuk-heading-m">Universal Credit</h2>


									        	<table class="govuk-table">
												  <caption class="govuk-table__caption"><span class="visually-hidden">Details of debt</span></caption>
												  <thead class="govuk-table__head">

												  <tbody class="govuk-table__body">
												  
												  <tr class="govuk-table__row">
												      <th scope="row" class="govuk-table__header">Amount owed</th>
												      <td class="govuk-table__cell">&pound;600.00</td>
												    </tr>
												    
												     <tr class="govuk-table__row">
												      <th scope="row" class="govuk-table__header">Debt type</th>
												      <td class="govuk-table__cell">Advance payment</td>
												    </tr>
												  
												  <tr class="govuk-table__row">
												      <th scope="row" class="govuk-table__header">Date debt started</th>
												      <td class="govuk-table__cell">10 October 2019</td>
												    </tr>
												    

												  </tbody>
												</table>

												<p>If you have any questions, you should contact Universal Credit directly:</p>


												<ul class="govuk-list">
												  <li>Telephone: 0800 328 5644</li>
												    <li>Textphone: 0800 328 1344</li>
												    <li>Monday to Friday, 8am to 6pm (closed on bank holidays)</li>
												</ul>

											<p class="govuk-body">
											  <a class="govuk-link" href="https://www.gov.uk/call-charges">Find out about call charges</a>
											</p>


											</div>
											
											<div class="list-display">

									        	<h3 class="govuk-heading-m">HMRC</h3>


									        	<table class="govuk-table">
												  <caption class="govuk-table__caption"><span class="visually-hidden">Details of debt</span></caption>
												  <thead class="govuk-table__head">

												  <tbody class="govuk-table__body">
												 
												 <tr class="govuk-table__row">
												      <th scope="row" class="govuk-table__header">Amount owed</th>
												      <td class="govuk-table__cell">&pound;400.00</td>
												    </tr>
												    
												  <tr class="govuk-table__row">
												      <th scope="row" class="govuk-table__header">Debt type</th>
												      <td class="govuk-table__cell">Tax Credits overpayment</td>
												    </tr>
												    
												    <tr class="govuk-table__row">
												      <th scope="row" class="govuk-table__header">Date debt started</th>
												      <td class="govuk-table__cell">10 October 2019</td>
												    </tr>
												    

												    

												  </tbody>
												</table>

												<p>If you have any questions, you should contact HMRC directly:</p>


												<ul class="govuk-list">
												  <li>Telephone: 0345 300 3900</li>

												    <li>Monday to Friday, 8am to 4pm (closed on bank holidays)</li>
												</ul>

											<p class="govuk-body">
											  <a class="govuk-link" href="https://www.gov.uk/call-charges">Find out about call charges</a>
											</p>

											</div>


										<!--// Struggling to pay end -->







    </div>
</div>

{% endblock %}
