
{% extends "layout-4.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}



   <!-- <div class="clear-bar">
	   		<h2 class="govuk-heading-l">Ashley Chamberlain<span>ZZ 41 54 60 Z</span></h2>
	   		<p>What you owe:
	   				<span>&pound;120.00</span></p>

	   </div> -->


	   <div class="govuk-grid-row">

        <div class="govuk-grid-column-full">


		<span class="back-link"><a href="javascript: history.go(-1)" class="govuk-back-link">Back</a></span>




									{% if data['payment-options']=='full-amount'%}
									<h1 class="govuk-heading-xl">Pay the full amount</h1>
								
								
									  {% include "includes/amountOwed.html" %}
								
									
								   
										<form class="form" action="#" method="post">

										<p>Make sure you have enough money in your account to cover this payment.</p>

										<a href="fullFinish" class="govuk-button">
										  Continue to pay
										</a>
										</form>

										<!--// Full amount end -->






									{% elif data['payment-options']=='flexible-amount'%}

		<div class="attention-card-list">

			<h1 class="govuk-heading-l mb30">How a flexible payment plan works</h1>

			<ul class="govuk-list govuk-list--bullet">
				<li>This is not a fixed plan &ndash; you must sign in each month and make at least one payment</li>
				<li>Choose a monthly payment target which works for you &ndash; make multiple payments in a month to meet your target</li>
				<li>You can pay less than your monthly target during difficult times but regular low payments mean we may contact you to discuss your situation</li>
				
				<!--<li class="three">This is not a fixed plan and your payments can change</li>-->
				<li>Sign up for helpful payment reminders</li>
				<li>You will need to make a payment today</li>
			</ul>

			<p><a href="flexSuggestedTarget" class="attention-invert">Continue</a></p>

		</div>

									<!--// Flexible amount end -->





									{% elif data['payment-options']=='fixed-plan'%}

	   
									
											<form class="form" action="directDebitDetails" method="post">
								
											
											<div class="govuk-form-group">
												  <fieldset class="govuk-fieldset">
												    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl mb20">
												      <h1 class="govuk-fieldset__heading">
												      <span class="govuk-caption-xl">Set up a Direct Debit</span>
												        How much do you want to pay<br>each month?
												      </h1>
												    </legend>
												    
												   <!-- <span id="changed-name-hint" class="govuk-hint">
								     Make sure you have enough money in your account to cover this payment
								    </span> -->

												    
												     <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
												    <div class="govuk-radios">

												      <div class="govuk-radios__item">
												        <input class="govuk-radios__input" id="oneHundredPound" name="how-much2" type="radio" value="oneHundredPound">
												        <label class="govuk-label govuk-radios__label" for="oneHundredPound">
												          <b>&pound;100.00</b> &ndash; 6 monthly payments
												        </label>
												        
												      </div>
												      
												      <div class="govuk-radios__item">
												        <input class="govuk-radios__input" id="fiftypound" name="how-much2" type="radio" value="fiftyPound">
												        <label class="govuk-label govuk-radios__label" for="fiftypound">
												          <b>&pound;50.00</b> &ndash; 12 monthly payments
												        </label>
												        
												      </div>
												      
												      <div class="govuk-radios__item">
												        <input class="govuk-radios__input" id="twentyFivePound" name="how-much2" type="radio" value="twentyFivePound">
												        <label class="govuk-label govuk-radios__label" for="twentyFivePound">
												          <b>&pound;25.00</b> &ndash; 24 monthly payments
												        </label>
												        
												      </div>
									
												      
												      
												     
								      <div class="govuk-radios__item">
								        <input class="govuk-radios__input" id="otherAmount" name="how-much2" type="radio" value="other-amount" data-aria-controls="conditional-how-much">
								        <label class="govuk-label govuk-radios__label govuk-label--s" for="otherAmount">
								          Pay a different amount
								        </label>
										<!-- This can be higher or lower than the suggested amount based on what you can afford -->
								      </div>
								      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-how-much">
								       
								       
								       
								       
								       
								       <fieldset class="govuk-fieldset">
											          <legend class="govuk-fieldset__legend govuk-fieldset__legend">
												      <h1 class="govuk-fieldset__heading">
												        Enter the amount
												      </h1>
												    </legend>
													
													
											          <div id="example-question" class="form-group inline">
											            <span class="c-form-input-denote govuk-body">£</span>
											            <input class="form-control c-form-input-denote__input govuk-input form-control-1-4 govuk-input--width-10" type="number" name="payment-amount2">
											          </div>
										
										          </fieldset>
								       
								       
								       
								       
								       								
								      </div>
									</div>												      
												      
												      
												      
												    </div>
												  </fieldset>
												</div>
											
											
											<button class="govuk-button" data-module="govuk-button">
											  Continue
											</button>
											</form>
										
										
									<!--// Fixed amount end -->


									{% else %}

									<h1 class="govuk-heading-l">Oops! you didn't select a payment option</h1>

									<p>Don't worry, you can go back and try again.</p>


									{% endif %}




    </div>
</div>

{% endblock %}
