
{% extends "layout-4.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}


    
   <!-- <div class="clear-bar">
	   		<h2 class="govuk-heading-l">Ashley Chamberlain<span>ZZ 41 54 60 Z</span></h2>
	   		<p>What you owe:
	   				<span>&pound;120.00</span></p>

	   </div> -->
	   

	   
	   <div class="govuk-grid-row">
      
         <div class="govuk-grid-column-three-quarters">
	   
	  
	   <h1 class="govuk-heading-xl">
	   <span class="govuk-caption-xl">Ashley Chamberlain</span>
	   	What do you want to do? </h1>
	   
	   {% include "includes/amountOwed.html" %}
	   
	      
      
			
			
			<form class="form" action="choice" method="post">

			
			<div class="govuk-form-group">
				  <fieldset class="govuk-fieldset">
				    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
				      <h2 class="govuk-heading-s mb0">
				        Choose an option:
				      </h2>
				    </legend>
				   
				    <div class="govuk-radios">
				    
				    <div class="govuk-radios__item">
				        <input class="govuk-radios__input" id="want-pay" name="choose-what" type="radio" value="want-pay">
				        <label class="govuk-label govuk-radios__label" for="want-pay">
				          I want to view my payment options
				        </label>
				       
				      </div>
				      
				      
				       <div class="govuk-radios__item">
				        <input class="govuk-radios__input" id="want-breakdown" name="choose-what" type="radio" value="want-breakdown">
				        <label class="govuk-label govuk-radios__label" for="want-breakdown">
				          I want to view details of what I owe
				        </label>
				       
				      </div>
				      
				      
				      
				      <div class="govuk-radios__item">
				        <input class="govuk-radios__input" id="want-help" name="choose-what" type="radio" value="want-help">
				        <label class="govuk-label govuk-radios__label" for="want-help">
				        I am in financial difficulty and do not know what to do
				        </label>
				        
				      </div>
				      
				    </div>
				  </fieldset>
				</div>
			
			
			<button class="govuk-button" data-module="govuk-button">
			  Continue
			</button>
			</form>
			

                  
    </div>
</div>

{% endblock %}



