
{% extends "layout-4.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}



   <!-- <div class="clear-bar">
	   		<h2 class="govuk-heading-l">Ashley Chamberlain<span>ZZ 41 54 60 Z</span></h2>
	   		<p>What you owe:
	   				<span>&pound;120.00</span></p>

	   </div> -->


	   <div class="govuk-grid-row">

        <div class="govuk-grid-column-three-quarters">



									<h1 class="govuk-heading-xl mb30">
										<span class="govuk-caption-xl">Ashley Chamberlain</span>
										Monthly targets</h1>


					   			<p>We have introduced monthly targets to give you an idea when you could be debt free.</p>
					   			<p>These targets are guides and not required payments &ndash; you can make multiple payments in a month to meet your target.</p>
					   			<p>You can pay lower amounts during difficult times but regular low payments mean we may contact you to discuss your situation.</p>

										<p><a href="flexSuggestedTarget2" class="govuk-button mb0">Choose a monthly target</a></p>
			


										<!--// Struggling to pay end -->







    </div>
</div>

{% endblock %}
