
{% extends "layout-4.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}



   <!-- <div class="clear-bar">
			   <h2 class="govuk-heading-l">Ashley Chamberlain<span>ZZ 41 54 60 Z</span></h2>
			   <p>What you owe:
					   <span>&pound;120.00</span></p>

	   </div> -->


	   <div class="govuk-grid-row">

		<div class="govuk-grid-column-three-quarters">


		<span class="back-link"><a href="javascript: history.go(-1)" class="govuk-back-link">Back</a></span>
		


		<h1 class="govuk-heading-xl">
		<span class="govuk-caption-xl">Direct Debit payment day</span>
		Summary</h1>

		
		
		

		
		
		
	<div class="flexibleBanner">
											
											
											<ul class="govuk-list">
											
											
											

												
												

												
												
												
												<li>
													<h3>New payment day</h3>
													<b>
													
											Day {{ data['paymentDay'] }} of each month
											
											
													
													</b>
												</li>
												
											<!--	<li>
													<h3>Next payment will be taken</h3>
													

											
											<b>
											
											  {{ data['paymentDay'] }} June 2021
													
											</b>
													
												</li> -->
												
									
												
											</ul>
											
											</div> 
											
											
											
																	
						<!--<div class="govuk-inset-text">We need 3 days notice to change Direct Debit payments so your payments will remain the same for this month. Your new payments will start next month.</div>-->
						
						
						<div class="govuk-warning-text">
		  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
		  <strong class="govuk-warning-text__text">
			<span class="govuk-warning-text__assistive">Warning</span>
		As your next payment is due soon, changes to your payment day will not take effect until next month
		  </strong>
		</div>

		
		
		
		<h2 class="govuk-heading-m mt50">How this effects your payments</h2>
		
		<table class="govuk-table mb40">
			 
			 <caption class="visually-hidden">Payment day summary</caption>
				
		
				  <tbody class="govuk-table__body">
				  
				
					 <tr class="govuk-table__row">
					  <th scope="row" class="govuk-table__header">Next payment date</th>
					  <td class="govuk-table__cell">
					  
					   6 July 2021
		
					  
					  </td>
					  
			
					 </tr>
					  
					

					
					
					 <tr class="govuk-table__row">
					  <th scope="row" class="govuk-table__header">Next month's payment date</th>
					  <td class="govuk-table__cell">
					  
		
					
					21 August 2021
		
																	  
					  
					  </td>
					  
												 
					 
					</tr>

					


		
				  </tbody>
				</table>
				
				
				
				
				
				<details class="govuk-details mt20" data-module="govuk-details">
					  <summary class="govuk-details__summary">
						<span class="govuk-details__summary-text">
						I cannot make my next payment
						</span>
					  </summary>
					  <div class="govuk-details__text">
					  <p>If you cannot make your next payment, you should contact your bank to discuss the options available to you.</p>
			
					  </div>
					</details>
						
						

											
				
											
											
					
	
	
	
	 <form class="form" action="ddPlanDay" method="post">
  <fieldset class="visually-hidden">
	<legend>Hidden field</legend>

	<div>
		<input id="yesPay" name="payDay" type="radio" value="yesPay" checked="checked">
		<label for="yesPay">Yes</label>
	  </div>
	  
	  <div>
		<input id="noPay" name="payDay" type="radio" value="noPay">
		<label for="noPay">No</label>
	  </div>
	  
	  </fieldset>
	  
	  <button class="govuk-button mt20 mb20" data-module="govuk-button">Confirm</button>
	 
	  
	 </form>								
										
																			
										
																				
		
											
						


	</div>
</div>

{% endblock %}
