
{% extends "layout-3a.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<span class="back-link"><a href="javascript: history.go(-1)" class="govuk-back-link">Back</a></span>


 <div class="govuk-grid-row">

        <div class="govuk-grid-column-full">

<p style="text-align: right;">Tel: 0800 916 0647<br>
Opening Times:<br>
Mon-Fri 10:00-16:00<br>
<br>
Account Holder: Ashley Chamberlain<br>
Reference Number: LM555555A<br>
Date: 02/06/2021</p>

<p>Dear Ashley Chamberlain</p>

<p>You owe outstanding amounts on debts to DWP Debt Management.</p>

<p>Total amount owed: <b>&pound;1500.00</b></p>

<!--<p>
Go online to view a breakdown and manage your debt &ndash; you can pay your debt in full, set up a Direct Debit or set up a flexible payment plan. Alternatively, you can set up a Direct Debit by contacting us on the number above.</p> -->

<p>Next steps:</p>

<!--<ol class="govuk-list govuk-list--number">
<li>You will need to register at <a href="start">https://www.gov.uk/repay-my-debt</a></li>
<li><b>Enter security code 30054876254</b> &ndash; it is important to make a note of this as you will need it each time you sign in.</li>
<li>Enter your date of birth</li>
</ol>-->

<p>You will need to register at https://www.gov.uk/repay-my-debt</p>

     <!-- <ul class="govuk-list govuk-list--bullet">
          <li>an email address</li>
          <li>a mobile phone</li>
      </ul>

      <p>You will also need information from 2 sources so we can check we are dealing with the right person. These are:</p>

      <ul class="govuk-list govuk-list--bullet">
          <li>a UK passport</li>
          <li>payslips or P60</li>
          <li>information about tax credits, if you claim them</li>
          <li>details of your credit record</li>
      </ul> -->
      
      
      <p>
You can then go online to view a breakdown and manage your debt &ndash; you can pay your debt in full, set up a Direct Debit or set up a flexible payment plan. </p>

<p>Alternatively, you can set up a Direct Debit by contacting us on the number above.</p>








<p>If you don't do anything by <b>23/06/2021</b>, we will either:

<ul class="govuk-list govuk-list--bullet">
<li>contact your employer, where you have one, to make deductions from your pay</li>
<li>ask a debt collection agency to collect this money for us</li>
</ul>

<p>The amount we ask your employer to deduct will depend on what you earn and could be up to 20% of your earnings. However, if you have been prosecuted for a benefit fraud offence, this could rise to 40%.</p>

<p>Your employer may also charge you an administration fee; this will not exceed £1 for each payment deducted from your earnings.</p>

<p>For help and support on dealing with debt and budgeting, contact:</p>

<ul class="govuk-list govuk-list--bullet">
<li>Citizens Advice - www.citizensadvice.org.uk</li>
<li>StepChange Debt Charity - www.stepchange.org</li>
<li>Money Advice Service – www.moneyadviceservice.org.uk</li>
</ul>

<p>Yours sincerely</p>

<p>Mark Birtles<br>
Debt Centre Manager</p>


</div>
</div>


{% endblock %}
