
{% extends "layout-3a.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}



   <!-- <div class="clear-bar">
	   		<h2 class="govuk-heading-l">Ashley Chamberlain<span>ZZ 41 54 60 Z</span></h2>
	   		<p>What you owe:
	   				<span>&pound;120.00</span></p>

	   </div> -->


	   <div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">


<span class="back-link"><a href="javascript: history.go(-1)" class="govuk-back-link">Back</a></span>


	   <h1 class="govuk-heading-xl">Make changes to your payment plan</h1>

	   <p>You can change your:</p>


      <ul class="govuk-list govuk-list--bullet">
		<li>Direct Debit amount</li>
      	<li>Direct Debit payment day</li>
      	<li>bank details</li>
      </ul>

      <!--<div class="govuk-inset-text">
     You must clear your debt within the timeframe you agreed</div>-->


     <!--<div class="govuk-inset-text">If you make any changes to your plan, your account will take 2 to 5 working days to update so you will not be able to sign in during this time.</div>-->
     


	 
	  <!--<p>You'll need the security code in the letter we sent you each time you sign in.</p>

	 <details class="govuk-details mt20" data-module="govuk-details">
		  <summary class="govuk-details__summary">
		    <span class="govuk-details__summary-text">
		    I have problems with my letter
		    </span>
		  </summary>
		  <div class="govuk-details__text">
		  <p>If you've lost your letter or having problems with it, contact us.</p>


        <ul class="govuk-list">
		  <li>Telephone: 0800 169 0236</li>
		  <li>Monday to Friday, 10am to 4pm (except public holidays)</li>
		</ul>
		<p class="govuk-body">
		  <a class="govuk-link" href="https://www.gov.uk/call-charges">Find out about call charges</a>
		</p>



		  </div>
		</details>-->
		
		<p><a href="OneddAmountChange" class="govuk-button">Continue</a></p>
		


    </div>
</div>

{% endblock %}
