
{% extends "layout-4.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}



   <!-- <div class="clear-bar">
	   		<h2 class="govuk-heading-l">Ashley Chamberlain<span>ZZ 41 54 60 Z</span></h2>
	   		<p>What you owe:
	   				<span>&pound;120.00</span></p>

	   </div> -->


	   <div class="govuk-grid-row">

        <div class="govuk-grid-column-three-quarters">
        
        
        <span class="back-link"><a href="javascript: history.go(-1)" class="govuk-back-link">Back</a></span>



									<h1 class="govuk-heading-xl mb30">Make an additional payment</h1>
									
									
									<div class="govuk-inset-text">
 Total amount owed: <span class="total-amount">&pound;30.00</span>
 </div>


					   			<p>If you want to make an additional payment, you must pay the total amount owed as you only have 1 payment remaining on your plan.</p>
					   			
					   			
					   			<p><a href="#" class="govuk-button">Continue to pay</a></p>

			


										<!--// Struggling to pay end -->







    </div>
</div>

{% endblock %}
