
{% extends "layout-4.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}



   <!-- <div class="clear-bar">
	   		<h2 class="govuk-heading-l">Ashley Chamberlain<span>ZZ 41 54 60 Z</span></h2>
	   		<p>What you owe:
	   				<span>&pound;120.00</span></p>

	   </div> -->


	   <div class="govuk-grid-row">

        <div class="govuk-grid-column-three-quarters">


		<span class="back-link"><a href="javascript: history.go(-1)" class="govuk-back-link">Back</a></span>
		
		<h1 class="govuk-heading-xl">
			<span class="govuk-caption-xl">Step 2 of 5</span>
			Payment plan summary</h1>
			
			
			
			
			
			
	   <div class="flexibleBanner">
											
											
											<ul class="govuk-list">

												
												<li>
													<h3>Payment amount</h3>
													<b>										    
											&pound;8.00
											
											</b>
												</li>
												
												<li>
													<h3>Monthly payments</h3>
													
													<b>94</b>
												
												</li>
												
												<li>
													<h3>Plan type</h3>
													
													<b>Affordable payment plan</b>
												
												</li>
												
												
								

												
											</ul>
											
											</div>
				
				<p>The amount you entered takes the number of payments over 72 months. This means you will need an affordable payment plan.</p>
	
				
				<p><a href="#" class="govuk-button">Continue to affordable payment plan</a></p>
				
									
										

    </div>
</div>

{% endblock %}
