
{% extends "layout-4.html" %}



{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}




{% block content %}




{% if data['paymentChoices']=='lowPayments'%}


<!--- Affordable DD Dashboard ----->



<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">
	
	  <div class="clear-bar stripped-border">
			   <div class="identifier">
				   
				   <h1 class="govuk-heading-l">
				   <span class="govuk-caption-l">Account home</span>
				   Ashley Chamberlain</h1>
			   
			   </div>
			   <div class="govuk-inset-text">
			 Total amount owed: <span class="total-amount">
			 
			&pound;4320.00
							
									 
									 </span>
			 

			 
			</div>
			   
		   
	   </div> 


	  <div class="govuk-grid-row">
	  
	  
	  
	  
	  
	   <div class="govuk-grid-column-one-half">

		   
		   <div class="scenario-panel">
					 <h2 class="govuk-heading-s">Direct Debit payment plan</h2>
					 
					 <div class="scenario-inner-panel">
					 
							 <table class="govuk-table mb22">

							  <tbody class="govuk-table__body">
								<tr class="govuk-table__row">
								  <th scope="row" class="govuk-table__header">Plan type</th>
								  <td class="govuk-table__cell">
									  
									  Affordable payment plan
									  
								  </td>
								</tr>
								
								<tr class="govuk-table__row">
									  <th scope="row" class="govuk-table__header">Monthly payment</th>
									  <td class="govuk-table__cell">
										  
										  &pound;30.00
										  
									  </td>
									</tr>
								
								<tr class="govuk-table__row">
								  <th scope="row" class="govuk-table__header">Next payment date</th>
								  <td class="govuk-table__cell">20 November 2021</td>
								</tr>
							  </tbody>
							</table>	
							
						<p class="statement mb20">If you're worried you cannot make this payment, you should contact your bank to discuss your options.</p>
						
															
													
					
					<span><a href="startAdditional" class="secondary-invert">Make an additional payment</a></span>	
					
					<span><a href="XLddPlan2" class="secondary-invert">View or manage your plan</a></span>
					
					
					
										
					 </div>
				 </div>	
		   
		   
		   

			 
	   
	   
	
			 
				 
		</div>
		
		
	  <div class="govuk-grid-column-one-half">
	  
			
	
			<div class="scenario-panel">
					 <h2 class="govuk-heading-s">Plan summary</h2>
					
					 
					 <div class="scenario-inner-panel">


								 
								 <div class="warning-message">
									  
									  <p>Your last Direct Debit was unsuccessful &ndash; we will try to take another payment on 20 November 2021.</p>
											 
												  
											  </div>
								 
								 
						 
								 
							 <table class="govuk-table">

							  <tbody class="govuk-table__body">
							  
							  
							  
							   <tr class="govuk-table__row">
								  <th scope="row" class="govuk-table__header">Payments made</th>
								  <td class="govuk-table__cell">
								  
								  
								 0											
								  </td>
							   </tr>

								
							   <tr class="govuk-table__row">
								  <th scope="row" class="govuk-table__header">Total amount repaid</th>
								  <td class="govuk-table__cell">
									  
									  
									   
								&pound;0.00
									  
									  
								  </td>
								</tr>
								
								
								
								<tr class="govuk-table__row">
								  <th scope="row" class="govuk-table__header">Proposed review date</th>
								  <td class="govuk-table__cell">
									  
								 
											
											{{ data['paymentDay'] }} November 2022
								
																	      
									  
								  </td>
								</tr>
							   

								
								

							   
							  </tbody>
							</table>
							
																
	
					 <span><a href="paymentHistoryDDfailed" class="secondary-invert mt30">View your payment history</a></span>
	
				 
		</div>
			</div>
			
			
			
	

		
	  </div>

		
	  </div>

		
		
		
		<div class="govuk-grid-row">
		
			
			
			<div class="govuk-grid-column-one-half">

			<div class="scenario-panel">
					 <h2 class="govuk-heading-s">What you owe</h2>

					 <div class="scenario-inner-panel">
					  <p>Details of the money you owe to DWP.</p>


					 <span><a href="debtBreakdownList2" class="secondary-invert dash-spacer">View details of what you owe</a></span>
					 </div>
				 </div>




		</div>







		<div class="govuk-grid-column-one-half">

			<div class="scenario-panel">
					 <h2 class="govuk-heading-s">Help and support</h2>

					 <div class="scenario-inner-panel">
					  <p>Get help if you're struggling to pay and find<br>out what to do next.</p>

					 <span><a href="helpSupportDDplan" class="secondary-invert">Get help and support</a></span> 
					 </div>
				 </div>




		</div>

		
		
	  </div>
	  
	 
	  
			
	</div>
</div>

{% else %}



<!--- DD Dashboard ----->

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    
      <div class="clear-bar stripped-border">
	   		<div class="identifier">
	   			
	   			<h1 class="govuk-heading-l">
	   			<span class="govuk-caption-l">Account home</span>
	   			Ashley Chamberlain</h1>
	   		
	   		</div>
	   		<div class="govuk-inset-text">
			 Total amount owed: <span class="total-amount">
			 
										    
										    &pound;4320.00
				
			 						</span>
			 

			 
			</div>
	   		
	   	
	   </div> 
	   


      <div class="govuk-grid-row">
      
      
      
      
      
       <div class="govuk-grid-column-one-half">
       
       
       
       
       
            	
       	
       	<div class="scenario-panel">
					 <h2 class="govuk-heading-s">Direct Debit payment plan</h2>
					 
					 <div class="scenario-inner-panel">
					 
						 	<table class="govuk-table mb22">

							  <tbody class="govuk-table__body">
							    <tr class="govuk-table__row">
							      <th scope="row" class="govuk-table__header">Monthly payment</th>
							      <td class="govuk-table__cell">
								      
								      {% if data['amountChange']=='yesAmountChange'%}
										  
										&pound;{{ data['change-amount'] }}
										
										
										{% else %}
					   
										  
										  
										{% if data['paymentChoices']=='12Month'%}
										
										&pound;360.00
							
										{% elif data['paymentChoices']=='24Month'%}
										
										&pound;180.00										
										
										{% elif data['paymentChoices']=='36Month'%}
										
										&pound;120.00
										
										{% elif data['paymentChoices']=='48Month'%}
										
										&pound;90.00
										
										{% elif data['paymentChoices']=='72Month'%}
										
										&pound;60.00
			
										
										{% else %}
					
										&pound;100.00
										
										{% endif %}  
										  
										  
										   
										{% endif %}
								      
							      </td>
							    </tr>
							    <tr class="govuk-table__row">
							      <th scope="row" class="govuk-table__header">Payments remaining</th>
							      <td class="govuk-table__cell">
							      
							      
							      
							      {% if data['paymentChoices']=='12Month'%}
										    
										   12
								
											{% elif data['paymentChoices']=='24Month'%}
											
											24
											
											{% elif data['paymentChoices']=='36Month'%}
											
											36
											
											
											{% elif data['paymentChoices']=='48Month'%}
											
											48
											
											{% elif data['paymentChoices']=='72Month'%}
											
											72
											
											
											
											{% else %}
											
											43
											
											{% endif %}

							      
							      
							    </td>
							    </tr>
							    <tr class="govuk-table__row">
							      <th scope="row" class="govuk-table__header">Next payment date</th>
							      <td class="govuk-table__cell">20 November 2021</td>
							    </tr>
							  </tbody>
							</table>	
							
						<p class="statement mb20">If you're worried you cannot make this payment, you should contact your bank to discuss your options.</p>
						
									   					 
							   					 
					
					<span><a href="startAdditional.html" class="secondary-invert">Make an additional payment</a></span>	
					
					<span><a href="XLddPlan2" class="secondary-invert">View or manage your plan</a></span>
					
					
					
		           		             
					 </div>
				 </div>	
       	
       	
       	

	         
       
       
    
		     
				 
        </div>
        
        
      <div class="govuk-grid-column-one-half">
      
            
    
		    <div class="scenario-panel">
					 <h2 class="govuk-heading-s">Plan summary</h2>
					
					 
					 <div class="scenario-inner-panel">

					 
					 <div class="warning-message">
						   
						   <p>Your last Direct Debit was unsuccessful &ndash; we will try to take another payment on 20 November 2021.</p>
								  
									   
								   </div>
					 	
					 			
					 		<table class="govuk-table">

							  <tbody class="govuk-table__body">
							  
							  
							  
							   <tr class="govuk-table__row">
							      <th scope="row" class="govuk-table__header">Payments made</th>
							      <td class="govuk-table__cell">
							      
							      
							     0											
							      </td>
							   </tr>

							    
							   <tr class="govuk-table__row">
							      <th scope="row" class="govuk-table__header">Total amount repaid</th>
							      <td class="govuk-table__cell">
								      
										    &pound;0.00

								      
								      
							      </td>
							    </tr>
							    
							    
							    
							    <tr class="govuk-table__row">
							      <th scope="row" class="govuk-table__header">Expected final payment</th>
							      <td class="govuk-table__cell">
								      
								  {% if data['paymentChoices']=='12Month'%}
										    
										    {{ data['paymentDay'] }} November 2022
								
											{% elif data['paymentChoices']=='24Month'%}
											
											{{ data['paymentDay'] }} November 2023
											
											{% elif data['paymentChoices']=='36Month'%}
											
											{{ data['paymentDay'] }} November 2024
											
											
											{% elif data['paymentChoices']=='48Month'%}
											
											{{ data['paymentDay'] }} November 2025
											
											{% elif data['paymentChoices']=='72Month'%}
											
											{{ data['paymentDay'] }} November 2027
				
											
											{% else %}
											
											{{ data['paymentDay'] }} April 2024
											
											{% endif %}								      
								      
							      </td>
							    </tr>
							   

							    
							    

							   
							  </tbody>
							</table>
							
																
	
		             <span><a href="paymentHistoryDDfailed" class="secondary-invert mt30">View your payment history</a></span>
	
				 
        </div>
		    </div>
		    
		    
		    
	

        
      </div>

        
      </div>

        
        
        
        <div class="govuk-grid-row">
        
			
			
			<div class="govuk-grid-column-one-half">

		    <div class="scenario-panel">
					 <h2 class="govuk-heading-s">What you owe</h2>

					 <div class="scenario-inner-panel">
					  <p>Details of the money you owe to DWP.</p>


		             <span><a href="debtBreakdownList2" class="secondary-invert dash-spacer">View details of what you owe</a></span>
					 </div>
				 </div>




        </div>







        <div class="govuk-grid-column-one-half">

		    <div class="scenario-panel">
					 <h2 class="govuk-heading-s">Help and support</h2>

					 <div class="scenario-inner-panel">
					  <p>Get help if you're struggling to pay and find<br>out what to do next.</p>

		             <span><a href="helpSupportDDplan" class="secondary-invert">Get help and support</a></span> 
					 </div>
				 </div>




        </div>

        
        
      </div>
      
     
      
            
    </div>
</div>


{% endif %}



{% endblock %}
