
{% extends "layout-4.html" %}



{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}




{% block content %}




{% if data['paymentChoices']=='lowPayments'%}


<!--- Affordable DD Dashboard ----->



<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">
	
	  <div class="clear-bar stripped-border">
			   <div class="identifier">
				   
				   <h1 class="govuk-heading-l">
				   <span class="govuk-caption-l">Account home</span>
				   Ashley Chamberlain</h1>
			   
			   </div>
			   <div class="govuk-inset-text">
			 Total amount owed: <span class="total-amount">
			 
			&pound;4310.00
							 
									 
									 </span>
			 

			 
			</div>
			   
		   
	   </div> 


	  <div class="govuk-grid-row">
	  
	  
	  
	  
	  
	   <div class="govuk-grid-column-one-half">

		   
		   <div class="scenario-panel">
					 <h2 class="govuk-heading-s">Flexible payment plan</h2>
					 
					 <div class="scenario-inner-panel">
					 
					 
					 <table class="govuk-table">

						   <tbody class="govuk-table__body">
							   
							   
							 <tr class="govuk-table__row">
								   <th scope="row" class="govuk-table__header">Plan type</th>
								   <td class="govuk-table__cell">
								 Affordable payment plan										
								   </td>
								</tr>  
							  
							 
							 
							 
							 <tr class="govuk-table__row">
							   <th scope="row" class="govuk-table__header">Active month</th>
							   <td class="govuk-table__cell">
								   
							  
										 
										 June 2022
							 
																	   
								   
							   </td>
							 </tr>
							

							 
							 

							
						   </tbody>
						 </table>

							
							
							
							
							<div class="flexibleBanner dashboardTarget">
							
							
							<ul class="govuk-list">
							
							
							
							
			
								
								<li>
			
										 <h3>Monthly target</h3>
										<b>&pound;30.00</b>
										
				
				
								</li>
								
								<li>
									<h3>Paid this month</h3>
									<b>&pound;10.00</b>
								</li>
								
							<!--<li>
									<h3>Left to pay</h3>
									<b>&pound;67.00</b>
								</li>-->
				
					
							</ul>
							
						
							
							</div>
							
						
						
															
													
					
					<span><a href="#" class="secondary-invert">Make a flexible payment</a></span>	
					
					<!--<span><a href="#" class="secondary-invert">Switch to a Direct Debit payment plan</a></span>-->
				
					
					<span><a href="XLFlexyPlan" class="secondary-invert">View or manage your plan</a></span>
					
					
					
										
					 </div>
				 </div>	
		   
		   
		   

			 
	   
	   
	
			 
				 
		</div>
		
		
	  <div class="govuk-grid-column-one-half">
	  
			
	
			<div class="scenario-panel">
					 <h2 class="govuk-heading-s">Plan summary</h2>
					
					 
					 <div class="scenario-inner-panel">

					 	
						 <h4 class="govuk-heading-s">Last payment</h4>
			  
					 
						  <p>A payment of &pound;10.00 was made on 10 June 2022.</p> 
	
								 
							 <table class="govuk-table">

							  <tbody class="govuk-table__body">

							  
							   <tr class="govuk-table__row">
								  <th scope="row" class="govuk-table__header">Total payments</th>
								  <td class="govuk-table__cell">
								  
								  
								 1											
								  </td>
							   </tr>

								
							   <tr class="govuk-table__row">
								  <th scope="row" class="govuk-table__header">Total amount repaid</th>
								  <td class="govuk-table__cell">
									  
									  
									   
								&pound;10.00
									  
									  
								  </td>
								</tr>
								
								
								
								<tr class="govuk-table__row">
								  <th scope="row" class="govuk-table__header">Proposed review date</th>
								  <td class="govuk-table__cell">
									  
								 
											
											June 2023
								
																	      
									  
								  </td>
								</tr>
							   

								
								

							   
							  </tbody>
							</table>
							
																
	
					 <span><a href="paymentHistoryFlexy" class="secondary-invert mt30">View your payment history</a></span>
	
				 
		</div>
			</div>
			
			
			
	

		
	  </div>

		
	  </div>

		
		
		
		<div class="govuk-grid-row">
		
			
			
			<div class="govuk-grid-column-one-half">

			<div class="scenario-panel">
					 <h2 class="govuk-heading-s">What you owe</h2>

					 <div class="scenario-inner-panel">
					  <p>Details of the money you owe to DWP.</p>


					 <span><a href="debtBreakdownList2" class="secondary-invert dash-spacer">View details of what you owe</a></span>
					 </div>
				 </div>




		</div>







		<div class="govuk-grid-column-one-half">

			<div class="scenario-panel">
					 <h2 class="govuk-heading-s">Help and support</h2>

					 <div class="scenario-inner-panel">
					  <p>Get help if you're struggling to pay and find<br>out what to do next.</p>

					 <span><a href="helpSupportDDplan" class="secondary-invert">Get help and support</a></span> 
					 </div>
				 </div>




		</div>

		
		
	  </div>
	  
	 
	  
			
	</div>
</div>

{% else %}



<!--- DD Dashboard ----->

  <div class="govuk-grid-row">
	  <div class="govuk-grid-column-full">
	  
		<div class="clear-bar stripped-border">
				 <div class="identifier">
					 
					 <h1 class="govuk-heading-l">
					 <span class="govuk-caption-l">Account home</span>
					 Ashley Chamberlain</h1>
				 
				 </div>
				 <div class="govuk-inset-text">
			   Total amount owed: <span class="total-amount">
			   
			  &pound;4290.00
							   
									   
									   </span>
			   
  
			   
			  </div>
				 
			 
		 </div> 
  
  
		<div class="govuk-grid-row">
		
		
		
		
		
		 <div class="govuk-grid-column-one-half">
  
			 
			 <div class="scenario-panel">
					   <h2 class="govuk-heading-s">Flexible payment plan</h2>
					   
					   <div class="scenario-inner-panel">
					   
					   
					  <p class="activeMonth">Active month: <b>February 2022</b> <!--<span>11 days remaining</span>--></p>
  
							  
							  
							  
							  
							  <div class="flexibleBanner dashboardTarget">
							  
							  
							  <ul class="govuk-list">
							  
							  
							  
							  
			  
								  
								  <li>
			  
										   <h3>Monthly target</h3>
										  <b>&pound;100.00</b>
										  
				  
				  
								  </li>
								  
								  <li>
									  <h3>Paid this month</h3>
									  <b>&pound;50.00</b>
								  </li>
								  
							  <!--<li>
									  <h3>Left to pay</h3>
									  <b>&pound;67.00</b>
								  </li>-->
				  
					  
							  </ul>
							  
						  
							  
							  </div>
							  
						  
						  
															  
													  
					  
					  <span><a href="startAdditional" class="secondary-invert">Make a flexible payment</a></span>	
					  
					  <span><a href="XLddPlan2" class="secondary-invert">View or manage your plan</a></span>
					  
					  
					  
										  
					   </div>
				   </div>	
			 
			 
			 
  
			   
		 
		 
	  
			   
				   
		  </div>
		  
		  
		<div class="govuk-grid-column-one-half">
		
			  
	  
			  <div class="scenario-panel">
					   <h2 class="govuk-heading-s">Plan summary</h2>
					  
					   
					   <div class="scenario-inner-panel">
  
						   
						   <h4 class="govuk-heading-s">Last payment</h4>
				
					   
							<p>A payment of &pound;50.00 was made on 5 February 2022.</p> 
	  
								   
							   <table class="govuk-table">
  
								<tbody class="govuk-table__body">
  
								
								 <tr class="govuk-table__row">
									<th scope="row" class="govuk-table__header">Total payments</th>
									<td class="govuk-table__cell">
									
									
								   3											
									</td>
								 </tr>
  
								  
								 <tr class="govuk-table__row">
									<th scope="row" class="govuk-table__header">Total amount repaid</th>
									<td class="govuk-table__cell">
										
										
										 
								  &pound;150.00
										
										
									</td>
								  </tr>
								  
								  
								  
								  <tr class="govuk-table__row">
									<th scope="row" class="govuk-table__header">Expected end of debt</th>
									<td class="govuk-table__cell">
										
								   
											  
											January 2023
								  
																			
										
									</td>
								  </tr>
								 
  
								  
								  
  
								 
								</tbody>
							  </table>
							  
																  
	  
					   <span><a href="paymentHistoryDDfull" class="secondary-invert mt10">View your payment history</a></span>
	  
				   
		  </div>
			  </div>
			  
			  
			  
	  
  
		  
		</div>
  
		  
		</div>
  
		  
		  
		  
		  <div class="govuk-grid-row">
		  
			  
			  
			  <div class="govuk-grid-column-one-half">
  
			  <div class="scenario-panel">
					   <h2 class="govuk-heading-s">What you owe</h2>
  
					   <div class="scenario-inner-panel">
						<p>Details of the money you owe to DWP.</p>
  
  
					   <span><a href="debtBreakdownList2" class="secondary-invert dash-spacer">View details of what you owe</a></span>
					   </div>
				   </div>
  
  
  
  
		  </div>
  
  
  
  
  
  
  
		  <div class="govuk-grid-column-one-half">
  
			  <div class="scenario-panel">
					   <h2 class="govuk-heading-s">Help and support</h2>
  
					   <div class="scenario-inner-panel">
						<p>Get help if you're struggling to pay and find<br>out what to do next.</p>
  
					   <span><a href="helpSupportDDplan" class="secondary-invert">Get help and support</a></span> 
					   </div>
				   </div>
  
  
  
  
		  </div>
  
		  
		  
		</div>
		
	   
		
			  
	  </div>
  </div>
  


{% endif %}



{% endblock %}
