
{% extends "layout-4.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}



   <!-- <div class="clear-bar">
	   		<h2 class="govuk-heading-l">Ashley Chamberlain<span>ZZ 41 54 60 Z</span></h2>
	   		<p>What you owe:
	   				<span>&pound;120.00</span></p>

	   </div> -->


	   <div class="govuk-grid-row">

        <div class="govuk-grid-column-three-quarters">


		<span class="back-link"><a href="javascript: history.go(-1)" class="govuk-back-link">Back</a></span>
		
		

<form class="form" action="flexyDDGuard" method="post">



<div class="govuk-form-group">
	  <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
		<legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
		  <h1 class="govuk-fieldset__heading">
			<span class="govuk-caption-xl">Step 2 of 2</span>
			Do you want to switch to Direct Debit payments?
		  </h1>
		</legend>

		<div class="govuk-radios govuk-radios--inline">
		  <div class="govuk-radios__item">
			<input class="govuk-radios__input" id="flexyPayChangeYes" name="flexyPayChange" type="radio" value="flexyPayChangeYes">
			<label class="govuk-label govuk-radios__label" for="flexyPayChangeYes">
			  Yes
			</label>
		  </div>
		  <div class="govuk-radios__item">
			<input class="govuk-radios__input" id="flexyPayChangeNo" name="flexyPayChange" type="radio" value="flexyPayChangeNo">
			<label class="govuk-label govuk-radios__label" for="flexyPayChangeNo">
			  No
			</label>
		  </div>
		</div>
	
	  </fieldset>
	</div>




	
	
	
	
	<button class="govuk-button" data-module="govuk-button">
	  Continue
	</button>
	</form>












						


    </div>
</div>

{% endblock %}
