
{% extends "layout-4.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}



   <!-- <div class="clear-bar">
	   		<h2 class="govuk-heading-l">Ashley Chamberlain<span>ZZ 41 54 60 Z</span></h2>
	   		<p>What you owe:
	   				<span>&pound;120.00</span></p>

	   </div> -->


	   <div class="govuk-grid-row">

        <div class="govuk-grid-column-three-quarters">


		<span class="back-link"><a href="javascript: history.go(-1)" class="govuk-back-link">Back</a></span>
		
	
  
  {% if data['flexyPayChange']=='flexyPayChangeYes'%}
    	

		
		<h1 class="govuk-heading-xl">Direct Debit payments</h1>
  
  
    <!--  {% include "includes/amountOwed.html" %} -->
      
      
      
        


       <p class="mt30">If you want to set up a Direct Debit online:
       </p>
       
       <ul class="govuk-list govuk-list--bullet">
         <li>you must be an account holder and be able to authorise Direct Debits with <br>your bank or building society</li>
        <li>you will need your bank or building society account details</li>
        <li>you will also need your sort code and account number if you have a building society account</li>
       </ul>
        

        
        
        
        
<details class="govuk-details mt30" data-module="govuk-details">
<summary class="govuk-details__summary">
<span class="govuk-details__summary-text">
I cannot set up a Direct Debit online
</span>
</summary>
<div class="govuk-details__text">
<p>If you have a joint account and you and your partner both need to authorise <br>Direct Debits, you can set up a Direct Debit by downloading and completing <br>a Direct Debit mandate:</p>

<button class="govuk-button govuk-button--secondary" data-module="govuk-button">
Direct Debit mandate
</button>


<p>You need to post the Direct Debit mandate to:</p>

<p>Debt Accounting &amp; Finance<br>
Warbreck House<br>
Blackpool<br>
FY2 0YE<br>
United Kingdom</p>		



<!-- <p>Alternatively, you must contact Debt Management to discuss the options available to you.</p>


     


         <h2 class="govuk-heading-s">Debt Management</h2>
      <ul class="govuk-list">
      <li>Telephone: 0800 916 0647</li>
      <li> Monday to Friday, 10am to 4pm (except public holidays)</li>
    </ul>
    <p class="govuk-body">
      <a class="govuk-link" href="https://www.gov.uk/call-charges">Find out about call charges</a>
    </p>  	 -->


</div>
</details>


<div class="govuk-inset-text mt0">
   Once your plan is setup, you can sign in to manage your plan, change payments, pay additional amounts or get help and support.
         </div>


        

<p><a href="flexyDirectOwner" class="govuk-button">
        Continue
      </a></p>
     
    
    
    {% else %}
    
    
    
    <form class="form" action="flexyDirectFinish" method="post">
          
      
      <h1 class="govuk-heading-xl">
           <span class="govuk-caption-xl">Changes to your payment plan</span>Summary</h1>		
           
           
           
          
      
                        
         <table class="govuk-table mb40">
         
         <caption class="visually-hidden">Plan summary</caption>
          
      
            <tbody class="govuk-table__body">
            
          
             <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Total amount owed</th>
                <td class="govuk-table__cell" colspan="2">&pound;1440.00
                </td>
                
        
             </tr>
             
             
             <tr class="govuk-table__row">
                 <th scope="row" class="govuk-table__header">Monthly target amount</th>
                 <td class="govuk-table__cell">
                   
                   
               {% if data['flexyAmountChange']=='flexyAmountChangeYes'%}

               <p class="mb0">&pound;60.00 &ndash; for 24 months</p>

               {% else %}
               
              <p class="mb0">&pound;30.00 &ndash; for 48 months</p>
               
               {% endif %}
                   
                   
                 </td>
                 
                 <td class="govuk-table__cell changeDetails"><a href="directAmountEdit">Change</a></td>

                   
               </tr>
  
           
           <tr class="govuk-table__row">
               <th scope="row" class="govuk-table__header">Payment type</th>
               <td class="govuk-table__cell">Flexible payments
               </td>
               <td class="govuk-table__cell changeDetails"><a href="directAmountEdit">Change</a></td>
         
              </tr>
           

               
      
            </tbody>
          </table>
          

          
    
          <h2 class="govuk-heading-m mt40">How this effects your plan</h2>
                          
                          
          <table class="govuk-table summary-table mb40">
             
             <caption class="visually-hidden">Payment day summary</caption>
              
          
                <tbody class="govuk-table__body">
                
              
                 <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Expected final payment</th>
                  <td class="govuk-table__cell" colspan="2">

                  {% if data['flexyAmountChange']=='flexyAmountChangeYes'%}
                  
                  April 2024
      
                  {% else %}
        
                    April 2026
                   {% endif %}
                   
               <p>(If monthly target is met each month)</p>
                  </td>
                  
            
                 </tr>
                 
                 
               
                
                </tbody>
              </table>
          
          
          
          
      
          
          
          <h2 class="govuk-heading-m">Declaration</h2>

<p>By continuing, you confirm that you will:</p>

<ul class="govuk-list govuk-list--bullet mb30">
<li>pay the agreed monthly amount</li>
<li>let us know immediately if you’re struggling to keep up with payments</li>
</ul>
          


<div class="govuk-warning-text">
<span class="govuk-warning-text__icon" aria-hidden="true">!</span>
<strong class="govuk-warning-text__text">
<span class="govuk-warning-text__assistive">Warning</span>
If you do not keep up with your payments, we will ask your employer to make deductions from your pay or ask a debt collection agency to collect this money for us.
</strong>
</div>





<button class="govuk-button" data-module="govuk-button">
Continue
</button>



        
        
</form>
    
    


{% endif %}

	

    </div>
</div>

{% endblock %}
