
{% extends "layout-3a.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}


    
   <!-- <div class="clear-bar">
	   		<h2 class="govuk-heading-l">Ashley Chamberlain<span>ZZ 41 54 60 Z</span></h2>
	   		<p>What you owe:
	   				<span>&pound;120.00</span></p>

	   </div> -->
	   

	   
	   <div class="govuk-grid-row">
      
         <div class="govuk-grid-column-three-quarters">
	   
	  <span class="back-link"> <a href="javascript: history.go(-1)" class="govuk-back-link">Back</a></span>
	  

			
			<form class="form" action="indexGuard" method="post">
				
				
			
			<h1 class="govuk-heading-xl">
				  <span class="govuk-caption-xl">Ashley Chamberlain</span>
					 Register an account 
					  </h1>
	
	
			<div class="govuk-inset-text">
				<p>dkwjkdojw jwiud piowudiop wjiodj wid jwkldjwkl jdklwj dklwjd klwjdkl jwkldj wkldj wkldj wkldjwkl djwkld jw</p>
			</div>
				
		

			
			<div class="govuk-form-group">
				  <fieldset class="govuk-fieldset">
				    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
				      <h1 class="govuk-heading-m">
		
   					   	Do you want to register an account?
						      </h1>
				    </legend>
				   
				    <div class="govuk-radios">
						
						
						
						<div class="govuk-radios__item">
							<input class="govuk-radios__input" id="regContinue" name="signOptions" type="radio" value="regContinue">
							<label class="govuk-label govuk-radios__label" for="regContinue">
							Yes &ndash; I want to register an account
							</label>
					
						   
						  </div>
				    
				    <div class="govuk-radios__item">
				        <input class="govuk-radios__input" id="codeContinue" name="signOptions" type="radio" value="codeContinue">
				        <label class="govuk-label govuk-radios__label" for="codeContinue">
				       No &ndash; continue with security code and date of birth
				        </label>
			
				       
				      </div>
				      
				      
				       

				      
				    </div>
				  </fieldset>
				</div>
			
			<button class="govuk-button" data-module="govuk-button">
			  Continue
			</button>
			</form>
			

                  
    </div>
</div>

{% endblock %}



