
{% extends "layout-3a.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<span class="back-link"><a href="javascript: history.go(-1)" class="govuk-back-link">Back</a></span>


 <div class="govuk-grid-row">

        <div class="govuk-grid-column-full">

<p style="text-align: right;">Tel: 0800 916 0647<br>
Opening Times:<br>
Mon-Fri 10:00-16:00<br>
<br>
Account Holder: Ashley Chamberlain<br>
Reference Number: LM555555A<br>
Date: 10/06/2022</p>

<p>Dear Ashley Chamberlain</p>

<p>As you’ve stopped claiming Universal Credit, you now need to setup a payment plan for the <b>&pound;4,320.00</b>
you owe to DWP in relation to:</p>


<ul class="govuk-list govuk-list--bullet">
  <li>Universal Credit overpayment &ndash; &pound;700.00</li>
  <li>Universal Credit overpayment &ndash; &pound;620.00</li>
  <li>Universal Credit advance &ndash; &pound;1900.00</li>
  <li>HMRC Tax Credits overpayment &ndash; &pound;1100.00</li>
</ul>

<p>Our online service gives you a full breakdown of what you owe.</p>

<p>We understand it may not be possible to pay this in one go so you can set up a Direct Debit or
flexible payment plan. Alternatively, you can make single payments to reduce the amount you owe.</p>

<p>You are in control to manage the money you owe based on what you can afford and pay in a way
that suits you. If you are struggling, you can contact us for help.</p>

<p>You need to have an arrangement in place by <b>18/07/2022</b>.</p>

<p class="mt40"><b>What you need to do next</b></p>

<ol class="govuk-list govuk-list--number">
  <li>Go to https://repay-manage-benefit-owed.service.gov.uk (or you can search for ‘repay and
manage benefits money’ on the GOV.UK website)</li>
  <li><b>Enter security code 1314555353</b> &ndash; it is important to make a note of this as you will enter it
each time you sign in</li>
  <li>Enter your date of birth</li>
  <li>Set up a payment plan or make a payment</li>
</ol>

<p>Alternatively, you can contact us on the number above to discuss your payment options.</p>






<p>For help and support on dealing with debt and budgeting, contact:</p>

<ul class="govuk-list govuk-list--bullet">
<li>Citizens Advice - www.citizensadvice.org.uk</li>
<li>StepChange Debt Charity - www.stepchange.org</li>
<li>Money Advice Service – www.moneyadviceservice.org.uk</li>
</ul>

<p>Yours sincerely</p>

<p>Mark Birtles<br>
Debt Centre Manager</p>


</div>
</div>


{% endblock %}
