
{% extends "layout-4.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}



   <!-- <div class="clear-bar">
	   		<h2 class="govuk-heading-l">Ashley Chamberlain<span>ZZ 41 54 60 Z</span></h2>
	   		<p>What you owe:
	   				<span>&pound;120.00</span></p>

	   </div> -->


	   <div class="govuk-grid-row">

        <div class="govuk-grid-column-three-quarters">


		<span class="back-link"><a href="javascript: history.go(-1)" class="govuk-back-link">Back</a></span>
			
									
										<form class="form" action="lowPlanDetailsAdded" method="post">


		
											
											
											
											
											<div class="govuk-form-group">
												  <h1 class="govuk-label-wrapper">
													  <span class="govuk-caption-xl">Step 1 of 5</span>
													  <label class="govuk-label govuk-label--xl" for="affordable-amount">
													How much can you afford to pay each month?
													</label>
												  </h1>
												  
												  <div id="pay-hint" class="govuk-hint mb20">
													  If your income varies, you can enter the lowest amount you can afford and pay additional amounts on top.
														  </div> 
												  
												  <div class="govuk-input__wrapper">
													<div class="govuk-input__prefix" aria-hidden="true">£</div>
													<input class="govuk-input govuk-input--width-10" id="affordable-amount" name="affordable-amount" type="text" spellcheck="false">
												  </div>
												</div>
											
											
											
									        
									  
											<button class="govuk-button" data-module="govuk-button">
											  Continue
											</button>
											</form>
									
									
									
										

    </div>
</div>

{% endblock %}
