
{% extends "layout-4.html" %}



{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}




{% block content %}





<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">
	
	  <div class="clear-bar stripped-border">
			   <div class="identifier">
				   
				   <h1 class="govuk-heading-l">
				   <span class="govuk-caption-l">Account home</span>
				   Ashley Chamberlain</h1>
			   
			   </div>
			   <div class="govuk-inset-text">
			 Total amount owed: <span class="total-amount">
			 
			&pound;4290.00
							 
									 
									 </span>
			 

			 
			</div>
			   
		   
	   </div> 


	  <div class="govuk-grid-row">
	  
	  
	  
	  
	  
	   <div class="govuk-grid-column-one-half">

		   
		   <div class="scenario-panel">
					 <h2 class="govuk-heading-s">What do you want to do?</h2>
					 
					 <div class="scenario-inner-panel">
					 
					 
					 
					 <div class="flexibleBanner dashboardTarget">
						 

					 <p class="mb0">You have a payment due for June 2022</p>
						 
						 </div>
							
							
							
						<p class="statement mb20">You currently do not have a payment plan setup.</p>
						
															
							<span><a href="directLowAmount" class="secondary-invert">Set up a payment plan</a></span>							
					
					<span><a href="#" class="secondary-invert">Make a one off payment</a></span>	
	
					 </div>
				 </div>	
		   
		   
		   

			 
	   
	   
	
			 
				 
		</div>
		
		
	  <div class="govuk-grid-column-one-half">
	  
			
	
			<div class="scenario-panel">
					 <h2 class="govuk-heading-s">Plan summary</h2>
					
					 
					 <div class="scenario-inner-panel">

					 
					 <div class="warning-message complete-alert">
								
									 <p>A payment of &pound;30.00 was taken from your account on 21 May 2022</p>
								 </div>
						 
								 
							 <table class="govuk-table">

							  <tbody class="govuk-table__body">
							  
							  
							  
							  
							  
							   <tr class="govuk-table__row">
								  <th scope="row" class="govuk-table__header">Payments made</th>
								  <td class="govuk-table__cell">
								  
								  
								 1											
								  </td>
							   </tr>

								
							   <tr class="govuk-table__row">
								  <th scope="row" class="govuk-table__header">Total amount repaid</th>
								  <td class="govuk-table__cell">
									  
									  
									   
								&pound;30.00
									  
									  
								  </td>
								</tr>
								
								
								

							   
							  </tbody>
							</table>
							
																
	
					 <span><a href="paymentHistoryDDfull" class="secondary-invert">View your payment history</a></span>
	
				 
		</div>
			</div>
			
			
			
	

		
	  </div>

		
	  </div>

		
		
		
		<div class="govuk-grid-row">
		
			
			
			<div class="govuk-grid-column-one-half">

			<div class="scenario-panel">
					 <h2 class="govuk-heading-s">What you owe</h2>

					 <div class="scenario-inner-panel">
					  <p>Details of the money you owe to DWP.</p>


					 <span><a href="debtBreakdownList2" class="secondary-invert dash-spacer">View details of what you owe</a></span>
					 </div>
				 </div>




		</div>







		<div class="govuk-grid-column-one-half">

			<div class="scenario-panel">
					 <h2 class="govuk-heading-s">Help and support</h2>

					 <div class="scenario-inner-panel">
					  <p>Get help if you're struggling to pay and find<br>out what to do next.</p>

					 <span><a href="helpSupportDDplan" class="secondary-invert">Get help and support</a></span> 
					 </div>
				 </div>




		</div>

		
		
	  </div>
	  
	 
	  
			
	</div>
</div>





{% endblock %}
