
{% extends "layout-3a.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}


    
   <!-- <div class="clear-bar">
	   		<h2 class="govuk-heading-l">Ashley Chamberlain<span>ZZ 41 54 60 Z</span></h2>
	   		<p>What you owe:
	   				<span>&pound;120.00</span></p>

	   </div> -->
	   
	   
	   <div class="govuk-grid-row">
      
        <div class="govuk-grid-column-two-thirds">
	   
	   <h1 class="govuk-heading-xl">You have signed out</h1>
	   
	   <p>You can now close your browser window.</p>
			
		<p><a href="start" class="govuk-button">Sign in</a></p>
		
                  
    </div>
</div>

{% endblock %}



