
{% extends "layout-3a.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}




	   <div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">


<span class="back-link"><a href="javascript: history.go(-1)" class="govuk-back-link">Back</a></span>


	   <h1 class="govuk-heading-xl">Manage payments</h1>

	   <p>You can change your:</p>


      <ul class="govuk-list govuk-list--bullet">
		<li>Direct Debit amount</li>
		<!--<li>Payment type (switch to flexible payments)</li>-->
      	<li>Direct Debit payment day</li>
      	<!--<li>bank details</li>-->
      </ul>
	  
<div class="govuk-inset-text">
	<p>If you want to switch to flexible payments or change your bank details, you need to contact Debt Management.</p>
	
	
	   <h2 class="govuk-heading-s">Debt Management</h2>
  <ul class="govuk-list">
  <li>Telephone: 0800 916 0647</li>
  <li> Monday to Friday, 10am to 4pm (except public holidays)</li>
</ul>
<p class="govuk-body">
  <a class="govuk-link" href="https://www.gov.uk/call-charges">Find out about call charges</a>
</p>	

	</div>
   
		
		<p><a href="OneddAmountChange" class="govuk-button">Continue</a></p>
		


    </div>
</div>

{% endblock %}
