
{% extends "layout-3a.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}




	   <div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">


<span class="back-link"><a href="javascript: history.go(-1)" class="govuk-back-link">Back</a></span>


	   <h1 class="govuk-heading-xl">Manage payments</h1>

	   <p>You can:</p>


      <ul class="govuk-list govuk-list--bullet">
		<li>Change your monthly amount</li>
		<li>Switch to Direct Debit payments</li>
      </ul>
	  

   
		
		<p><a href="OneFlexyChange" class="govuk-button">Continue</a></p>
		


    </div>
</div>

{% endblock %}
