
{% extends "layout-4.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}


   <!-- <div class="clear-bar">
	   		<h2 class="govuk-heading-l">Ashley Chamberlain<span>ZZ 41 54 60 Z</span></h2>
	   		<p>What you owe:
	   				<span>&pound;120.00</span></p>

	   </div> -->
	   
	   
	   <div class="govuk-grid-row">
      
        <div class="govuk-grid-column-three-quarters">
	   
	   
		<span class="back-link"><a href="javascript: history.go(-1)" class="govuk-back-link">Back</a></span>
		
	   
	   
	   
	   <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            Your payment was successful
          </h1>
          <div class="govuk-panel__body">
            This will take 2 to 5 working days to update your account
          </div>
        </div>

        <!--<p class="govuk-body">We have sent you a confirmation email.</p>-->

        <h2 class="govuk-heading-m">What happens next</h2>

        <p class="govuk-body">
         We have sent you a confirmation email &ndash; you should allow your account to update before logging back in.
        </p>
        
        
      
	   
	   
	   <table class="govuk-table summary-table">
		   <caption class="govuk-table__caption"><span class="govuk-heading-m">Payment summary</span></caption>

		  <tbody class="govuk-table__body">
		  

		    

		  <tr class="govuk-table__row">
		      <th scope="row" class="govuk-table__header">Payment amount</th>
		      <td class="govuk-table__cell">
			      
			      

			&pound;250.00
			

			      
		      </td>
	
		    </tr>

		    
		    
				 
		
		    <tr class="govuk-table__row">
		      <th scope="row" class="govuk-table__header">Payment to</th>
		      <td class="govuk-table__cell">DWP Debt Management</td>
		    </tr>
		    
		    <tr class="govuk-table__row">
		      <th scope="row" class="govuk-table__header">Payment date</th>
		      <td class="govuk-table__cell">28 April 2021</td>
		    </tr>
		  </tbody>
		</table>
		

		
		<p><a href="../index" class="govuk-button">Finish and sign out</a></p>

        

       <!-- <p class="govuk-body">
          <a href="#" class="govuk-link">What did you think of this service?</a> (takes 30 seconds)
        </p> -->
	   
	   			

                  
    </div>
</div>

{% endblock %}



