
{% extends "layout-4.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}



   <!-- <div class="clear-bar">
	   		<h2 class="govuk-heading-l">Ashley Chamberlain<span>ZZ 41 54 60 Z</span></h2>
	   		<p>What you owe:
	   				<span>&pound;120.00</span></p>

	   </div> -->


	   <div class="govuk-grid-row">

        <div class="govuk-grid-column-three-quarters">
        
        
        <span class="back-link"><a href="javascript: history.go(-1)" class="govuk-back-link">Back</a></span>


									<span class="govuk-caption-xl">Ashley Chamberlain</span>
									<h1 class="govuk-heading-xl mb30">
										Your account is now covered <br>by Breathing Space</h1>
				
											
		<p>During this period any outstanding amounts owed to DWP will not be recovered and you will not be contacted about them until Breathing Space ends on 12 December 2021.</p>


	<!--
											 <details class="govuk-details mt20" data-module="govuk-details">
				  <summary class="govuk-details__summary">
				    <span class="govuk-details__summary-text">
				     View payment history
				    </span>
				  </summary>
				  <div class="govuk-details__text">
				    	
				    	 <table class="govuk-table summary-pay">
		  
		  
							  <thead class="govuk-table__head">
							    <tr class="govuk-table__row">
							    
							      <th class="govuk-table__header" scope="col">Date of payment</th>
							
							      <th class="govuk-table__header govuk-table__header--numeric" scope="col">Amount</th>
							      
							        <th class="govuk-table__header govuk-table__header--numeric" scope="col">Balance</th>
							      
							    
							    </tr>
							  </thead>
							  
							  <tbody class="govuk-table__body">
							    
							    <tr class="govuk-table__row">
							    
							      
							      <td class="govuk-table__cell">26 June 2020</td>
							
							
							      <td class="govuk-table__cell govuk-table__cell--numeric">&pound;25.00</td>
							      
							      <td class="govuk-table__cell govuk-table__cell--numeric">0.00</td>
							      
							    
							    </tr>
							    
							    
							    <tr class="govuk-table__row">
							    
							      
							      <td class="govuk-table__cell">11 May 2020</td>
							
							
							      <td class="govuk-table__cell govuk-table__cell--numeric">&pound;10.00</td>
							      
							      <td class="govuk-table__cell govuk-table__cell--numeric">&pound;25.00</td>
							      
							    
							    </tr>
							    
							    
							    <tr class="govuk-table__row">
							    
							      
							      <td class="govuk-table__cell">8 April 2020</td>
							
							
							      <td class="govuk-table__cell govuk-table__cell--numeric">&pound;10.00</td>
							      
							      <td class="govuk-table__cell govuk-table__cell--numeric">&pound;35.00</td>
							      
							    
							    </tr>
							    
							    
							    <tr class="govuk-table__row">
							    
							      
							      <td class="govuk-table__cell">3 March 2020</td>
							
							
							      <td class="govuk-table__cell govuk-table__cell--numeric">&pound;10.00</td>
							      
							      <td class="govuk-table__cell govuk-table__cell--numeric">&pound;45.00</td>
							      
							    
							    </tr>
							    
							    
							    <tr class="govuk-table__row">
							    
							      
							      <td class="govuk-table__cell">5 Febuary 2020</td>
							
							
							      <td class="govuk-table__cell govuk-table__cell--numeric">&pound;10.00</td>
							      
							      <td class="govuk-table__cell govuk-table__cell--numeric">&pound;55.00</td>
							      
							    
							    </tr>
							    
							    
							    <tr class="govuk-table__row">
							    
							      
							      <td class="govuk-table__cell">21 January 2020</td>
							
							
							      <td class="govuk-table__cell govuk-table__cell--numeric">&pound;10.00</td>
							      
							      <td class="govuk-table__cell govuk-table__cell--numeric">&pound;65.00</td>
							      
							    
							    </tr>
							    
							    
							    <tr class="govuk-table__row">
							    
							      
							      <td class="govuk-table__cell">16 December 2019</td>
							
							
							      <td class="govuk-table__cell govuk-table__cell--numeric">&pound;10.00</td>
							      
							      <td class="govuk-table__cell govuk-table__cell--numeric">&pound;75.00</td>
							      
							    
							    </tr>
							    
							    
							    <tr class="govuk-table__row">
							    
							      
							      <td class="govuk-table__cell">20 November 2019</td>
							
							
							      <td class="govuk-table__cell govuk-table__cell--numeric">&pound;10.00</td>
							      
							      <td class="govuk-table__cell govuk-table__cell--numeric">&pound;85.00</td>
							      
							    
							    </tr>
							    
							    
							    <tr class="govuk-table__row">
							    
							      
							      <td class="govuk-table__cell">14 October 2019</td>
							
							
							      <td class="govuk-table__cell govuk-table__cell--numeric">&pound;10.00</td>
							      
							      <td class="govuk-table__cell govuk-table__cell--numeric">&pound;95.00</td>
							      
							    
							    </tr>
							    
							    
							    <tr class="govuk-table__row">
							    
							      
							      <td class="govuk-table__cell">2 September 2019</td>
							
							
							     <td class="govuk-table__cell govuk-table__cell--numeric">&pound;10.00</td>
							      
							      <td class="govuk-table__cell govuk-table__cell--numeric">&pound;105.00</td>					      
							    
							    </tr>
							    
							    <tr class="govuk-table__row">
							    
							      
							      <td class="govuk-table__cell">7 August 2019</td>
							
							
							      <td class="govuk-table__cell govuk-table__cell--numeric">&pound;10.00</td>
							      
							      <td class="govuk-table__cell govuk-table__cell--numeric">&pound;115.00</td>
							      
							    
							    </tr>
							    
							    <tr class="govuk-table__row">
							    
							      
							      <td class="govuk-table__cell">4 July 2019</td>
							
							
							     <td class="govuk-table__cell govuk-table__cell--numeric">&pound;10.00</td>
							      
							      <td class="govuk-table__cell govuk-table__cell--numeric">&pound;125.00</td>
							      
							    
							    </tr>
							    
							     <tr class="govuk-table__row">
							    
							      
							      <td class="govuk-table__header govuk-table__cell">Opening balance</td>
							
							
							     <td class="govuk-table__cell govuk-table__cell--numeric">&ndash;</td>
							      
							      <td class="govuk-table__cell govuk-table__cell--numeric">&pound;135.00</td>
							      
							    
							    </tr>
							
							    
							        
							  </tbody>
							</table>
				    	
				  </div>
				</details> -->




<p class="mt20"><a href="dashboard1" class="govuk-button mb0">Sign out</a></p>
											


    </div>
</div>

{% endblock %}
