
{% extends "layout-4.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}



   <!-- <div class="clear-bar">
	   		<h2 class="govuk-heading-l">Ashley Chamberlain<span>ZZ 41 54 60 Z</span></h2>
	   		<p>What you owe:
	   				<span>&pound;120.00</span></p>

	   </div> -->


	   <div class="govuk-grid-row">

        <div class="govuk-grid-column-three-quarters">


		<span class="back-link"><a href="javascript: history.go(-1)" class="govuk-back-link">Back</a></span>
		
		
		
		
		

									
									
									 <div class="govuk-panel govuk-panel--confirmation">
									 
									 

							   
							   
							   {% if data['targetChoice2']=='target-no2'%}
							   
							   <h1 class="govuk-panel__title">
					          	Your payment was successful
					         </h1>

		   {% else %}
		   
		   
		   <h1 class="govuk-panel__title">
					          	Your payment was successful and your plan is setup
					         </h1>
	   
	   	
	   	{% endif %}
	   	
							   
							   
		   
		
									 
									 
									 
									 
          
          <div class="govuk-panel__body">
 
            It will take 2 to 5 working days to update your account
          </div>
        </div>

        <!--<p class="govuk-body">We have sent you a confirmation email.</p>-->
        
        
        


       
       <h2 class="govuk-heading-m">What happens next</h2>


       
      <p>We have sent you a payment confirmation email &ndash; you should allow your account to update before logging back in.</p>
      
      
      
      
      {% if data['targetChoice2']=='target-no2'%}
									  
									  <p>Once your account has been updated, you can continue to make payments &ndash; when you pay is up to you.</p>

							   {% else %}
							   
							   
							   <p>Once your account has been updated, you can continue to make payments towards your target &ndash; when you pay is up to you.</p>
		   
							{% endif %}



       
		
		
		
		
		
		
		<h2 class="govuk-heading-m mt30">Summary</h2>

	   <table class="govuk-table summary-table mb40">
		  <caption class="govuk-table__caption"><span class="visually-hidden">Payment summary</span></caption>

		  <tbody class="govuk-table__body">

			   {% if data['targetChoice2']=='target-no2'%}

		   {% else %}
		   
		   
		   <tr class="govuk-table__row">
		      <th scope="row" class="govuk-table__header">Monthly target</th>
		      <td class="govuk-table__cell">

			     {% if data['targetAmountsChoice']=='6MonthTarget'%}
													    
													    &pound;1000.00
													    
											
														{% elif data['targetAmountsChoice']=='12MonthTarget'%}
														
														&pound;500.00
														
														
														
														{% elif data['targetAmountsChoice']=='24MonthTarget'%}
														
														&pound;250.00
														
														{% elif data['targetAmountsChoice']=='36MonthTarget'%}
														
														&pound;167.00
														
														{% elif data['targetAmountsChoice']=='48MonthTarget'%}
														
														&pound;125.00
														
														{% elif data['targetAmountsChoice']=='72MonthTarget'%}
														
														&pound;84.00
		
														{% endif %}

		      </td>
		
		    </tr>

		   
		   
		   
		   {% endif %}		    
		    
		    <tr class="govuk-table__row">
		      <th scope="row" class="govuk-table__header">Payment taken today</th>
		      <td class="govuk-table__cell">
		     &pound;{{ data['payment-amount'] }}
		      </td>
		      
		    </tr>
		     


		<tr class="govuk-table__row">
		      <th scope="row" class="govuk-table__header">Payment to</th>
		      <td class="govuk-table__cell">DWP Debt Management</td>
		    </tr>
		    
		    <tr class="govuk-table__row">
		      <th scope="row" class="govuk-table__header">Payment date</th>
		      <td class="govuk-table__cell">12 April 2020</td>
		    </tr>



		  </tbody>
		</table>
		
		

		<p><a href="#">What did you think of this service? (opens in new tab)</a></p>
		

									
								
								<p><a href="../index" class="govuk-button">Finish and sign out</a></p>
									





    </div>
</div>

{% endblock %}
