
{% extends "layout-4.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}



   <!-- <div class="clear-bar">
	   		<h2 class="govuk-heading-l">Ashley Chamberlain<span>ZZ 41 54 60 Z</span></h2>
	   		<p>What you owe:
	   				<span>&pound;120.00</span></p>

	   </div> -->


	   <div class="govuk-grid-row">

        <div class="govuk-grid-column-three-quarters">
        
        
        <span class="back-link"><a href="javascript: history.go(-1)" class="govuk-back-link">Back</a></span>


									<span class="govuk-caption-xl">Ashley Chamberlain</span>
									<h1 class="govuk-heading-xl mb30">
										Direct Debit payment plans <br>are now available</h1>




								<!--		<div class="flexibleBanner">


											<ul class="govuk-list">
	

												<li>
													<h3>Total amount repaid</h3>


														<b>&pound;32.00</b>



												</li>
												
												<li>
													<h3>Monthly target</h3>


														<b>&pound;10.00</b>



												</li>
												<li>
													<h3>Monthly repayment average</h3>


														<b>&pound;8.00</b>



												</li>

											</ul>

											</div> -->
											
											
		<p>You can now setup a Direct Debit by choosing a plan with fixed monthly payments.</p>
<div class="govuk-inset-text">Once your plan is setup, you can sign in to manage your plan to track payments, pay additional amounts or get help and support.</div>





<form>

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="how-contacted-conditional-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h2 class="govuk-fieldset__heading">
        Do you want to switch to a Direct Debit plan now? 
      </h2>
    </legend>
	    	    
				    
				    
    <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="how-contacted-conditional" name="how-contacted" type="radio" value="yesReminder" data-aria-controls="conditional-how-contacted-conditional">
        <label class="govuk-label govuk-radios__label" for="how-contacted-conditional">
          Yes
        </label>
      </div>
     


      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="how-contacted-conditional-2" name="how-contacted" type="radio" value="noReminder" data-aria-controls="conditional-how-contacted-conditional-2">
        <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-2">
          No
        </label>
      </div>
      
      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-how-contacted-conditional-2">
      <p>You will still be able to switch to a Direct Debit payment plan in the future by signing in to your account and managing your plan.</p>
      </div>

  </fieldset>
</div>




<p class="mt20"><a href="dashboard1" class="govuk-button mb0">Continue to account home</a></p>
											
											
</form>

    </div>
</div>

{% endblock %}
