
{% extends "layout-3.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}




  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">



   <!-- <div class="clear-bar">
	   		<h2 class="govuk-heading-l">Ashley Chamberlain<span>ZZ 41 54 60 Z</span></h2>
	   		<p>What you owe:
	   				<span>&pound;120.00</span></p>

	   </div> -->

	   <span class="back-link"><a href="javascript: history.go(-1)" class="govuk-back-link">Back</a></span>


									{% if data['choose-what']=='want-pay'%}
									 <h1 class="govuk-heading-xl">Payment options </h1>

	    <div class="govuk-inset-text">
		 Total amount owed: <span class="total-amount">&pound;120.00</span>
		 </div>


      <div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">


			<form class="form" action="fullPayment" method="post">
			<div class="govuk-form-group">
			  <fieldset class="govuk-fieldset">
				    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
				      <h2 class="govuk-heading-s mb0">
				        Choose a payment option:
				      </h2>
				    </legend>



			      <div class="govuk-radios">
			      <div class="govuk-radios__item">
				        <input class="govuk-radios__input" id="full-amount" name="payment-options" type="radio" value="full-amount" aria-describedby="full-amount-hint">
				        <label class="govuk-label govuk-radios__label govuk-label" for="full-amount">
				         Pay the full amount
				        </label>
				        
				      </div>
				      <div class="govuk-radios__item">
				        <input class="govuk-radios__input" id="flexible-amount" name="payment-options" type="radio" value="flexible-amount" aria-describedby="flexible-amount-item-hint">
				        <label class="govuk-label govuk-radios__label govuk-label" for="flexible-amount">
				         Set up a flexible payment plan
				        </label>
				      </div>
				     <!--<div class="govuk-radios__item">
				        <input class="govuk-radios__input" id="fixed-plan" name="payment-options" type="radio" value="fixed-plan" aria-describedby="fixed-plan-hint">
				        <label class="govuk-label govuk-radios__label govuk-label--s" for="fixed-plan">
				          Set up a fixed payment plan
				        </label>
				        <span id="fixed-plan-hint" class="govuk-hint govuk-radios__hint">
				          You will need to set up a Direct Debit payment
				        </span>
				      </div>-->
				    </div>


			  </fieldset>
			</div>

			<button class="govuk-button" data-module="govuk-button">
			  Continue
			</button>
			</form>

										<!--// choose payment end -->






									{% elif data['choose-what']=='want-help'%}

					<form class="form" action="helpSupport" method="post">



						        <div class="govuk-form-group">
										  <fieldset class="govuk-fieldset">
										    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">

										      <h1 class="govuk-fieldset__heading">
										       What type of help do you need?
										      </h1>
										    </legend>


										    <div class="govuk-radios">
										      <div class="govuk-radios__item">
										        <input class="govuk-radios__input" id="help-struggling" name="help-choice" type="radio" value="help-struggling">
										        <label class="govuk-label govuk-radios__label" for="help-struggling">
										          I'm struggling to pay my debt
										        </label>
										      </div>
										      <div class="govuk-radios__item">
										        <input class="govuk-radios__input" id="help-understanding" name="help-choice" type="radio" value="help-understanding">
										        <label class="govuk-label govuk-radios__label" for="help-understanding">
										          I do not understand my debt
										        </label>
										      </div>
										      <div class="govuk-radios__item">
										        <input class="govuk-radios__input" id="help-advice" name="help-choice" type="radio" value="help-advice">
										        <label class="govuk-label govuk-radios__label" for="help-advice">
										          I need further advice
										        </label>
										      </div>


										    </div>
										  </fieldset>
										</div>






						<button class="govuk-button" data-module="govuk-button">
						  Continue
						</button>

						</form>

									<!--// Help and support end -->



									{% else %}

									<h1 class="govuk-heading-l">Oops! you didn't select an option</h1>

									<p>Don't worry, you can go back and try again.</p>


									{% endif %}


        </div>

      </div>


    </div>
</div>

{% endblock %}
