
{% extends "layout-3a.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}



   <!-- <div class="clear-bar">
	   		<h2 class="govuk-heading-l">Ashley Chamberlain<span>ZZ 41 54 60 Z</span></h2>
	   		<p>What you owe:
	   				<span>&pound;120.00</span></p>

	   </div> -->


	   <div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

        <span class="back-link"><a href="javascript: history.go(-1)" class="govuk-back-link">Back</a></span>



		<div class="list-display">
						
						<p>Hello Ashley Chamberlain.</p>
						<p>The amount you owe on your Universal Credit Budgeting Advance is £13.00</p>
						
						<p>Make a note of this amount as you will need to enter it when making your payment.</p>

						<p>To repay the balance, go to <a href="start">https://repay-manage-benefit-you-owe.service.gov.uk</a></p>
						<p>You will need to enter security code 30054876254, along with your date of birth.</p>
				
		</div>






    </div>
</div>

{% endblock %}
