
{% extends "layout-3a.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}



   <!-- <div class="clear-bar">
	   		<h2 class="govuk-heading-l">Ashley Chamberlain<span>ZZ 41 54 60 Z</span></h2>
	   		<p>What you owe:
	   				<span>&pound;120.00</span></p>

	   </div> -->


	   <div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

        <span class="back-link"><a href="javascript: history.go(-1)" class="govuk-back-link">Back</a></span>



		<div class="list-display">

						<p>Hello Ashley Chamberlain.</p>
						<p>You made a repayment against your Budgeting Advance. We have updated our records to show this.</p>
						<p>You have now repaid your balance in full.</p>
						<p>Please wait 5 working days following the date of your payment before contacting UC about a further advance.</p>

		</div>




    </div>
</div>

{% endblock %}
