
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    
     
    
   <!-- <div class="clear-bar">
	   		<h2 class="govuk-heading-l">Harvey Chamberlain<span>ZZ 41 54 60 Z</span></h2>
	   		<p>What you owe:
	   				<span>&pound;630.00</span></p>

	   </div> -->
	   
	   <span class="back-link"><a href="javascript: history.go(-1)" class="govuk-back-link">Back</a></span>
	   
	   <h1 class="govuk-heading-l">Understand what you owe</h1>
	   

	   
	   <div class="govuk-inset-text">
		 Total amount owed: <span class="total-amount">&pound;630.00</span>
		 </div>
	   
	   
	      
        
      <div class="govuk-grid-row">
      
        <div class="govuk-grid-column-two-thirds">
        
        
        	<h2 class="govuk-heading-m">Who you owe money to:</h2>
			<ul class="govuk-list govuk-list--bullet">
				<li>Universal credit</li>
				<li>HMRC tax credits</li>
			</ul>
        
        	
      
			<a href="understand-step1" class="govuk-button">View a breakdown of each debt</a>
			
        </div>
      </div>
      
      
            
          
     
      
            
    </div>
</div>

{% endblock %}
