
{% extends "layout-4.html" %}



{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}




{% block content %}






  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    
      <div class="clear-bar stripped-border">
	   		<div class="identifier">
	   			
	   			<h1 class="govuk-heading-l">
	   			<span class="govuk-caption-l">Account home</span>
	   			Ashley Chamberlain</h1>
	   		
	   		</div>
	   		<div class="govuk-inset-text">
			 Total amount owed: <span class="total-amount">
			 
			 							 {% if data['how-much2']=='oneHundredPound'%}
										    
										    &pound;1666.00
								
											{% elif data['how-much2']=='fiftyPound'%}
											
											&pound;1833.00
											
											{% elif data['how-much2']=='thirtyThree'%}
											
											&pound;1888.00
											
											
											{% elif data['how-much2']=='twentyFivePound'%}
											
											&pound;1916.00

											
											{% else %}
											
											&pound;1944.00
											
											{% endif %}
			 						
			 						</span>
			 

			 
			</div>
	   		
	   	
	   </div> 
	   
	   
<!--<div class="warning-message complete-alert">
							 <h5 class="govuk-heading-s">Payment status</h5>
							 	<p>A payment has been made. It will take up to 24 hours to update your account.</p>
							 </div> -->
							 
							 
							 
							<!--<div class="warning-message">
								 <h5 class="govuk-heading-s">You didn't make a payment last month</h5>
								 	<p>If you do not keep up with your payments, we may ask your employer to make deductions from your pay or ask a debt collection agency to collect this money for us.</p>
								 </div>-->


      <div class="govuk-grid-row">
      
      
      
      
      
       <div class="govuk-grid-column-one-half">
    
		    <div class="scenario-panel">
					 <h2 class="govuk-heading-s">Direct Debit payment plan</h2>
					 
					 <div class="scenario-inner-panel">
					 
						 	<table class="govuk-table">

							  <tbody class="govuk-table__body">
							    <tr class="govuk-table__row">
							      <th scope="row" class="govuk-table__header">Monthly payment</th>
							      <td class="govuk-table__cell">
								      
								      {% if data['how-much2']=='oneHundredPound'%}
										    
										    &pound;334.00
								
											{% elif data['how-much2']=='fiftyPound'%}
											
											&pound;167.00
											
											{% elif data['how-much2']=='thirtyThree'%}
											
											&pound;112.00
											
											
											{% elif data['how-much2']=='twentyFivePound'%}
											
											&pound;84.00

											
											{% else %}
											
											&pound;56.00
											
											{% endif %}
								      
							      </td>
							    </tr>
							    <tr class="govuk-table__row">
							      <th scope="row" class="govuk-table__header">Payments made</th>
							      <td class="govuk-table__cell">
							      
							      
							      
							      {% if data['how-much2']=='oneHundredPound'%}
										    
										   1 of 6
								
											{% elif data['how-much2']=='fiftyPound'%}
											
											1 of 12
											
											{% elif data['how-much2']=='thirtyThree'%}
											
											1 of 18
											
											
											{% elif data['how-much2']=='twentyFivePound'%}
											
											1 of 24

											
											{% else %}
											
											1 of 36
											
											{% endif %}
							      
							      
							      
							     <!-- {% if data['how-much2']=='oneHundredPound'%}
										    
										  5
								
											{% elif data['how-much2']=='fiftyPound'%}
											
											11
											
											{% elif data['how-much2']=='thirtyThree'%}
											
											17
											
											
											{% elif data['how-much2']=='twentyFivePound'%}
											
											23

											
											{% else %}
											
											35
											
											{% endif %} -->

							      
							      
							      
							    </td>
							    </tr>
							    <tr class="govuk-table__row">
							      <th scope="row" class="govuk-table__header">Next payment date</th>
							      <td class="govuk-table__cell">{{ data['paymentDay'] }} April 2021</td>
							    </tr>
							  </tbody>
							</table>	
							
						<!--	<p class="statement">Make sure you have enough money in your account to cover your next payment.</p>	-->
						
									   					 
							   					 
	
					<span><a href="ddManageMVP" class="secondary-invert mt10">Manage your payment plan</a></span>
					
					<span><a href="#" class="secondary-invert">Make an additional payment</a></span>	
					
		           		             
					 </div>
				 </div>	 
				 
        </div>
        
        
      <div class="govuk-grid-column-one-half">
    
		    <div class="scenario-panel">
					 <h2 class="govuk-heading-s">Plan summary</h2>
					
					 
					 <div class="scenario-inner-panel">

					 
					 <div class="warning-message complete-alert">
								
								 	<p>A payment of {% if data['how-much2']=='oneHundredPound'%}
										    
										    &pound;334.00
								
											{% elif data['how-much2']=='fiftyPound'%}
											
											&pound;167.00
											
											{% elif data['how-much2']=='thirtyThree'%}
											
											&pound;112.00
											
											
											{% elif data['how-much2']=='twentyFivePound'%}
											
											&pound;84.00

											
											{% else %}
											
											&pound;56.00
											
											{% endif %} was taken from your account on {{ data['paymentDay'] }} March 2021</p>
								 </div>
					 	
					 			
					 		<table class="govuk-table">

							  <tbody class="govuk-table__body">

							    
							   <tr class="govuk-table__row">
							      <th scope="row" class="govuk-table__header">Total amount repaid</th>
							      <td class="govuk-table__cell">
								      
								      
								       
							    {% if data['how-much2']=='oneHundredPound'%}
										    
										    &pound;334.00
								
											{% elif data['how-much2']=='fiftyPound'%}
											
											&pound;167.00
											
											{% elif data['how-much2']=='thirtyThree'%}
											
											&pound;112.00
											
											
											{% elif data['how-much2']=='twentyFivePound'%}
											
											&pound;84.00

											
											{% else %}
											
											&pound;56.00
											
											{% endif %}
								      
								      
							      </td>
							    </tr>
							    
							    
							    
							    <tr class="govuk-table__row">
							      <th scope="row" class="govuk-table__header">Expected end of debt</th>
							      <td class="govuk-table__cell">
								      
								      <!--	{% if data['how-much2']=='oneHundredPound'%}
										    
										   1 of 6
								
											{% elif data['how-much2']=='fiftyPound'%}
											
											1 of 12
											
											{% elif data['how-much2']=='thirtyThree'%}
											
											1 of 18
											
											
											{% elif data['how-much2']=='twentyFivePound'%}
											
											1 of 24

											
											{% else %}
											
											1 of 36
											
											{% endif %} -->
											
											{% if data['how-much2']=='oneHundredPound'%}
										    
										    {{ data['paymentDay'] }} August 2021
								
											{% elif data['how-much2']=='fiftyPound'%}
											
											{{ data['paymentDay'] }} March 2022
											
											{% elif data['how-much2']=='thirtyThree'%}
											
											{{ data['paymentDay'] }} August 2022
											
											
											{% elif data['how-much2']=='twentyFivePound'%}
											
											{{ data['paymentDay'] }} March 2023

											
											{% else %}
											
											{{ data['paymentDay'] }} March 2024
											
											{% endif %}		
								      
								      
							      </td>
							    </tr>
							   

							    
							    

							   
							  </tbody>
							</table>
							
																
	
		             <span><a href="paymentHistoryDDfull" class="secondary-invert mt20">View your payment history</a></span>
	
				 
        </div>
		    </div>

        
      </div>

        
      </div>

        
        
        
        <div class="govuk-grid-row">
        
			
			
			<div class="govuk-grid-column-one-half">

		    <div class="scenario-panel">
					 <h2 class="govuk-heading-s">What you owe</h2>

					 <div class="scenario-inner-panel">
					  <p>Details of the debts you owe to DWP.</p>


		             <span><a href="debtBreakdown" class="secondary-invert dash-spacer">View details of what you owe</a></span>
					 </div>
				 </div>




        </div>







        <div class="govuk-grid-column-one-half">

		    <div class="scenario-panel">
					 <h2 class="govuk-heading-s">Help and support</h2>

					 <div class="scenario-inner-panel">
					  <p>Get help if you're struggling to pay and find<br>out what to do next.</p>

		             <span><a href="helpSupportDDplan" class="secondary-invert">Get help and support</a></span> 
					 </div>
				 </div>




        </div>

        
        
      </div>
      
     
      
            
    </div>
</div>

{% endblock %}
