
{% extends "layout-4.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}



   <!-- <div class="clear-bar">
	   		<h2 class="govuk-heading-l">Ashley Chamberlain<span>ZZ 41 54 60 Z</span></h2>
	   		<p>What you owe:
	   				<span>&pound;120.00</span></p>

	   </div> -->


	   <div class="govuk-grid-row">

        <div class="govuk-grid-column-three-quarters">


									<span class="govuk-caption-xl">Ashley Chamberlain</span>
									<h1 class="govuk-heading-xl mb30">
										The total amount you owe<br>has changed</h1>




										<div class="flexibleBanner">


											<ul class="govuk-list">
	
												<li>
													<h3>New debt amount</h3>


														<b>&pound;400.00</b>



												</li>
												<li>
													<h3>New total owed</h3>


														<b>&pound;950.00</b>



												</li>
											</ul>

											</div>
											
											
											
<p>Your monthly target will not change.</p>
<p>However, if you increase the amount you pay towards your target each month, it will clear your debt quicker.</p>
											
										
											
											<h2 class="govuk-heading-m">Details of new debt</h2>
											
							
							<div class="list-display">

									        	<h3 class="govuk-heading-m">HMRC</h3>


									        	<table class="govuk-table">
												  <caption class="govuk-table__caption"><span class="visually-hidden">Details of debt</span></caption>
												  <thead class="govuk-table__head">

												  <tbody class="govuk-table__body">
												 
												 <tr class="govuk-table__row">
												      <th scope="row" class="govuk-table__header">Amount owed</th>
												      <td class="govuk-table__cell">&pound;400.00</td>
												    </tr>
												    
												  <tr class="govuk-table__row">
												      <th scope="row" class="govuk-table__header">Debt type</th>
												      <td class="govuk-table__cell">Tax Credits overpayment</td>
												    </tr>
												    
												    <tr class="govuk-table__row">
												      <th scope="row" class="govuk-table__header">Award period ended</th>
												      <td class="govuk-table__cell">8 September 2020</td>
												    </tr>
												    

												    

												  </tbody>
												</table>

												<p>If you have any questions, you should contact HMRC directly:</p>


												<ul class="govuk-list">
												  <li>Telephone: 0345 300 3900</li>

												    <li>Monday to Friday, 10am to 4pm (closed on bank holidays)</li>
												</ul>

											<p class="govuk-body">
											  <a class="govuk-link" href="https://www.gov.uk/call-charges">Find out about call charges</a>
											</p>

											</div>



										<p class="mt30"><a href="dashboardTarget2" class="govuk-button mb0">Continue to account home</a></p>



										<!--// Struggling to pay end -->







    </div>
</div>

{% endblock %}
