
{% extends "layout-4.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}


   <!-- <div class="clear-bar">
	   		<h2 class="govuk-heading-l">Ashley Chamberlain<span>ZZ 41 54 60 Z</span></h2>
	   		<p>What you owe:
	   				<span>&pound;120.00</span></p>

	   </div> -->
	   
	   
	   <div class="govuk-grid-row">
      
        <div class="govuk-grid-column-three-quarters">
	   
	   
		<span class="back-link"><a href="javascript: history.go(-1)" class="govuk-back-link">Back</a></span>
		
	   
	   
	   
	   <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            Your Direct Debit plan is setup
          </h1>

        </div>

        <!--<p class="govuk-body">We have sent you a confirmation email.</p>-->

        <h2 class="govuk-heading-m">What happens next</h2>
        
        
        <p>You will be sent confirmation of this agreement within three working days or no later than ten working days before the first payment collection.</p>

	   <div class="govuk-inset-text">You can sign back into your account to track payments, manage your plan and get help and support.</div>
	   

        	

        
        
        <h2 class="govuk-heading-m">Plan summary</h2>
	   
	  <table class="govuk-table summary-table mb40">
										  <caption class="govuk-table__caption"><span class="visually-hidden">Payment summary</span></caption>
								
										  <tbody class="govuk-table__body">
										  
										
											  <tr class="govuk-table__row">
										      <th scope="row" class="govuk-table__header">Total amount owed</th>
										      <td class="govuk-table__cell">&pound;2000.00
										      </td>
										      
									
											 </tr>
										    
										    
								
										  <tr class="govuk-table__row">
										      <th scope="row" class="govuk-table__header">Payment breakdown</th>
										      <td class="govuk-table__cell">
											      
											      
											      
											{% if data['how-much2']=='oneHundredPound'%}
											
											<ul class="govuk-list govuk-list--bullet mb0">
										  		<li>5 payments of &pound;334.00</li>
										  		<li><span class="payDivide">1 final payment of &pound;330.00</span></li>
											</ul>							
								
											{% elif data['how-much2']=='fiftyPound'%}
											
											<ul class="govuk-list govuk-list--bullet mb0">
										  		<li>11 payments of &pound;167.00</li>
										  		<li><span class="payDivide">1 final payment of &pound;163.00</span></li>
											</ul>
											
											{% elif data['how-much2']=='thirtyThree'%}
											
											<ul class="govuk-list govuk-list--bullet mb0">
										  		<li>17 payments of &pound;112.00</li>
										  		<li><span class="payDivide">1 final payment of &pound;96.00</span></li>
											</ul>
											
											{% elif data['how-much2']=='twentyFivePound'%}
											
											<ul class="govuk-list govuk-list--bullet mb0">
										  		<li>23 payments of &pound;84.00</li>
										  		<li><span class="payDivide">1 final payment of &pound;68.00</span></li>
											</ul>
											
											{% elif data['how-much2']=='sixteenFifty'%}
											
											
											
											<ul class="govuk-list govuk-list--bullet mb0">
										  		<li>35 payments of &pound;56.00</li>
										  		<li><span class="payDivide">1 final payment of &pound;40.00</span></li>
											</ul>
											
											{% else %}
											
											<p>100 payments of &pound;20.00</p>

											
											{% endif %}
											      
											      
										      </td>
										      
										    </tr>
										    
										    
										     <tr class="govuk-table__row">
										      <th scope="row" class="govuk-table__header">First payment date</th>
										      <td class="govuk-table__cell">
											      
											      
											{{ data['paymentDay'] }} March 2021
											      
											      
										      </td>
										     
										    </tr>
										    
										    
										  										    
										    <tr class="govuk-table__row">
										      <th scope="row" class="govuk-table__header">Expected final payment date</th>
										      <td class="govuk-table__cell">
											      
											      
											{% if data['how-much2']=='oneHundredPound'%}
										    
										    {{ data['paymentDay'] }} August 2021
								
											{% elif data['how-much2']=='fiftyPound'%}
											
											{{ data['paymentDay'] }} March 2022
											
											{% elif data['how-much2']=='thirtyThree'%}
											
											{{ data['paymentDay'] }} August 2022
											
											
											{% elif data['how-much2']=='twentyFivePound'%}
											
											{{ data['paymentDay'] }} March 2023
											
											
											{% elif data['how-much2']=='sixteenFifty'%}
											
											{{ data['paymentDay'] }} March 2024

											
											{% else %}
											
											{{ data['paymentDay'] }} May 2029
											
											{% endif %}
											      
											      
										      </td>
										      
										    </tr>

								
	
								
								
								
										  </tbody>
										</table>
										
										
										<p>Your payments will show on your bank statement as <b>CEN REC GROUP DD</b>.</p>
										
										
										
		
		
										<p><a href="#">What did you think of this service? (opens in new tab)</a></p>
		
		<p><a href="../index" class="govuk-button">Finish and sign out</a></p>

        

       <!-- <p class="govuk-body">
          <a href="#" class="govuk-link">What did you think of this service?</a> (takes 30 seconds)
        </p> -->
	   
	   			

                  
    </div>
</div>

{% endblock %}



