
{% extends "layout-3a.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<span class="back-link"><a href="javascript: history.go(-1)" class="govuk-back-link">Back</a></span>


 <div class="govuk-grid-row">

        <div class="govuk-grid-column-full">

<p style="text-align: right;">Tel: 0345 300 3900<br>
Opening Times:<br>
Mon-Fri 10:00-16:00<br>
<br>
Account Holder: Ashley Chamberlain<br>
Reference Number: TC0P2020<br><br>
Date: 18/12/2020</p>
<br><br><br>
<p>Dear Ashley Chamberlain</p>

<p>National Insurance number AA_99_99_99_A</p>




<h3 class="govuk-heading-m" style="color: #28a197;">Why we are sending you this letter</h3>
<p>We previously wrote to you about your tax credits overpayment(s) or charges which are still outstanding. As these haven’t been repaid we’ve transferred the debt to the Department for Work and Pensions (DWP), or the Department for Communities (DfC) if you live in Northern Ireland, so they can recover the debt using one of their recovery methods.
It’s now the DWP or DfC’s responsibility to recover your debt.</p>

<h3 class="govuk-heading-m" style="color: #28a197;">Your tax credits overpayments</h3>
<p>We’ve checked for any tax credits overpayment(s) or charges which you need to pay back. These are shown in the table below.</p>
<p>The total amount you personally owe for the periods shown in the table is &pound;2000.00</p>
<p>If you claimed tax credits as a couple, the amount shown is your share at the date of this letter. If you have a partner, or a previous partner, we may contact them separately about their share.</p>
<p>For more information about tax credits overpayments, go to www.gov.uk/tax-credits-overpayments</p>

<h3 class="govuk-heading-m" style="color: #28a197;">What happens next</h3>
<p>You don’t need to do anything now.</p>
<p>The DWP or DfC will arrange the most suitable method of recovery with you.</p>


<h3 class="govuk-heading-m" style="color: #28a197;">Your tax credits overpayments and charges</h3>


 <table class="govuk-table summary-pay" style="width: 70%;">
		  
		  
							  <thead class="govuk-table__head">
							    <tr class="govuk-table__row">
							    
							      <th class="govuk-table__header" scope="col">Award period ended</th>
							      <th class="govuk-table__header" scope="col">Amount you owe</th>
						
							
							       
							      
							       							    
							    </tr>
							  </thead>
							  
							  <tbody class="govuk-table__body">
							    
							    <tr class="govuk-table__row">
							    
							      
							     <td class="govuk-table__cell">8 September 2020</td>							
							      <td class="govuk-table__cell">&pound;2000.00</td>
 
							    
							    </tr>
							    
							    
							  
							    
							    
							        
							  </tbody>
							</table>
<br><br><br><br>

</div>
</div>


{% endblock %}
