
{% extends "layout-3.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}



   <!-- <div class="clear-bar">
	   		<h2 class="govuk-heading-l">Ashley Chamberlain<span>ZZ 41 54 60 Z</span></h2>
	   		<p>What you owe:
	   				<span>&pound;120.00</span></p>

	   </div> -->


	   <div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">



									<h1 class="govuk-heading-xl mb30">You can no longer access this service</h1>


									<p>Alternative arrangements have been made. If you need further advice, contact Debt Management.</p>

                  <h2 class="govuk-heading-m">Debt Management</h2>
                <ul class="govuk-list">
                  <li>Telephone: 0800 916 0647</li>
                  <li>Monday to Friday, 10am to 4pm</li>
                </ul>


										<p><a href="#" class="govuk-button">Finish and sign out</a></p>



										<!--// Struggling to pay end -->







    </div>
</div>

{% endblock %}
