
{% extends "layout-4.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}



   <!-- <div class="clear-bar">
	   		<h2 class="govuk-heading-l">Ashley Chamberlain<span>ZZ 41 54 60 Z</span></h2>
	   		<p>What you owe:
	   				<span>&pound;120.00</span></p>

	   </div> -->


	   <div class="govuk-grid-row">

        <div class="govuk-grid-column-full">


									<span class="govuk-caption-xl">Ashley Chamberlain</span>
									<h1 class="govuk-heading-xl mb30">
										The amount you are paying <br>each month is too low</h1>




										<div class="flexibleBanner">


											<ul class="govuk-list">
	

												<li>
													<h3>Total amount repaid</h3>


														<b>&pound;1000.00</b>



												</li>
												
												<li>
													<h3>Monthly target</h3>


														<b>&pound;56.00</b>



												</li>
												<li>
													<h3>Average monthly payment</h3>


														<b>&pound;30.00</b>



												</li>
												
												<li>
													<h3>Expected end of debt</h3>


														<b>21 December 2025</b>



												</li>
											</ul>

											</div>
											
											
											 <div class="govuk-grid-row">
											
											<div class="govuk-grid-column-three-quarters">
											
											
											


<p>If you do not increase your payments, we will contact you to discuss your situation.</p>

<p>If you are struggling to pay more or need help and support, you need to contact us.</p>



<h3 class="govuk-heading-m">Debt Management</h3>
									  <ul class="govuk-list">
										  <li>Telephone: 0800 916 0647</li>
										  <li> Monday to Friday, 10am to 4pm (except public holidays)</li>
										</ul>
										<p class="govuk-body">
										  <a class="govuk-link" href="https://www.gov.uk/call-charges">Find out about call charges</a>
										</p>
									  
	


											</div>
											</div>
											
											
												<p class="mt20"><a href="dashboard1" class="govuk-button mb0">Continue to account home</a></p>
											
											


    </div>
</div>

{% endblock %}
