
{% extends "layout-4.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}



   <!-- <div class="clear-bar">
	   		<h2 class="govuk-heading-l">Ashley Chamberlain<span>ZZ 41 54 60 Z</span></h2>
	   		<p>What you owe:
	   				<span>&pound;120.00</span></p>

	   </div> -->


	   <div class="govuk-grid-row">

        <div class="govuk-grid-column-three-quarters">


		<span class="back-link"><a href="javascript: history.go(-1)" class="govuk-back-link">Back</a></span>




		
		
		
		
		 <form class="form" action="directDebitComms" method="post">

		    
		     <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
				    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
				      <h1 class="govuk-fieldset__heading">
				       <span class="govuk-caption-xl">Step 4 of 5</span>
					   What day of the month do you want your Direct Debit to be taken?
				      </h1>
				    </legend>
				    
				    
				<!--     <div class="govuk-inset-text mt0">

				 <p><b>If your chosen date:</b>
										 </p>

				 <ul class="govuk-list govuk-list--bullet">
										 	<li>is not present in a particular month, your payment will be taken on the last working day</li>
											<li>falls on a weekend or bank holiday, your payment will be taken on the next working day</li>
										 </ul>
										 
				     </div> -->
				
				    
				    
				   <div class="govuk-inset-text mt0">
				   
				   
				  <!--  <p>If your chosen day is not present in a particular month, your payment will be taken on the last working day.</p> -->
								<p>You cannot set up a Direct Debit between the 29th and 31st of the month.</p>
											<p>If your chosen day falls on a weekend or bank holiday, your payment will be taken on the next working day.</p>
				   
				   				    </div> 
				    
				  
				    
				    
				    <span id="passport-issued-hint" class="govuk-hint">
				      For example, enter 02 for the second day of the month
				    </span>
				   
				        <div class="govuk-form-group">
				          <label class="visually-hidden" for="paymentDay">
				            Payment day
				          </label>
				          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="paymentDay" name="paymentDay" type="text" pattern="[0-9]*" inputmode="numeric">
				        </div>

				  </fieldset>
		    

		    
		    
		    
		    <button class="govuk-button" data-module="govuk-button">Continue</button>

		    
		 </form>

								
									
									
								


									
									
									


    </div>
</div>

{% endblock %}
