
{% extends "layout-4.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}



   <!-- <div class="clear-bar">
	   		<h2 class="govuk-heading-l">Ashley Chamberlain<span>ZZ 41 54 60 Z</span></h2>
	   		<p>What you owe:
	   				<span>&pound;120.00</span></p>

	   </div> -->


	   <div class="govuk-grid-row">

        <div class="govuk-grid-column-three-quarters">


		<span class="back-link"><a href="javascript: history.go(-1)" class="govuk-back-link">Back</a></span>



									
									<form class="form" action="directDebitDay" method="post">

									
									<h1 class="govuk-heading-xl">
	   	<span class="govuk-caption-xl">Direct Debit</span>Summary</h1>
									
									
									
									
																	
																	
									 <table class="govuk-table mb40">
									 
									 <caption class="visually-hidden">Plan summary</caption>
										
								
										  <tbody class="govuk-table__body">
										  
										
											 <tr class="govuk-table__row">
										      <th scope="row" class="govuk-table__header">Total amount owed</th>
										      <td class="govuk-table__cell" colspan="2">&pound;1500.00
										      </td>
										      
									
											 </tr>
										      
										    
										    
								
										  <tr class="govuk-table__row">
										      <th scope="row" class="govuk-table__header">Payment breakdown</th>
										      <td class="govuk-table__cell">
											      
											      
											{% if data['paymentChoices']=='12Month'%}
		
											<p>12 payments of &pound;125.00</p>

											
											{% elif data['paymentChoices']=='24Month'%}
											
											<ul class="govuk-list govuk-list--bullet mb0">
										  		<li>23 payments of &pound;63.00</li>
										  		<li><span class="payDivide">1 final payment of &pound;51.00</span></li>
											</ul>

											
											{% elif data['paymentChoices']=='36Month'%}

											
											
											<ul class="govuk-list govuk-list--bullet mb0">
										  		<li>35 payments of &pound;42.00</li>
										  		<li><span class="payDivide">1 final payment of &pound;30.00</span></li>
											</ul>
											
											
											{% elif data['paymentChoices']=='48Month'%}

											<ul class="govuk-list govuk-list--bullet mb0">
										  		<li>47 payments of &pound;31.50</li>
										  		<li><span class="payDivide">1 final payment of &pound;19.50</span></li>
											</ul>
											
											{% elif data['paymentChoices']=='72Month'%}

											<ul class="govuk-list govuk-list--bullet mb0">
										  		<li>71 payments of &pound;21.00</li>
										  		<li><span class="payDivide">1 final payment of &pound;9.00</span></li>
											</ul>
											
											{% elif data['paymentChoices']=='25Month'%}

											<p>100 payments of &pound;15.00</p>
											
											
											{% else %}
											
											<p class="mb0">200 payments of &pound;{{ data['affordable-amount'] }}</p>
											
											{% endif %}
											      
											      
										      </td>
										      
										      <td class="govuk-table__cell changeDetails"><a href="directAmountEdit">Change</a></td>
			
										      	
										    </tr>
										    
										    
										     <tr class="govuk-table__row">
										      <th scope="row" class="govuk-table__header">Payment dates</th>
										      <td class="govuk-table__cell dtList">
										      
										      
										      <dl>
										      	<dt>First payment:</dt>
										      	<dd>{{ data['paymentDay'] }} July 2021</dd>
										      	<dt>Expected final payment:</dt>
										      	<dd>
										      	
										      	{% if data['paymentChoices']=='12Month'%}
										    
										    {{ data['paymentDay'] }} July 2022
								
											{% elif data['paymentChoices']=='24Month'%}
											
											{{ data['paymentDay'] }} July 2023
											
											{% elif data['paymentChoices']=='36Month'%}
											
											{{ data['paymentDay'] }} July 2024
											
											
											{% elif data['paymentChoices']=='48Month'%}
											
											{{ data['paymentDay'] }} July 2025
											
											{% elif data['paymentChoices']=='72Month'%}
											
											{{ data['paymentDay'] }} July 2027
											
											{% elif data['paymentChoices']=='twentyFive'%}
											
											{{ data['paymentDay'] }} January 2029

											
											{% else %}
											
											{{ data['paymentDay'] }} December 2038
											
											{% endif %}
										      	
										      	</dd>
										      </dl>
											      
		
											      
											      
										      </td>
										      
										      <td class="govuk-table__cell changeDetails"><a href="directDebitDayEdit">Change</a></td>
							
										     
										    </tr>

										    
										    
										     <tr class="govuk-table__row">
										      <th scope="row" class="govuk-table__header">Account details</th>
										      <td class="govuk-table__cell dtList">
										      <dl>
										      	<dt>Account name</dt>
										      	<dd>{{ data['accountName'] }}</dd>
										      	<dt>Sort code</dt>
										      	<dd>{{ data['sortCode'] }}</dd>
										      	<dt>Account number</dt>
										      	<dd>{{ data['accountNumber'] }}</dd>
										      </dl>
										      
										      </td>
										      <td class="govuk-table__cell changeDetails"><a href="directDebitDetailsEdit">Change</a></td>
											 </tr>

								
										  </tbody>
										</table>
										
										
										
										
										
										
										
										
										<div class="ddGuarantee">
											<h3 class="govuk-heading-s">The Direct Debit Guarantee</h3>
											
											<ul class="govuk-list govuk-list--bullet">
												<li>This Guarantee is offered by all banks and building societies that accept instructions to pay Direct Debits.
</li>
												<li>If there are any changes to the amount, date or frequency of your Direct Debit DWP will notify you 14 working
days in advance of your account being debited or as otherwise agreed. If you request DWP to collect a payment,
confirmation of the amount and date will be given to you at the time of request</li>

												<li>If an error is made in the payment of your Direct Debit, by DWP or your bank or building society,
you are entitled to a full and immediate refund of the amount paid from your bank or building society.
&ndash; If you receive a refund you are not entitled to, you must pay it back when DWP asks you to.</li>

												<li>You can cancel a Direct Debit at any time by simply contacting your bank or building society.
Written confirmation may be required. Please also notify us.</li>
					


											</ul>
										</div>
										
										
										
										
										<h2 class="govuk-heading-m">Declaration</h2>

		<p>By continuing, you confirm that you will:</p>

		<ul class="govuk-list govuk-list--bullet mb30">
			<li>pay the agreed monthly amount</li>
			<li>let us know immediately if you’re struggling to keep up with payments</li>
		</ul>
										
	

		<div class="govuk-warning-text">
		  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
		  <strong class="govuk-warning-text__text">
		    <span class="govuk-warning-text__assistive">Warning</span>
		    If you do not keep up with your payments, we will ask your employer to make deductions from your pay or ask a debt collection agency to collect this money for us.
		  </strong>
		</div>


			<p><a href="directFinish" class="govuk-button">Continue</a></p>							
									
		    </form>


							




    </div>
</div>

{% endblock %}
