
{% extends "layout-4.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}



   <!-- <div class="clear-bar">
	   		<h2 class="govuk-heading-l">Ashley Chamberlain<span>ZZ 41 54 60 Z</span></h2>
	   		<p>What you owe:
	   				<span>&pound;120.00</span></p>

	   </div> -->


	   <div class="govuk-grid-row">

        <div class="govuk-grid-column-three-quarters">


		<span class="back-link"><a href="javascript: history.go(-1)" class="govuk-back-link">Back</a></span>




		
		
		
		
		 <form class="form" action="directDebitMain" method="post">

		    
		  
		  <div class="govuk-form-group">
<fieldset class="govuk-fieldset" aria-describedby="how-contacted-conditional-hint">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
	<h1 class="govuk-fieldset__heading">
		<span class="govuk-caption-xl">Step 5 of 5</span>
	  Would you like us to contact you about any unsuccessful payments?
	</h1>
  </legend>

				  
  
   
				  
				  
  <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
	<div class="govuk-radios__item">
	  <input class="govuk-radios__input" id="commsYes" name="commsSign" type="radio" value="commsYes" data-aria-controls="conditional-how-contacted-conditional">
	  <label class="govuk-label govuk-radios__label" for="commsYes">
		Yes
	  </label>
	</div>
	<div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-how-contacted-conditional">


			<fieldset class="govuk-fieldset" aria-describedby="citizenship-conditional-hint">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
	<h1 class="govuk-fieldset__heading">
	  How would you like to be contacted?
	</h1>
  </legend>

  <div class="govuk-checkboxes" data-module="govuk-checkboxes">
	<div class="govuk-checkboxes__item">
	  <input class="govuk-checkboxes__input" id="commsEmail" name="commsChoice" type="checkbox" value="commsEmail" data-aria-controls="conditional-citizenship-conditional">
	  <label class="govuk-label govuk-checkboxes__label" for="commsEmail">
		Email
	  </label>
	</div>
	<div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-citizenship-conditional">
	  <div class="govuk-form-group">
		<label class="govuk-label" for="commsEmailAddress">
		  Email address
		</label>
		<input class="govuk-input govuk-input--width-20" id="commsEmailAddress" name="commsEmailAddress" type="email" spellcheck="false">
	  </div>

	</div>

	<div class="govuk-checkboxes__item">
	  <input class="govuk-checkboxes__input" id="commsText" name="commsChoice" type="checkbox" value="commsText" data-aria-controls="conditional-citizenship-conditional-3">
	  <label class="govuk-label govuk-checkboxes__label" for="commsText">
		Text message
	  </label>
	</div>
	<div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-citizenship-conditional-3">
	  <div class="govuk-form-group">
		<label class="govuk-label" for="commsTextNumber">
		  UK mobile phone number
		</label>
		<input class="govuk-input govuk-input--width-20" id="commsTextNumber" name="commsTextNumber" type="tel">
	  </div>

	</div>
  </div>
</fieldset>


	</div>


	<div class="govuk-radios__item">
	  <input class="govuk-radios__input" id="commsNo" name="commsSign" type="radio" value="commsNo">
	  <label class="govuk-label govuk-radios__label" for="commsNo">
		No
	  </label>
	</div>

</fieldset>
</div>
		    

		    
		    
		    
		    <button class="govuk-button" data-module="govuk-button">Continue</button>

		    
		 </form>

								
									
									
								


									
									
									


    </div>
</div>

{% endblock %}
