
{% extends "layout-4.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}



   <!-- <div class="clear-bar">
	   		<h2 class="govuk-heading-l">Ashley Chamberlain<span>ZZ 41 54 60 Z</span></h2>
	   		<p>What you owe:
	   				<span>&pound;120.00</span></p>

	   </div> -->


	   <div class="govuk-grid-row">

        <div class="govuk-grid-column-three-quarters">


		<span class="back-link"><a href="javascript: history.go(-1)" class="govuk-back-link">Back</a></span>
		

			
			<form class="form" action="directDebitDetailsTemp" method="post">
	
				<div class="govuk-form-group">
	  <fieldset class="govuk-fieldset">
	
		<legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
			  <h1 class="govuk-fieldset__heading">
				  <span class="govuk-caption-xl">Step 3 of 5</span>
			  Payment plan review
			  </h1>
			</legend>
			
			
			
			<div class="flexibleBanner">

				<ul class="govuk-list">

					<li>
						<h3>Payment amount</h3>
						<b>										    
			   &pound;30.00
				
				</b>
					</li>

					<li>
						<h3>Proposed plan review date</h3>
						<b>
					{{ data['paymentDay'] }} October 2022
						
						
						</b>
					</li>

					
				</ul>
				
				</div>	
			
			
			<p>This is a discussion about your financial situation where we will:</p>
			  <ul class="govuk-list govuk-list--bullet">
				 <!-- <li>contact you via text or email a week before your review date to let you know when it will take place</li>-->
				  <li>call you on your review date to see how much you can afford based on your income and expenditure over the past 12 months</li>
				  <li>set up a new payment plan and let you know if a further review will be needed</li>
				</ul>
				
				
				
			
			
			<div class="govuk-form-group mt30">
				  <h3 class="govuk-label-wrapper"><label class="govuk-label govuk-label--m" for="account-number">
					 What is the preferred contact number for your review?
					</label>
				  </h3>
				  <div id="account-number-hint" class="govuk-hint">
					Enter a UK phone number 
				  </div>
				  <input class="govuk-input govuk-input--width-20" id="account-number" name="account-number" type="text" spellcheck="false" aria-describedby="account-number-hint" pattern="[0-9]*" inputmode="numeric">
				</div>
			
			
			
	  </fieldset>
				</div>
			
			
			
			
			
			
			
			
			<div class="govuk-inset-text">
		<!--<p>Once your plan is set up, you can sign in to choose a higher payment plan or pay additional amounts.</p>-->
			<p>If you are able to increase your plan, a review may not be needed.</p>	
			</div>
			
		<button class="govuk-button" data-module="govuk-button">
			Continue
		  </button>
</form>
						


    </div>
</div>

{% endblock %}
