
{% extends "layout-4.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}


   <!-- <div class="clear-bar">
	   		<h2 class="govuk-heading-l">Ashley Chamberlain<span>ZZ 41 54 60 Z</span></h2>
	   		<p>What you owe:
	   				<span>&pound;120.00</span></p>

	   </div> -->


	   <div class="govuk-grid-row">

        <div class="govuk-grid-column-three-quarters">


		<span class="back-link"><a href="javascript: history.go(-1)" class="govuk-back-link">Back</a></span>

	   <h1 class="govuk-heading-xl">You are about to make a <br>payment of &pound;{{ data['payment-amount'] }}</h1>
	   
	   <p>Make sure you have enough money in your account to cover this payment.</p>
	   


			<p><a href="flexibleFinish" class="govuk-button">Continue to pay</a></p>




    </div>
</div>

{% endblock %}
