
{% extends "layout-3a.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}



   <!-- <div class="clear-bar">
	   		<h2 class="govuk-heading-l">Ashley Chamberlain<span>ZZ 41 54 60 Z</span></h2>
	   		<p>What you owe:
	   				<span>&pound;120.00</span></p>

	   </div> -->


	   <div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

	   <h1 class="govuk-heading-xl">Repay and manage benefit money you owe
		   <span class="govuk-caption-xl startCaption">(Formerly Repay my debt)</span>
	   </h1>

	   <p>Use this service to:</p>

      <ul class="govuk-list govuk-list--bullet">
      	<li>view a breakdown of what you owe</li>
		<li>set up a Direct Debit, flexible payment plan or pay your debt in full</li>
		<li>manage your payment plan</li>
		<li>get help and support in dealing with your debt</li>
      </ul>
	  
	  
	  <h2 class="govuk-heading-m">Before you start</h2>
	  
	  <div class="govuk-inset-text">
		  <!--<h3 class="govuk-heading-s mb10">Register an account</h3>-->
		  <p>If you have not used this service before or have previously signed in using your security code and date of birth, you will need to <a href="indexGuard.html">register an account</a>.</p>
		  
		  </div>
	  
	  
	  <p>If you want to make a payment, have your card ready – credit card payments will incur extra charges, debit card payments will not.</p>
	  <p>You will need your mobile phone as we will send you a security code each time you sign in.</p>

      <!--<div class="govuk-inset-text">
     You must clear your debt within the timeframe you agreed</div>-->

	

	<!-- <details class="govuk-details mt20" data-module="govuk-details">
		  <summary class="govuk-details__summary">
		    <span class="govuk-details__summary-text">
		    I have problems with my letter
		    </span>
		  </summary>
		  <div class="govuk-details__text">
		  <p>If you've lost your letter or having problems with it, contact us.</p>


        <ul class="govuk-list">
		  <li>Telephone: 0800 5871322</li>
		  <li>Monday to Friday, 9am to 5pm</li>
		</ul>
		<p class="govuk-body">
		  <a class="govuk-link" href="https://www.nidirect.gov.uk/articles/contacting-08-and-03-numbers">Find out about call charges</a>
		</p>



		  </div>
		</details> -->
		
		
		
			
			<p class="govuk-body">This service is also available in <a class="govuk-link" href="#">Welsh (Cymraeg)</a>.</p>
			
								
								
						<!--		<p class="govuk-body">This service is also available in <a class="govuk-link" href="#">Welsh (Cymraeg)</a>.</p> -->
		
<!--https://dth-prototype.herokuapp.com/auth/v7/sign-in?service-name=Repay%20my%20debt%20to%20DWP-->
		<a href="signIN.html" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
  Start now
  <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
    <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
  </svg>
</a>




	


    </div>
</div>

{% endblock %}
