
{% extends "layout.html" %}



{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}




{% block content %}






  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    
      <div class="clear-bar stripped-border">
	   		<div class="identifier">
	   			<h3 class="govuk-heading-l">Harvey Chamberlain</h3>
	   		</div>
	   		<div class="govuk-inset-text">
			 Total amount owed: <span class="total-amount">&pound;630.00</span>
			</div>
	   		
	   	
	   </div> 
	   
	   
	   <div class="warning-message info-alert">
							 <h5 class="govuk-heading-s">Your payment was successful</h5>
							 	<p>This may take up to 24 hours to show on your account.</p>
							 </div>


      <div class="govuk-grid-row">
      
      
      
      
      
        <div class="govuk-grid-column-one-half">
    
		    <div class="scenario-panel">
					 <h2 class="govuk-heading-s">Make a payment</h2>
					 
					 <div class="scenario-inner-panel">
					

							    
							    <ul class="govuk-list govuk-list--bullet">
								 	<li>Pay the full amount</li>
								 	<li>Pay a flexible amount</li>
								 	<li>Set up a fixed payment plan</li>
			
								 </ul>
							   					 
	
		            <span><a href="choosePayment" class="secondary-invert dash-pay">Choose a payment option</a></span>		             
					 </div>
				 </div>	 
				 
        </div>
        
        
        
        <div class="govuk-grid-column-one-half">
    
		    <div class="scenario-panel">
					 <h2 class="govuk-heading-s">Payment history</h2>
					 
					 <div class="scenario-inner-panel">
					 	
					 			
					 		<table class="govuk-table">

							  <tbody class="govuk-table__body">
							    <tr class="govuk-table__row">
							      <th scope="row" class="govuk-table__header">Last payment</th>
							      <td class="govuk-table__cell">£50.00</td>
							    </tr>
							    <tr class="govuk-table__row">
							      <th scope="row" class="govuk-table__header">Date</th>
							      <td class="govuk-table__cell">21 February 2020</td>
							    </tr>
							   <!-- <tr class="govuk-table__row">
							      <th scope="row" class="govuk-table__header">Total payments made</th>
							      <td class="govuk-table__cell">6</td>
							    </tr> -->

							   
							  </tbody>
							</table>
							
									
	
		             <span><a href="paymentHistory" class="secondary-invert">View your full payment history</a></span>
		             
					 </div>
				 </div>	 
				 
        </div>

        
      </div>
      
      
      
            
 
        
        
        
        <div class="govuk-grid-row">
        
         <!--<div class="govuk-grid-column-one-half">
    
		    <div class="scenario-panel">
					 <h2 class="govuk-heading-s">Total amount remaining</h2>
					 
					 <div class="scenario-inner-panel">
					 	
					 		 <div class="govuk-grid-row">
      
						 		 <div class="govuk-grid-column-one-half">
						 		 	
						 		 	 <h3 class="govuk-heading-m">&pound;630.00</h3>
						 		 	 
						 		 </div>
						 		 
						 		 <div class="govuk-grid-column-one-half">
						 		 	
						 		 	 <h3 class="govuk-heading-s right-align"><span>Debt end date:</span>21 March 2021</h3>
						 		 	 
						 		 </div>
						 		 
					 		 </div>
					 
	
		             <span><a href="#" class="secondary-invert">Make an additional payment</a></span>	        	 	          
					 </div>
				 </div>	 
				 
        </div> -->
        
        
        
        
        
        <div class="govuk-grid-column-one-half">
    
		    <div class="scenario-panel">
					 <h2 class="govuk-heading-s">Help and support</h2>
					 
					 <div class="scenario-inner-panel">
					  <p>Get help if you're struggling to pay and find<br>out what to do next.</p>
					 
		             <span><a href="helpSupport1" class="secondary-invert">Get help and support</a></span> 
					 </div>
				 </div>	 
				 
        </div>

        
        
      </div>
      
     
      
            
    </div>
</div>

{% endblock %}
