
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}


    
   <!-- <div class="clear-bar">
	   		<h2 class="govuk-heading-l">Harvey Chamberlain<span>ZZ 41 54 60 Z</span></h2>
	   		<p>What you owe:
	   				<span>&pound;630.00</span></p>

	   </div> -->
	   
	   
	   <div class="govuk-grid-row">
      
        <div class="govuk-grid-column-two-thirds">
	   
	   
		<span class="back-link"><a href="javascript: history.go(-1)" class="govuk-back-link">Back</a></span>
		
	   <h1 class="govuk-heading-xl">Set up a fixed payment plan</h1>
	   
	    <div class="govuk-inset-text">
		 Total amount owed: <span class="total-amount">&pound;630.00</span>
		 </div>
	   
			<p>To set up a Direct Debit payment, contact Debt Management.</p>
			<p>You will need your bank account details.</p>
			
			
			<h2 class="govuk-heading-m">Debt management</h2>
			<ul class="govuk-list">
					    <li>Telephone: 020 7946 0101</li>
					    <li>Textphone: 020 7946 0102</li>
					    <li>Monday to Friday, 9am to 5pm (except public holidays)</li>
					  </ul>


			                  
    </div>
</div>

{% endblock %}



