
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}


    
   <!-- <div class="clear-bar">
	   		<h2 class="govuk-heading-l">Harvey Chamberlain<span>ZZ 41 54 60 Z</span></h2>
	   		<p>What you owe:
	   				<span>&pound;630.00</span></p>

	   </div> -->
	   
	   
	   <div class="govuk-grid-row">
      
        <div class="govuk-grid-column-full">
	   
	   
		<span class="back-link"><a href="javascript: history.go(-1)" class="govuk-back-link">Back</a></span>
		
		
		
		<div class="attention-card">
		
			<h1 class="govuk-heading-l mb50">How flexible payments work</h1>
			
			<ol class="govuk-list">
				<li>Pay what you can afford</li>
				<li class="two">You can make as many payments as you like but you must make at least one payment per month</li>
				<li class="three">Helpful monthly payment reminders via text message at the start of each month</li>
				<li class="four">If you do not keep up with your payments, we may ask your employer to make deductions from your pay or ask a debt collection agency to collect this money for us</li>
			</ol>
			
			<p><a href="flexibleStart" class="attention-invert">Continue</a></p>
			
		</div>

                  
    </div>
</div>

{% endblock %}



