
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    
    
    <span class="back-link"><a href="javascript: history.go(-1)" class="govuk-back-link">Back</a></span>
    
    <div class="key-details-bar">
    		<h2 class="govuk-heading-m">Harvey Oxlade Chamberlain</h2>
	   		<ul class="govuk-list">
	   			<li>
	   				Total amount owed:
	   				<span>&pound;14,000.00</span>
	   			</li>
	   			<li>
	   				Monthly payment:
	   				<span>&pound;45.00</span>
	   				<!--<button class="govuk-button" data-module="govuk-button">Change</button>-->
	   			</li>
	   			<li>
	   				Next payment due:
	   				<span class="date">21 March 2030</span>
	   			</li>
	   		</ul>
	   </div>
	   
	   
	   <div class="key-details-bar">
	   		<h2 class="govuk-heading-m">Harvey Chamberlain</h2>
	   		<ul class="govuk-list">
	   			<li>
	   				Total amount owed:
	   				<span>&pound;14,000.00</span>
	   			</li>

	   		</ul>
	   </div>
	   
	   
	   
	   <div class="key-details-bar">
    		<h3 class="govuk-heading-l">Harvey Oxlade Chamberlain</h3>
	   		<ol class="govuk-list">
	   			<li>
	   				Total amount owed:
	   				<span>&pound;14,000.00</span>
	   			</li>
	   			<li>
	   				Monthly payment:
	   				<span>&pound;45.00</span>
	   				<!--<button class="govuk-button" data-module="govuk-button">Change</button>-->
	   			</li>
	   			<li>
	   				Next payment due:
	   				<span class="date">21 March 2020</span>
	   			</li>
	   			<li>
	   				Debt repayment date:
	   				<span class="date">21 March 2030</span>
	   			</li>
	   		</ol>
	   </div>

	   
	    <div class="clear-bar">
	   		<h2 class="govuk-heading-l">Harvey Chamberlain</h2>
	   		<p>What you owe:
	   				<span>&pound;14,000.00</span></p>

	   </div>

    </div>
</div>

{% endblock %}
