
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <h1 class="govuk-heading-xl">
        Prototype scenarios
       </h1>{{releaseVersion | log }}
       
       <div class="scenario-panel mt40">
			 <h2 class="govuk-heading-s">Version 9.0 &ndash; It's all about DD - IN PROGRESS</h2>
			 
			 
			 <div class="scenario-inner-panel">
			 
			  <p>27 November 2020 &ndash; onwards</p>
			  
			  
			   <ul class="govuk-list govuk-list--bullet">
			   	<li>Full DD journey</li>
			 </ul>
			 
			 
			 <p><a href="scenario-19/start" class="secondary-invert">Start scenario</a></p>
			 
			<!-- <h3 class="govuk-heading-s">Flexible plan scenarios</h3>
             
             <ol class="govuk-list govuk-list--number">
             	<li><a href="scenario-19/accountUpdating">Returning 3 days later (15th Nov)</a></li>
             	<li><a href="scenario-19/dashboard1">Returning 8 days later (20th Nov)</a></li>
             	<li><a href="scenario-19/dashboardTarget">Returning 14 days later (26th Nov)</a></li>
             	<li><a href="scenario-19/targetSplash">Introducing monthly targets</a></li>
             </ol> -->
             
              <h3 class="govuk-heading-s">Dashboards</h3>
             
             <ol class="govuk-list govuk-list--number">
             	<li><a href="scenario-19/dashboardDebit">Direct Debit dashboard</a></li>
             	<li><a href="scenario-19/dashboard1">Flexible Plan dashboard</a></li>
             </ol>
             
             <h3 class="govuk-heading-s">Communications</h3>
             
             <ol class="govuk-list govuk-list--number">
             	<li><a href="scenario-19/lbaView">Letter from DWP</a></li>
             	<!--<li><a href="scenario-19/lbaViewHMRC">Letter from HMRC</a></li> -->
             	<li><a href="scenario-19/textMessage">Text message &ndash; middle of month</a></li>
             	<li><a href="scenario-19/textMessage2">Text message &ndash; no payment made</a></li>
             </ol> 


			 
              
			 </div>
		 </div>
       
       
       
       
       
        <div class="scenario-panel mt40 lab-tested">
			 <h2 class="govuk-heading-s">Version 8.0 &ndash; Introducing targets &ndash; screen tested</h2>
			 
			 
			 <div class="scenario-inner-panel">
			 
			  <p>12 October 2020 &ndash; 27 November 2020</p>
			  
			  
			   <ul class="govuk-list govuk-list--bullet">
			   	<li>Targets introduced within flexible payment flow</li>
			 	<li>Updated flexible dashboard &amp; content improvements</li>
			 </ul>
			 
			 
			 <p><a href="scenario-18/start" class="secondary-invert">Start scenario</a></p>
			 
			 <h3 class="govuk-heading-s">Flexible plan scenarios</h3>
             
             <ol class="govuk-list govuk-list--number">
             	<li><a href="scenario-18/accountUpdating">Returning 3 days later (15th Nov)</a></li>
             	<li><a href="scenario-18/dashboard1">Returning 8 days later (20th Nov)</a></li>
             	<li><a href="scenario-18/dashboardTarget">Returning 14 days later (26th Nov)</a></li>
             	<li><a href="scenario-18/targetSplash">Introducing monthly targets</a></li>
             </ol>
             
              <h3 class="govuk-heading-s">New debt scenarios</h3>
             
             <ol class="govuk-list govuk-list--number">
             	<li><a href="scenario-18/debtChange1">Login to your account &ndash; ND scenario</a></li>
             </ol>
             
             <h3 class="govuk-heading-s">Communications</h3>
             
             <ol class="govuk-list govuk-list--number">
             	<li><a href="scenario-18/lbaView">Letter from DWP</a></li>
             	<li><a href="scenario-18/lbaViewHMRC">Letter from HMRC</a></li>
             	<li><a href="scenario-18/textMessage">Text message &ndash; middle of month</a></li>
             	<li><a href="scenario-18/textMessage2">Text message &ndash; no payment made</a></li>
             </ol>


			 
              
			 </div>
		 </div>
       
       
       
       
        <div class="scenario-panel mt40 lab-tested">
			 <h2 class="govuk-heading-s">Version 7.0 &ndash; Targets &amp; Multiple debts &ndash; screen tested</h2>
			 
			 
			 <div class="scenario-inner-panel">
			 
			  <p>23 September 2020 &ndash; 12 October 2020</p>
			  
			  
			   <ul class="govuk-list govuk-list--bullet">
			 	<li>Simplified DD journey</li>
			 	<li>Flexible payment plan setup</li>
			 	<li>Initial payments</li>
			 	<li>New debt splash page</li>
			 </ul>
			 
			 
			 <p><a href="scenario-17/start" class="secondary-invert">Start scenario</a></p>
			 
			 <h3 class="govuk-heading-s">Alternate scenarios</h3>
             
             <ol class="govuk-list govuk-list--number">
             	<!--<li><a href="scenario-17/flexSuggestedTarget">Suggested amount in targets</a></li>-->
             	<li><a href="scenario-17/planSetup">Login before plan starts</a></li>
             	<li><a href="scenario-17/dashboard1">Day 1 - active plan</a></li>
             	<!-- <li><a href="scenario-17/accountUpdating">Login to your account &ndash; account updating</a></li> -->
             	<li><a href="scenario-17/debtChange1">Login to your account &ndash; new debt added</a></li>
             	<!--<li><a href="scenario-14/noSignIn">No sign in</a></li>-->
             </ol>
             
             <h3 class="govuk-heading-s">Communications</h3>
             
             <ol class="govuk-list govuk-list--number">
             	<li><a href="scenario-17/lbaView">Letter from DWP</a></li>
             	<li><a href="scenario-17/textMessage">Text message notification</a></li>
             </ol>


			 
              
			 </div>
		 </div>
       
       
       
       
        <div class="scenario-panel mt40 lab-tested">
			 <h2 class="govuk-heading-s">Version 6.0 &ndash; return of DD &ndash; phone tested</h2>
			 
			 
			 <div class="scenario-inner-panel">
			 
			  <p>3 August 2020 &ndash; 20 September 2020</p>
			  
			  
			   <ul class="govuk-list govuk-list--bullet">
			 	<li>Direct debit payment option</li>
			 	<li>Direct debit dashboard view</li>
			 	<li>Flexible plan &ndash; monthly payment targets</li>
			 	<li>Management of new debts</li>
			 </ul>
			 
			 
			 <p><a href="scenario-16/start" class="secondary-invert">Start scenario</a></p>
			 
			 <h3 class="govuk-heading-s">Alternate scenarios</h3>
             
             <ol class="govuk-list govuk-list--number">
             	<li><a href="scenario-16/accountUpdating">Login to your account &ndash; account updating</a></li>
             	<li><a href="scenario-16/debtChange1">Login to your account &ndash; new debt added</a></li>
             	<li><a href="scenario-16/dashboardDebit">Login to your account &ndash; DD dashboard</a></li>
             	<!--<li><a href="scenario-14/noSignIn">No sign in</a></li>-->
             </ol>
             
             <h3 class="govuk-heading-s">Communications</h3>
             
             <ol class="govuk-list govuk-list--number">
             	<li><a href="scenario-16/lbaView">Letter from DWP</a></li>
             	<li><a href="scenario-16/textMessage">Text message notification</a></li>
             </ol>


			 
              
			 </div>
		 </div>
       
       


	    <div class="scenario-panel mt40 lab-tested">
			 <h2 class="govuk-heading-s">Version 5.0 &ndash; flexible plan &ndash; phone tested</h2>
			 
			 
			 <div class="scenario-inner-panel">
			 
			  <p>15 July 2020 &ndash; 31 July 2020</p>
			  
			  
			   <ul class="govuk-list govuk-list--bullet">
			 	<li>Flexible plan &ndash; Language update</li>
			 	<li>Suggested payments</li>
			 </ul>
			 
			 
			 <p><a href="scenario-15/start" class="secondary-invert">Start scenario</a></p>
			 
			 <h3 class="govuk-heading-s">Alternate scenarios</h3>
             
             <ol class="govuk-list govuk-list--number">
             	<li><a href="scenario-15/accountUpdating">Login to your account &ndash; account updating</a></li>
             	<li><a href="scenario-15/dashboard3">Login to your account &ndash; this month</a></li>
             	<li><a href="scenario-15/dashboard1">Login to your account &ndash; next month</a></li>
             	<li><a href="scenario-15/debt-paid">Returning customer &ndash; paid in full</a></li>
             	<li><a href="scenario-15/debt-paid-flex">Returning customer &ndash; flexible plan</a></li>
             	<!--<li><a href="scenario-14/noSignIn">No sign in</a></li>-->
             </ol>
             
             <h3 class="govuk-heading-s">Communications</h3>
             
             <ol class="govuk-list govuk-list--number">
             	<li><a href="scenario-15/lbaView">Letter from DWP</a></li>
             	<li><a href="scenario-15/textMessage">Text message notification</a></li>
             </ol>


			 
              
			 </div>
		 </div>	
       
       
       
        <div class="scenario-panel mt40 lab-tested">
			 <h2 class="govuk-heading-s">Version 4.0 &ndash; phone tested</h2>
			 
			 
			 <div class="scenario-inner-panel">
			 
			  <p>25 June 2020 &ndash; 8 July 2020</p>
			  
			  
			   <ul class="govuk-list govuk-list--bullet">
			 	<li>Payment reminders &ndash; Text and email</li>
			 	<li>Debt repaid pages &ndash; Full and Flexible end journeys</li>
			 	<li>Flexible approach &ndash; Language update</li>
			 </ul>
			 
			 
			 <p><a href="scenario-14/start" class="secondary-invert">Start scenario</a></p>
			 
			 <h3 class="govuk-heading-s">Alternate scenarios</h3>
             
             <ol class="govuk-list govuk-list--number">
             	<li><a href="scenario-14/dashboard1">Dashboard &ndash; monthly payment is due</a></li>
             	<li><a href="scenario-14/dashboard3">Dashboard &ndash; payment made</a></li>
             	<li><a href="scenario-14/debt-paid">Paid in full &ndash; Debt cleared &ndash; return journey</a></li>
             	<li><a href="scenario-14/debt-paid-flex">Flexible plan &ndash; Debt cleared &ndash; return journey</a></li>
             	<!--<li><a href="scenario-14/noSignIn">No sign in</a></li>-->
             </ol>
             
             <h3 class="govuk-heading-s">Communications</h3>
             
             <ol class="govuk-list govuk-list--number">
             	<li><a href="scenario-14/lbaView">LBA</a></li>
             	<li><a href="scenario-14/textMessage">Text message</a></li>
             </ol>


			 
              
			 </div>
		 </div>	
		 
		 
		  <div class="scenario-panel mt40">
			 <h2 class="govuk-heading-s">Gov pay journeys</h2>
			 
			 
			 <div class="scenario-inner-panel">

             
             <ol class="govuk-list govuk-list--number">
             	<li><a href="govpay/declined">Payment declined</a></li>
             	<li><a href="govpay/govError">Error with GovPay</a></li>
             </ol>

             
			 </div>
		 </div>	 
		 
		 
		 
		 
		 <div class="scenario-panel mt40 mvpJourney">
			 <h2 class="govuk-heading-s">Version 3.0 &ndash; MVP journey</h2>
			 
			 
			 <div class="scenario-inner-panel">
			 
			  <p>Agreed MVP journey</p>

			 
             <p><a href="scenario-13/start" class="secondary-invert">View scenario</a></p> 
             
             
             <h3 class="govuk-heading-s">Alternate user journeys</h3>
             
             <ol class="govuk-list govuk-list--number">
             	<li><a href="scenario-13/dashboard">First monthly payment is due</a></li>
             	<li><a href="scenario-13/dashboard-paid">A monthly payment has been made</a></li>
             	<li><a href="scenario-13/debt-paid">User logs in after paying in full</a></li>
             </ol>

             
			 </div>
		 </div>	 
       
       
       
       
       
        <div class="scenario-panel mt40 lab-tested">
			 <h2 class="govuk-heading-s">Version 2.0 &ndash; MVP journey &ndash; lab tested</h2>
			 
			 
			 <div class="scenario-inner-panel">
			 
			  <p>Lab session – 12 March 2020</p>

			 
			 <ul class="govuk-list govuk-list--bullet">
			 	<li>Addition of email reminders</li>
			 	<li>More detailed help and support provided</li>
			 	<li>Content changes on flexible payments</li>
			 	<li>Simple payment history view</li>
			 	<li>LBA updated with direct debit option and information about flexible payments</li>
			 </ul>
			 
             <p><a href="mvp-test2" class="secondary-invert">View scenarios</a></p> 
			 </div>
		 </div>	   
       
       
       
       
       
       <div class="scenario-panel mt40 lab-tested">
			 <h2 class="govuk-heading-s">Version 1.0 &ndash; MVP journey &ndash; Lab tested</h2>
			 
			 
			 <div class="scenario-inner-panel">
			 
			 <p>Lab session – 27 February 2020</p>
			 
			 <ul class="govuk-list govuk-list--bullet">
			 	<li>Allowing citizens to pay in a flexible way</li>
			 	<li>Next steps: help and support</li>
			 </ul>
			 
             <p><a href="mvp-test" class="secondary-invert">View scenarios</a></p> 
            
			 </div>
		 </div>	   
       
       
       
       <div class="scenario-panel">
			 <h2 class="govuk-heading-s">Understand what you owe</h2>
			 
			 <div class="scenario-inner-panel">
			 <ul class="govuk-list">
			 	<li><b>Problem:</b> Users don't understand their debt</li>
			 	<li><b>We want:</b> Users to accept and acknowledge their debt to increase understanding</li>
			 	<li><b>We'll know:</b> Users will then make a clear informed decision on how to proceed</li>
			 </ul>
			 
             <p><a href="scenario-7/index2" class="secondary-invert">Start scenario</a></p> 
			 </div>
		 </div>	
       
       
       
		  <div class="scenario-panel">
			 <h2 class="govuk-heading-s">Payment Dashboard</h2>
			 
			 <div class="scenario-inner-panel">
			 <ul class="govuk-list govuk-list--bullet">
			 	<li>Allowing citizens to manage their debt will give them a feeling of ownership.</li>
			 </ul>
			 
             <p><a href="scenario-4/index2" class="secondary-invert">Start scenario</a></p> 
			 </div>
		 </div>	   
      
    
          
      
    <div class="scenario-panel">
			 <h2 class="govuk-heading-s">First arrival</h2>
			 
			 <div class="scenario-inner-panel">
			 <ul class="govuk-list govuk-list--bullet">
			 	<li>I'm here to understand why i owe the debt</li>
			 	<li>Help me pay</li>
			 </ul>
			 
             <p><a href="scenario-2/index" class="secondary-invert">Start scenario</a></p> 
			 </div>
		 </div>	  
      
      
      
	<div class="scenario-panel">
			 <h2 class="govuk-heading-s">Key details design pattern</h2>
			 
			 <div class="scenario-inner-panel">
			 <ul class="govuk-list govuk-list--bullet">
			 	<li>Things we are testing</li>
			 	<li>Hypothesis</li>
			 </ul>
			 
             <p><a href="scenario-3/index" class="secondary-invert">Start scenario</a></p> 
			 </div>
		 </div>	

      
    </div>
</div>

{% endblock %}
