
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Prototype scenarios
       </h1>{{releaseVersion | log }}
       
       
       
       
        <div class="scenario-panel mt40">
			 <h2 class="govuk-heading-s">Version 3.0 &ndash; MVP journey</h2>
			 
			 
			 <div class="scenario-inner-panel">
			 
			  <p>13 March 2020 &ndash; ongoing</p>

			 
			 <ul class="govuk-list govuk-list--bullet">
			 	<li>Repeat payments</li>
			 	<li>Minimum payment for flexible option</li>
			 	<li>Help and support content changes</li>
			 </ul>
			 
             <p><a href="scenario-12/index" class="secondary-invert">View scenarios</a></p> 
			 </div>
		 </div>	 
       
       
       
       
       
        <div class="scenario-panel mt40 lab-tested">
			 <h2 class="govuk-heading-s">Version 2.0 &ndash; MVP journey &ndash; lab tested</h2>
			 
			 
			 <div class="scenario-inner-panel">
			 
			  <p>Lab session – 12 March 2020</p>

			 
			 <ul class="govuk-list govuk-list--bullet">
			 	<li>Addition of email reminders</li>
			 	<li>More detailed help and support provided</li>
			 	<li>Content changes on flexible payments</li>
			 	<li>Simple payment history view</li>
			 	<li>LBA updated with direct debit option and information about flexible payments</li>
			 </ul>
			 
             <p><a href="mvp-test2" class="secondary-invert">View scenarios</a></p> 
			 </div>
		 </div>	   
       
       
       
       
       
       <div class="scenario-panel mt40 lab-tested">
			 <h2 class="govuk-heading-s">Version 1.0 &ndash; MVP journey &ndash; Lab tested</h2>
			 
			 
			 <div class="scenario-inner-panel">
			 
			 <p>Lab session – 27 February 2020</p>
			 
			 <ul class="govuk-list govuk-list--bullet">
			 	<li>Allowing citizens to pay in a flexible way</li>
			 	<li>Next steps: help and support</li>
			 </ul>
			 
             <p><a href="mvp-test" class="secondary-invert">View scenarios</a></p> 
            
			 </div>
		 </div>	   
       
       
       
       <div class="scenario-panel">
			 <h2 class="govuk-heading-s">Understand what you owe</h2>
			 
			 <div class="scenario-inner-panel">
			 <ul class="govuk-list">
			 	<li><b>Problem:</b> Users don't understand their debt</li>
			 	<li><b>We want:</b> Users to accept and acknowledge their debt to increase understanding</li>
			 	<li><b>We'll know:</b> Users will then make a clear informed decision on how to proceed</li>
			 </ul>
			 
             <p><a href="scenario-7/index2" class="secondary-invert">Start scenario</a></p> 
			 </div>
		 </div>	
       
       
       
		  <div class="scenario-panel">
			 <h2 class="govuk-heading-s">Payment Dashboard</h2>
			 
			 <div class="scenario-inner-panel">
			 <ul class="govuk-list govuk-list--bullet">
			 	<li>Allowing citizens to manage their debt will give them a feeling of ownership.</li>
			 </ul>
			 
             <p><a href="scenario-4/index2" class="secondary-invert">Start scenario</a></p> 
			 </div>
		 </div>	   
      
    
          
      
    <div class="scenario-panel">
			 <h2 class="govuk-heading-s">First arrival</h2>
			 
			 <div class="scenario-inner-panel">
			 <ul class="govuk-list govuk-list--bullet">
			 	<li>I'm here to understand why i owe the debt</li>
			 	<li>Help me pay</li>
			 </ul>
			 
             <p><a href="scenario-2/index" class="secondary-invert">Start scenario</a></p> 
			 </div>
		 </div>	  
      
      
      
	<div class="scenario-panel">
			 <h2 class="govuk-heading-s">Key details design pattern</h2>
			 
			 <div class="scenario-inner-panel">
			 <ul class="govuk-list govuk-list--bullet">
			 	<li>Things we are testing</li>
			 	<li>Hypothesis</li>
			 </ul>
			 
             <p><a href="scenario-3/index" class="secondary-invert">Start scenario</a></p> 
			 </div>
		 </div>	

      
    </div>
</div>

{% endblock %}
